<div class="grid table-demo">
    <div class="col-12">
        <div class="card">
            <h2>System statistics</h2>
            <hr>
            <div class="statistic-type">All time</div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">Total food in the system: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalFood}}</span>
                        
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total banned food in the system: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalBannedFood}}</span>
                        
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total food reports in the system: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalFoodReports}}</span>
                        
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total pending food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalPendingFoodReports}}</span>
                        
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total approved food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalApprovedFoodReports}}</span>
                        
                        <div class="data-percent">
                            My data: {{myStatistics.totalApprovedFoodReports}}
                        </div>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total not approved food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalNotapprovedFoodReports}}</span>
                        
                        <div class="data-percent">
                            My data: {{myStatistics.totalNotapprovedFoodReports}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <p-chart type="bar" [data]="data" [options]="options"></p-chart> -->
            <hr>
            <div class="statistic-type">From date to date</div>
            <div class="col-12 md:col-12">
                <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                    <label style="margin-right: 1rem">Data time: </label>
                    <p-calendar [(ngModel)]="systemCalendarRangeDates" selectionMode="range" [readonlyInput]="true"
                        [maxDate]="currentDate" (onClose)="onCloseCalendar(1,$event)"></p-calendar>
                </div>
            </div>

            <div class="overview-list">
                <!-- <div class="overview-item">
                    <span>
                        <div class="title">Total food in the system: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalFood}}</span>
                    </div>
                </div> -->
                <div class="overview-item">
                    <span>
                        <div class="title">Total food reports in the system: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalFoodReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total pending food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalPendingFoodReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total approved food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalApprovedFoodReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total not approved food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalNotApprovedFoodReports}}</span>
                    </div>
                </div>
            </div>
            <p-chart *ngIf="isDisplaySystemChart" type="line" [data]="systemData" [options]="options"></p-chart>

        </div>



        <div class="card">
            <h2>My statistics</h2>
            <div class="col-12 md:col-12">
                <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                    <label style="margin-right: 1rem">Data time: </label>
                    <p-calendar [(ngModel)]="myCalendarRangeDates" selectionMode="range" [readonlyInput]="true"
                        [maxDate]="currentDate" (onClose)="onCloseCalendar(2,$event)"></p-calendar>
                </div>
            </div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">Approved food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{myData.totalApprovedFoodReports}}</span>

                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Not approved food reports: </div>
                    </span>
                    <div class="data">
                        <span>{{myData.totalNotApprovedFoodReports}}</span>

                    </div>
                </div>
            </div>

            <p-chart *ngIf="isDisplayMyChart" type="line" [data]="myData" [options]="options"></p-chart>
        </div>
    </div>

</div>
<cmis-loading></cmis-loading>