<div class="grid table-demo">
    <div class="col-12">
        <div class="card">
            <h2>{{'dashboadMenuScreen.Systemstatistics' | translate}}</h2>
            <hr>
            <div class="statistic-type">{{'dashboadMenuScreen.Alltime' | translate}}</div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalfoodinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalFood}}</span>

                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalbannedfoodinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalBannedFood}}</span>

                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalfoodreportsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalFoodReports}}</span>

                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalpendingfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalPendingFoodReports}}</span>

                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalapprovedfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalApprovedFoodReports}}</span>

                        <div class="data-percent">
                            {{'dashboadMenuScreen.Mydata' | translate}}: {{myStatistics.totalApprovedFoodReports}}
                        </div>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalnotapprovedfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalNotapprovedFoodReports}}</span>

                        <div class="data-percent">
                            {{'dashboadMenuScreen.Mydata' | translate}}: {{myStatistics.totalNotapprovedFoodReports}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <p-chart type="bar" [data]="data" [options]="options"></p-chart> -->
            <hr>
            <div class="statistic-type">{{'dashboadMenuScreen.Fromdatetodate' | translate}}</div>
            <div class="col-12 md:col-12">
                <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                    <label style="margin-right: 1rem">{{'dashboadMenuScreen.Datatime' | translate}}: </label>
                    <p-calendar [(ngModel)]="systemCalendarRangeDates" selectionMode="range" [readonlyInput]="true"
                        [maxDate]="currentDate" (onClose)="onCloseCalendar(1,$event)"></p-calendar>
                </div>
            </div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalfoodinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalFood}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalbannedfoodinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalBannedFood}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalfoodreportsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalFoodReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalpendingfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalPendingFoodReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalapprovedfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalApprovedFoodReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalnotapprovedfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalNotApprovedFoodReports}}</span>
                    </div>
                </div>
            </div>
            <p-chart *ngIf="isDisplaySystemChart" type="line" [data]="systemData" [options]="options"></p-chart>

        </div>



        <div class="card">
            <h2>{{'dashboadMenuScreen.Mystatistics' | translate}}</h2>
            <div class="col-12 md:col-12">
                <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                    <label style="margin-right: 1rem">{{'dashboadMenuScreen.Datatime' | translate}}: </label>
                    <p-calendar [(ngModel)]="myCalendarRangeDates" selectionMode="range" [readonlyInput]="true"
                        [maxDate]="currentDate" (onClose)="onCloseCalendar(2,$event)"></p-calendar>
                </div>
            </div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalapprovedfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{myData.totalApprovedFoodReports}}</span>

                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadMenuScreen.Totalnotapprovedfoodreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{myData.totalNotApprovedFoodReports}}</span>

                    </div>
                </div>
            </div>

            <p-chart *ngIf="isDisplayMyChart" type="line" [data]="myData" [options]="options"></p-chart>
        </div>
    </div>

</div>
<cmis-loading></cmis-loading>