<div class="chat-container p-d-flex">
  <div class="user-list p-d-flex p-flex-column">
    <ul>
      <li *ngFor="let user of users" (click)="selectUser(user)" [class.selected]="selectedUser === user">
        {{ user }}
      </li>
    </ul>
  </div>
  <div class="chat-messages p-d-flex p-flex-column">
    <div *ngFor="let message of messages" class="message p-mb-2">
      <span class="message-sender p-font-weight-bold">{{ message.sender }}:</span>
      <span class="message-content">{{ message.content }}</span>
    </div>
  </div>
</div>
