<div>
  <div class="flex align-items-center	justify-content-center	min-h-screen">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-5">
        <div class="text-center mb-5">
          <img src="assets/image/Logo.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">{{'loginRegisterScreen.WelcomeFUFood' | translate}}</div>
            <span class="text-600 font-medium line-height-3">{{'loginRegisterScreen.Youhaveanaccount' | translate}}</span>
            <a href="login" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">{{'loginRegisterScreen.Login' | translate}}!</a>
            <div class="text-900 text-3xl font-medium mb-3">{{'loginRegisterScreen.Register' | translate}}</div>
        </div>

        <div *ngIf="showForm">
          <form [formGroup]="formregister" (ngSubmit)="onSubmit()">
            <div class="flex align-items-center justify-content-between mb-3 md:w-5">
            <select formControlName="roleId" name="role" [(ngModel)]="selectedRole" class="custom-select" (change)="onRoleChange($event)">
              <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
            </select>
          </div>
          <div *ngIf="selectedRoleId ==='2'">
            <div class="flex items-center">
              <label for="shopname" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.ShopName' | translate}}*</label>
              <div *ngIf="isShopnameTouched && formregister.get('shopName').errors?.required" class="invalid-feedback">-{{'loginRegisterScreen.ShopNameisrequired' | translate}}!</div>

           </div>
           <input id="shopname" formControlName="shopName" type="text" placeholder="{{'loginRegisterScreen.ShopName' | translate}}" pInputText class="w-full mb-3"(focus)="isShopnameTouched = true" (blur)="showShopNameError()">
           <div class="flex items-center">
             <label for="lastname"  class="block text-900 font-medium mb-2">{{'loginRegisterScreen.ShopAdress' | translate}}*</label>
             <div *ngIf="isShopAddressTouched && formregister.get('shopAddress').errors?.required" class="invalid-feedback">-{{'loginRegisterScreen.ShopAddressisrequired' | translate}}!</div>
           </div>
           <input id="shopaddress" type="text" formControlName="shopAddress" placeholder="{{'loginRegisterScreen.ShopAdress' | translate}}" pInputText class="w-full mb-3" (focus)="isShopAddressTouched = true" (blur)="showShopAddressError()">
         <div>
          <div class="container">
            <!-- <form> -->
              <select class="custom-select" id="province" (change)="onProvinceChange()">
                <option value="" disabled selected>{{'loginRegisterScreen.SelectProvince' | translate}}</option>
                <option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}</option>
              </select>

              <select class="custom-select" id="district" (change)="onDistrictChange()">
                <option value="" disabled selected>{{'loginRegisterScreen.Selectdistrict' | translate}}</option>
                <option *ngFor="let district of districts" [value]="district.code">{{ district.name }}</option>
              </select>

              <select class="custom-select" id="ward" (change)="onWardChange()">
                <option value="" disabled selected>{{'loginRegisterScreen.Selectward' | translate}}</option>
                <option *ngFor="let ward of wards" [value]="ward.code">{{ ward.name }}</option>
              </select>
            <!-- </form> -->

            <!-- <h2 id="result">{{ selectedResult }}</h2> -->
          </div>
          <div class="flex items-center">
            <label for="businessCode" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.BusinessCode' | translate}}*</label>
            <div *ngIf="isbusinessCodeTouched && formregister.get('businessCode').errors?.required" class="invalid-feedback">-{{'loginRegisterScreen.BusinessCodeisrequired' | translate}}!</div>

         </div>
         <input id="businessCode" type="text" formControlName="businessCode" placeholder="{{'loginRegisterScreen.BusinessCode' | translate}}" pInputText class="w-full mb-3" (focus)="isbusinessCodeTouched = true" (blur)="showbusinessCodeError()">
          <label for="shopname" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.BusinessLicense' | translate}}*</label>
          <p-fileUpload class=" w-full"
              #fileUploader
              [files]="uploadedFiles"
              [customUpload]="true"
              (onSelect)="handleFileSelection($event)"
              (onRemove)="handleFileRemoval($event)"
              (onClear)="handleAllFilesClear($event)"
              [multiple]="true" accept="image/*" [maxFileSize]="25000000 "
              [showUploadButton]="false" >
              <ng-template pTemplate="content">
                  <!-- <ul *ngIf="uploadedFiles.length > 0">
                      <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
                  </ul> -->
              </ng-template>
             </p-fileUpload></div>


          </div>
            <div *ngIf="selectedRoleId !=='2'" class="flex items-center">
               <label for="firstname" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.FirstName' | translate}}*</label>
               <div *ngIf="isFirstnameTouched && formregister.get('firstName').errors?.required" class="invalid-feedback">-{{'loginRegisterScreen.Firstnameisrequired' | translate}}!</div>
            </div>
            <input *ngIf="selectedRoleId !=='2'" autocomplete="new-first-field" id="firstname" formControlName="firstName" type="text" placeholder="{{'loginRegisterScreen.FirstName' | translate}}" pInputText class="w-full mb-3"(focus)="isFirstnameTouched = true" (blur)="showFirstnameError()">
            <div *ngIf="selectedRoleId !=='2'" class="flex items-center">
              <label for="lastname"  class="block text-900 font-medium mb-2">{{'loginRegisterScreen.LastName' | translate}}*</label>
              <div *ngIf="isLastnameTouched && formregister.get('lastName').errors?.required" class="invalid-feedback">-{{'loginRegisterScreen.LastNameisrequired' | translate}}!</div>
            </div>
            <input *ngIf="selectedRoleId !=='2'" autocomplete="new-last-field" id="lastname" type="text" formControlName="lastName" placeholder="{{'loginRegisterScreen.LastName' | translate}}" pInputText class="w-full mb-3" (focus)="isLastnameTouched = true" (blur)="showLastnameError()">
            <div class="flex items-center">
              <label for="phone"  class="block text-900 font-medium mb-2">{{'loginRegisterScreen.PhoneNumber' | translate}}*</label>
              <div *ngIf="isphoneNumberTouched && formregister.get('phoneNumber').errors?.required" class="invalid-feedback">-{{'loginRegisterScreen.Phoneisrequired' | translate}}!</div>
            </div>
            <input autocomplete="new-phone-field" id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="{{'loginRegisterScreen.PhoneNumber' | translate}}" pInputText class="w-full mb-3" (focus)="isphoneNumberTouched = true" (blur)="showPhoneNumberError()">

            <div class="flex items-center">
              <label for="email1" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.Email' | translate}}*</label>
            <div *ngIf="formregister.get('email')!.hasError('email')" class="invalid-feedback">-{{'loginRegisterScreen.IncorrectEmailformat' | translate}}!</div>
            </div>
            <input id="email1" type="text"  placeholder="{{'loginRegisterScreen.Email' | translate}}" formControlName="email" pInputText class="w-full mb-3" autocomplete="new-email-field">
            <label for="password1" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.Password' | translate}}*</label>
            <input id="password1" type="password"  placeholder="{{'loginRegisterScreen.Password' | translate}}" formControlName="password" pInputText class="w-full mb-3">
            <div *ngIf="formregister.get('password')!.hasError('invalidPasswordLength')" class="invalid-feedback">-{{'loginRegisterScreen.Passwordminimum8' | translate}}!</div>
            <div *ngIf="formregister.get('password')!.hasError('missingUppercaseLetter')" class="invalid-feedback">-{{'loginRegisterScreen.Passwordcontainsatleast1uppercasecharacter' | translate}}!</div>
            <div *ngIf="formregister.get('password')!.hasError('missingNumber')" class="invalid-feedback">-{{'loginRegisterScreen.Passwordcontainsatleast1numbercharacter' | translate}}!</div>
            <div class="flex items-center">
              <label for="password2" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.ConfirmPassword' | translate}}*</label>
            <div *ngIf="formregister.get('confirmPassword')!.hasError('passwordMismatch')" class="invalid-feedback">-{{'loginRegisterScreen.DoesnotmatchPassword' | translate}}</div>
            </div>
            <input id="password2" type="password"  placeholder="{{'loginRegisterScreen.ConfirmPassword' | translate}}" formControlName="confirmPassword" pInputText class="w-full mb-3">
            <label *ngIf="selectedRoleId !=='2'" for="gender">{{'loginRegisterScreen.Gender' | translate}}*:</label>
            <input *ngIf="selectedRoleId !=='2'" type="radio" formControlName="gender" name="gender" checked value="male" [id]="'gender' + 'male'" />
            <label *ngIf="selectedRoleId !=='2'" [for]="'gender' + 'male'">{{'loginRegisterScreen.Male' | translate}}</label>
            <input *ngIf="selectedRoleId !=='2'" type="radio" formControlName="gender" name="gender" value="female" [id]="'gender' + 'female'" />
            <label *ngIf="selectedRoleId !=='2'" [for]="'gender' + 'female'">{{'loginRegisterScreen.Female' | translate}}</label>
            <!-- <div class="flex align-items-center justify-content-between mb-3 md:w-5">
              <select formControlName="roleId" name="role" [(ngModel)]="selectedRole" class="custom-select" (change)="onRoleChange($event)">
                <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
              </select>
            </div>
            <div *ngIf="selectedRoleId ==='2'">
              <div class="flex items-center">
                <label for="shopname" class="block text-900 font-medium mb-2">ShopName*</label>
                <div *ngIf="isShopnameTouched && formregister.get('shopName').errors?.required" class="invalid-feedback">-ShopName is required!</div>
             </div>
             <input id="shopname" formControlName="shopName" type="text" placeholder="ShopName" pInputText class="w-full mb-3"(focus)="isShopnameTouched = true" (blur)="showShopNameError()">
             <div class="flex items-center">
               <label for="lastname"  class="block text-900 font-medium mb-2">ShopAdress*</label>
               <div *ngIf="isShopAddressTouched && formregister.get('shopAddress').errors?.required" class="invalid-feedback">-ShopAddress is required!</div>
             </div>
             <input id="shopaddress" type="text" formControlName="shopAddress" placeholder="ShopAddress" pInputText class="w-full mb-3" (focus)="isShopAddressTouched = true" (blur)="showShopAddressError()">
            </div> -->
            <div *ngIf="selectedRoleId ==='4'" class="flex items-center">
              <label for="gender" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.IdCard' | translate}}*</label>
              <div *ngIf="isIdCardTouched&& formregister.get('idcardNumber')!.errors?.required" class="invalid-feedback">-ID Card Number is required!</div>
            </div>
            <input *ngIf="selectedRoleId ==='4'" autocomplete="new-first-field" id="idcardNumber" formControlName="idcardNumber" type="text" placeholder="ID Card Number" pInputText class="w-full mb-3"(focus)="isIdCardTouched = true" (blur)="showIdCardCodeError()">
            <div *ngIf="selectedRoleId ==='4'" class="flex items-center">
              <label for="gender" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.FontIDCard' | translate}}*</label>
            </div>
              <div *ngIf="selectedRoleId ==='4'" class="row">
                <div class="col-md-6">
                  <div class="flex align-items-center">
                    <p-fileUpload class="w-full"
                                  #fileUploader1
                                  [files]="uploadedFilesShippper"
                                  [customUpload]="true"
                                  (onSelect)="handleFileSelection1($event)"
                                  (onRemove)="handleFileRemoval1($event)"
                                  (onClear)="handleAllFilesClear1($event)"
                                  [multiple]="false"
                                  accept="image/*" [maxFileSize]="25000000 "
                                  [showUploadButton]="false">
                      <ng-template pTemplate="content">
                        <!-- Nội dung tùy chỉnh (nếu cần) -->
                      </ng-template>
                    </p-fileUpload>
                  </div>
                </div>
                <div *ngIf="selectedRoleId ==='4'" class="flex items-center">
                  <label for="gender" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.BackIDCard' | translate}}*</label>
                </div>
                <div class="col-md-6">
                  <div class="flex align-items-center">
                    <p-fileUpload class="w-full"
                                  #fileUploader2
                                  [files]="uploadedFilesShippper2"
                                  [customUpload]="true"
                                  (onSelect)="handleFileSelection2($event)"
                                  (onRemove)="handleFileRemoval2($event)"
                                  (onClear)="handleAllFilesClear2($event)"
                                  [multiple]="false"
                                  accept="image/*" [maxFileSize]="25000000 "
                                  [showUploadButton]="false">
                      <ng-template pTemplate="content">
                        <!-- Nội dung tùy chỉnh (nếu cần) -->
                      </ng-template>
                    </p-fileUpload>
                  </div>
                </div>
              </div>



            <div *ngIf="selectedRoleId !=='2'" class="flex items-center">
              <label for="gender" class="block text-900 font-medium mb-2">{{'loginRegisterScreen.Dateofbirth' | translate}}*</label>
              <div *ngIf="formregister.get('birthDate')!.hasError('ageRestriction')" class="invalid-feedback">-{{'loginRegisterScreen.Onlyusersover18yearsoldcanusethesystem' | translate}}!</div>
            </div>
            <div *ngIf="selectedRoleId !=='2'" class="flex align-items-center justify-content-between mb-3 md:w-5">
              <div class="flex align-items-center">
                <p-calendar type="date" name="birthDate" [showIcon]="true" formControlName="birthDate" dateFormat="dd/m/yy" class="w-full" ></p-calendar>
            </div>
            <div *ngIf="selectedRoleId ==='2'" class="flex align-items-center justify-content-between mb-3 md:w-5">
              <div class="flex align-items-center">
                2
              <p-fileUpload class=" w-full"
              #fileUploader
              [files]="uploadedFiles"
              [customUpload]="true"
              (onSelect)="handleFileSelection($event)"
              (onRemove)="handleFileRemoval($event)"
              (onClear)="handleAllFilesClear($event)"
              [multiple]="true" accept="image/*" [maxFileSize]="25000000 "
              [showUploadButton]="false" >
              <ng-template pTemplate="content">
                  <!-- <ul *ngIf="uploadedFiles.length > 0">
                      <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
                  </ul> -->
              </ng-template>
             </p-fileUpload>
             </div>

            </div>
            </div>


            <div *ngIf="errorregister" class="invalid-feedback">{{ errorregister }}</div>
            <button type="submit" pButton pRipple label="{{'loginRegisterScreen.SignUp' | translate}}" icon="pi pi-user-plus" class="w-full p-button-success"></button>


          </form>
        </div>
        <div *ngIf="!showForm">
          <p>{{'loginRegisterScreen.showForm' | translate}}</p>
        </div>

    </div>

</div>

<p-toast [baseZIndex]='99999' key="app-register"></p-toast>

<cmis-loading></cmis-loading>
