<div class="grid table-demo">
    <div class="col-12">
        <div class="card">
            <h5>{{'foodSellerScreen.FoodManagement' | translate}}</h5>

            <p-table #dt [value]="lstFood" dataKey="id"
                     styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                     [showCurrentPageReport]="true"
                     [paginator]="lstFood.length > 5" [filterDelay]="0" [rowsPerPageOptions]="[5,10,25,50]"
                     currentPageReportTemplate="Total: {totalRecords} foods"
                     [globalFilterFields]="['name']" responsiveLayout="scroll"
                     [loading]="loading"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row align-items-center flex-wrap justify-content-between ">
                        <div class="flex-1">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"  #textInput 
                                       (input)="dt.filterGlobal(textInput.value, 'contains')"
                                       placeholder="{{'foodSellerScreen.SearchFoodbyname' | translate}}"/>
                            </span>
                        </div>

                        <div class="flex-4 flex flex-row flex-wrap justify-content-center gap-3" style="gap: 0.5rem">
                            <div class="flex align-items-center justify-content-center">
                                <button pButton type="button" label="{{'button.Addnew' | translate}}" icon="pi pi-plus"
                                        (click)="onCreateFood()"
                                        style="width: auto;"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="foodId">
                            <div class="flex justify-content-between align-items-center">
                                <!-- {{'foodSellerScreen.id' | translate}}  -->
                                {{'label.No' | translate}}
                                <!-- <p-sortIcon field="foodId"></p-sortIcon>
                                <p-columnFilter type="numeric" field="foodId" display="menu"
                                                class="ml-auto"></p-columnFilter> -->
                            </div>
                        </th>
                        <th pSortableColumn="categoryName">
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.CategoryName' | translate}}
                                <p-sortIcon field="categoryName"></p-sortIcon>
                                <p-columnFilter type="text" field="categoryName" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="name">
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.FoodName' | translate}}
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter type="text" field="name" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="description">
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.FoodDescription' | translate}}
                                <p-sortIcon field="description"></p-sortIcon>
                                <p-columnFilter type="text" field="description" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="unitPrice">
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.UnitPrice' | translate}}
                                <p-sortIcon field="unitPrice"></p-sortIcon>
                                <p-columnFilter type="text" field="unitPrice" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="rating">
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.Rating' | translate}}
                                <p-sortIcon field="rating"></p-sortIcon>
                                <p-columnFilter type="numeric" field="rating" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="createdDate">
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.CreatedDate' | translate}}
                                <p-sortIcon field="createdDate"></p-sortIcon>
                                <p-columnFilter type="date" field="createdDate" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.Images' | translate}}
                            </div>
                        </th>
                        <th pSortableColumn="status">
                            <div class="flex justify-content-between align-items-center">
                                {{'foodSellerScreen.Status' | translate}}
                                <p-sortIcon field="status"></p-sortIcon>
                                <p-columnFilter type="text" field="status" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div 
                                 class="flex justify-content-between align-items-center">
                                 {{'foodSellerScreen.Action' | translate}}
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-food let-rowIndex="rowIndex">
                    <tr class="p-selectable-row">
                        <!-- <td>
                            <p-tableCheckbox [value]="post"></p-tableCheckbox>
                        </td> -->
                        <td>
                            <span class="p-column-title">{{'label.No' | translate}}</span>
                            <!-- <span class="post-id" style="cursor: pointer; color: green;" (click)="onViewFood(food.foodId)">{{food.foodId}} - {{rowIndex}}</span> -->
                            <span class="post-id" style="cursor: pointer; color: #0000ee;" (click)="onViewFood(food.foodId)">{{rowIndex + 1}}</span>

                        </td>
                        <td>
                            <span class="p-column-title">{{'foodSellerScreen.CategoryName' | translate}}</span>
                            {{food.categoryName}}
                        </td>
                        <td >
                            <span class="p-column-title">{{'foodSellerScreen.FoodName' | translate}}</span>
                            {{food.name}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'foodSellerScreen.FoodDescription' | translate}}</span>
                            <span class="post-content" style="color: #7b4741" (click)="viewContentDetail(food)" [innerHTML]="food.description"></span>
                        </td>
                        <td >
                            <span class="p-column-title">{{'foodSellerScreen.UnitPrice' | translate}}</span>
                            {{food.unitPrice | currency : "VND" }}
                        </td>
                        <td>
                            <span class="p-column-title">{{'foodSellerScreen.Rating' | translate}}</span>
                            <p-rating [ngModel]="food.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td>
                        <td>
                            <span class="p-column-title">{{'foodSellerScreen.CreatedDate' | translate}}</span>
                            {{food.createdDate}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'foodSellerScreen.Images' | translate}}</span>
                            <ng-container *ngIf="food.imagesBase64.length !== 0; else noneImage" >
                                <button pButton pRipple icon="pi pi-images"
                                        (click)="onDisplayImagesDialog(food, $event)"
                                        class="p-button-rounded p-button-text p-button-raised"></button>
                            </ng-container>
                            <ng-template #noneImage ><span class="no-image">No Image</span></ng-template>
                        </td>
                        <td>
                            <span class="p-column-title">{{'foodSellerScreen.Status' | translate}}</span>
                            <p-tag [value]="food.status" [severity]="getSeverity(food.status)"></p-tag>
                        </td>
                        <td style="text-align: center">
                            <div class="flex justify-content-center flex-wrap" style="gap: 0.5rem">
                                <div *ngIf="food.status !== 'Ban'" class="flex align-items-center justify-content-center">
                                    <button pButton pRipple icon="pi pi-pencil"
                                            (click)="onUpdateFood(food)"
                                            class="p-button-rounded p-mr-2"></button>
                                </div>
                                <ng-container *ngIf="food.status !== 'Ban' && food.status !== 'NotApproved'">
                                    <div *ngIf="food.status === 'Display'; else statusHide" class="flex align-items-center justify-content-center">
                                        <button pButton pRipple icon="pi pi-eye-slash"
                                                (click)="onHideFood(food, $event)"
                                                class="p-button-rounded p-button-danger"></button>
                                    </div>
                                    <ng-template #statusHide>
                                        <div class="flex align-items-center justify-content-center">
                                            <button pButton pRipple icon="pi pi-eye"
                                                    (click)="onDisplayFood(food, $event)"
                                                    class="p-button-rounded p-button-danger"></button>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">{{'foodSellerScreen.emptymessage' | translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [header]="headerDialog" [(visible)]="displayDialogEditAddFood"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [maximizable]="true"
          (onHide)="onHideDialogEditAdd()"
          >
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="card">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <b>{{'foodSellerScreen.Foodinformation' | translate}}</b>
                    </div>
                </p-divider>
                <div class="grid">
                    <ng-container *ngIf="foodModel.foodId > 0; else addModel">
                        <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                            <span class="p-input-icon-left p-float-label" style="width: 100%">
                                <input type="text" class="w-full" [(ngModel)]="foodModel.foodId"
                                       [disabled]="true" pInputText
                                       [class.ng-invalid] = "!foodValidation.isFoodIdValid"
                                        [class.ng-dirty] = "!foodValidation.isFoodIdValid"
                                       />
                                <label>{{'foodSellerScreen.id' | translate}}*</label>
                            </span>
                            <small [style.display]="foodValidation.isFoodIdValid ? 'none !important' : 'block !important'" 
                            id="username2-help" class="p-error block">{{foodValidation.foodIdMessage}}</small>
                        </div>
                        <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                            <span class="p-input-icon-left p-float-label" style="width: 100%">
                                <input type="text" class="w-full" [(ngModel)]="foodModel.name"
                                        pInputText
                                        [class.ng-invalid] = "!foodValidation.isNameValid"
                                        [class.ng-dirty] = "!foodValidation.isNameValid"
                                        />
                                <label>{{'foodSellerScreen.Name' | translate}}*</label>
                            </span>
                            <small [style.display]="foodValidation.isNameValid ? 'none !important' : 'block !important'" 
                            id="username2-help" class="p-error block">{{foodValidation.nameMessage}}</small>
                        </div>
                    </ng-container>
                    <ng-template #addModel>
                        <div class="col-12 mb-2 lg:col-12 mb-lg-0">
                            <span class="p-input-icon-left p-float-label" style="width: 100%">
                                <input type="text" 
                                        class="w-full" 
                                        [(ngModel)]="foodModel.name"
                                        pInputText
                                        [class.ng-invalid] = "!foodValidation.isNameValid"
                                        [class.ng-dirty] = "!foodValidation.isNameValid"
                                        />
                                <label>{{'foodSellerScreen.Name' | translate}}*</label>
                            </span>
                            <small [style.display]="foodValidation.isNameValid ? 'none !important' : 'block !important'" 
                            id="username2-help" class="p-error block">{{foodValidation.nameMessage}}</small>
                        </div>
                    </ng-template>
                    <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                        <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <input type="number" step="5000" min="0"  class="w-full" [(ngModel)]="foodModel.unitPrice"
                                    pInputText
                                    [class.ng-invalid] = "!foodValidation.isUnitPriceValid"
                                    [class.ng-dirty] = "!foodValidation.isUnitPriceValid"
                                    />
                            <label>{{'foodSellerScreen.UnitPrice' | translate}}*</label>
                        </span>
                        <small [style.display]="foodValidation.isUnitPriceValid ? 'none !important' : 'block !important'" 
                            id="username2-help" class="p-error block">{{foodValidation.unitPriceMessage}}</small>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                        <span class="p-input-icon-left p-float-label">
                            <p-dropdown [options]="lstCategory" [(ngModel)]="selectedCategory"
                                        [showClear]="true"
                                        [autoDisplayFirst]="false"
                                        optionLabel="name"
                                        [class.ng-invalid] = "!foodValidation.isCategoryIdValid"
                                        [class.ng-dirty] = "!foodValidation.isCategoryIdValid"
                                        ></p-dropdown>
                            <label>{{'foodSellerScreen.CategoryName' | translate}}*</label>
                        </span>
                        <small [style.display]="foodValidation.isCategoryIdValid ? 'none !important' : 'block !important'" 
                            id="username2-help" class="p-error block">{{foodValidation.categoryIdMessage}}</small>
                    </div>


                    <div class="col-12 mb-2 lg:col-12 mb-lg-0">
                        <label>{{'foodSellerScreen.FoodDescription' | translate}}*</label>
                        <p-editor [(ngModel)]="foodModel.description" 
                            [style]="{ height: '15rem' }"
                            [class.ng-invalid] = "!foodValidation.isDescriptionValid"
                            [class.ng-dirty] = "!foodValidation.isDescriptionValid"
                            >
                        </p-editor>
                        <!-- <span class="p-input-icon-left p-float-label" style="width: 100%" >
                            <textarea class="w-full" rows="10" cols="60" 
                                pInputTextarea 
                                [(ngModel)]="foodModel.description"
                                [class.ng-invalid] = "!foodValidation.isDescriptionValid"
                                [class.ng-dirty] = "!foodValidation.isDescriptionValid"
                                ></textarea>
                            <label>{{'foodSellerScreen.FoodDescription' | translate}}*</label>
                        </span> -->
                        <small [style.display]="foodValidation.isDescriptionValid ? 'none !important' : 'block !important'" 
                            id="username2-help" class="p-error block">{{foodValidation.descriptionMessage}}</small>
                    </div>
                    <div class="col-12 mb-2 lg:col-12 mb-lg-0">
                        <label>{{'foodSellerScreen.Images' | translate}}*</label>
					    <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <!-- <p-fileUpload [multiple]="true" accept="image/*" maxFileSize="25000000 " showUploadButton="false" style="width: 50%">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="foodModel.images.length">
                                    </ul>
                                </ng-template>
                            </p-fileUpload> -->
                            <p-fileUpload class=" w-full" 
                                #fileUploader
                                [files]="uploadedFiles"
                                [customUpload]="true"
                                (onSelect)="handleFileSelection($event)" 
                                (onRemove)="handleFileRemoval($event)"
                                (onClear)="handleAllFilesClear($event)"
                                [multiple]="true" accept="image/*" [maxFileSize]="25000000" 
                                [showUploadButton]="false" >
                                <ng-template pTemplate="content">
                                    <!-- <ul *ngIf="uploadedFiles.length > 0">
                                        <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
                                    </ul> -->
                                </ng-template>
                            </p-fileUpload>
                            
                            
					    </span>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center flex-wrap" style="text-align: center">
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="{{'button.save' | translate}}" icon="pi pi-save"
                        (click)="onSaveFood()"
                        style="width: 100%;"></button>
            </div>
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="{{'button.cancel' | translate}}" icon="pi pi-times"
                        (click)="onCancelFood()" class="p-button-danger"
                        style="width: 100%;"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>
<p-dialog header="{{'foodSellerScreen.ViewFoodDescription' | translate}}" 
    [(visible)]="visibleDescriptionDialog" 
    [style]="{width: '50vw'}" 
    [draggable]="false" [resizable]="false" [maximizable]="true"
    >
    <p class="dialog-content-detail" [innerHTML]="contentDialog">
    </p>
</p-dialog>


<p-dialog header="{{'foodSellerScreen.ListImage' | translate}}" 
    [(visible)]="visibleImageDialog" 
    [breakpoints]="{ '960px': '75vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false"
    [maximizable]="true"
    >
    <p-table [value]="foodImageDialog.imagesBase64" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'label.No' | translate}}</th>
                <th>{{'foodSellerScreen.Images' | translate}}</th>
                <th>{{'foodSellerScreen.Name' | translate}}</th>
                <th>{{'foodSellerScreen.Size' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-foodImage let-rowIndex="rowIndex">
            <tr >
                <td>{{rowIndex + 1}}</td>
                <td><p-image src="data:image/gif;base64,{{foodImage.imageBase64}}" [preview]="true"
                    [alt]="foodImage.imageId" class="dialogimages_image w-10rem shadow-2"
                    ></p-image></td>
                <td>{{foodImage.name}}</td>
                <td>{{foodImage.size}} KB</td>

            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>

<p-confirmPopup></p-confirmPopup>

<p-confirmDialog key="uhideFood" header="Hide/UnHide Post" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<cmis-loading></cmis-loading>