:host {
    display: flex;
}

.layout-topbar-action-panel{
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 0 !important;
}

.dot-new-notify{
    display: none;
}

.view-all{
    border-top: 1px solid #e5e5e5;
    div{
        height: 3rem;
    }
}

.mark-all{
    background: rgba(0,0,0,.03);
    div{
        height: 2.5rem;
    }
}

.mark-all_disabled{
    cursor: not-allowed;
}
