<li class="layout-topbar-item notifications"
>
    <a class="layout-topbar-action rounded-circle"
        (click)="layoutService.onTopbarItemClick($event, 'notifications')" pRipple>
        <span class="p-overlay-badge">
            <i class="pi pi-bell fs-large"></i>
            <span class="p-badge p-badge-warning p-badge-dot dot-new-notify"
                [style.display]="isNewNotify ? 'block' : 'none'"
            ></span>
        </span>
    </a>

    <ul class="layout-topbar-action-panel shadow-6"
        [@topbarActionPanelAnimation]="'visible'"
        *ngIf="layoutService.state.activeTopbarItem === 'notifications'">
        <notification-item [layoutService]="layoutService" 
            (notifyChange)="notifyChange($event)"
            [notify]="notify" 
            *ngFor="let notify of lstNotification">
        </notification-item>
        <li class="view-all mt-3">
            <div class="flex flex-row align-items-center">
                <div class="flex flex-column"
                        [class.ml-3] = "!layoutService.app.isRTL"
                        [class.mr-3] = "layoutService.app.isRTL"
                        style="flex-grow: 1;">
                    <div class="flex align-items-center justify-content-center mb-1">
                        <a class="text-sm font-bold" href="">View All Notifications</a>
                        <i class="text-sm pi pi-chevron-right"
                            style="margin-left: 0.3rem; color: #212121; margin-top: 0.2rem;"
                        ></i>
                    </div>
                </div>
            </div>
        </li>
        <li class="mark-all">
            <div class="flex flex-row align-items-center">
                <div class="flex flex-column"
                        [class.ml-3] = "!layoutService.app.isRTL"
                        [class.mr-3] = "layoutService.app.isRTL"
                        style="flex-grow: 1;">
                    <div class="flex align-items-center justify-content-center">
                        <a class="text-xs font-bold text-600" 
                        [class.mark-all_disabled]="!isNewNotify"
                        href="">Mark all notifications as read</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
