<div class="grid table-demo">
    <div class="col-12">
        <div class="card">

            <div class="col-12 md:col-12">
                <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                    <label style="margin-right: 1rem">Data time: </label>
                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                        [maxDate]="currentDate" (onClose)="onCloseCalendar($event)"></p-calendar>
                </div>
            </div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">Total Seller: </div>
                    </span>
                    <div class="data">
                        <span>{{datatotal.totalSeller}}</span>
                        <div class="data-percent" [class.text-green-500]="data.orderCountPercent > 0"
                            [class.text-red-500]="data.orderCountPercent < 0">
                            Ban:{{datatotal.banSeller}}
                            Verified:{{datatotal.vetifySeller}}
                            Not verified:{{datatotal.totalSeller-datatotal.vetifySeller}}
                        </div>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total Customer: </div>
                    </span>
                    <div class="data">
                        <span>{{datatotal.totalCustomer}}</span>
                        <div class="data-percent" [class.text-green-500]="data.amountCountPercent > 0"
                            [class.text-red-500]="data.amountCountPercent < 0">
                            <!-- Ban:{{datatotal.banCustomer}} -->
                        </div>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total Shipper: </div>
                    </span>
                    <div class="data">
                        <span>{{datatotal.totalShippper}}</span>
                        <div class="data-percent" [class.text-green-500]="data.soldCountPercent > 0"
                            [class.text-red-500]="data.soldCountPercent < 0">
                            Managed:{{datatotal.managedShipper}}
                            Verify:{{datatotal.vetifyShipper}}
                            Not verified:{{datatotal.totalShippper-datatotal.vetifyShipper}}
                        </div>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">Total Report Seller: </div>
                    </span>
                    <div class="data">
                        <span>{{datatotal.totalReport}}</span>
                        <div class="data-percent" [class.text-green-500]="data.soldCountPercent > 0"
                            [class.text-red-500]="data.soldCountPercent < 0">
                            Pending:{{datatotal.pendingReport}}
                            Solved:{{datatotal.vetifyShipper}}
                            Reject:{{datatotal.rejectReport}}
                        </div>
                    </div>
                </div>
            </div>


            <!-- <p-chart *ngIf="isDisplayChart" type="line" [data]="data" [options]="options"></p-chart> -->
            <div class="card flex ">
              <div style="min-width: 200px;" class="col-3 mb-2">
                <p-chart type="pie" [data]="datatron" [options]="optionstron"></p-chart>
            </div>
                <div class="col-9 mb-6">
                    <p-chart type="line" [data]="dataline" [options]="optionsline"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<cmis-loading></cmis-loading>
