
<div class="grid table-demo">
  <div class="col-12">
      <div class="card">
          <h5>{{'aaAdminScreen.AccountantManagement' | translate}}</h5>

          <p-table #dt [value]="lstUser" dataKey="id"
                   styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                   [showCurrentPageReport]="true"
                   [paginator]="lstUser.length > 5" [filterDelay]="0" [rowsPerPageOptions]="[5,10,25,50]"
                   currentPageReportTemplate="{{'aaAdminScreen.Total' | translate}}: {totalRecords} {{'aaAdminScreen.posts' | translate}}"
                   [globalFilterFields]="['firstName','lastName']" responsiveLayout="scroll"

          >
              <ng-template pTemplate="caption">
                  <div class="flex flex-row align-items-center flex-wrap justify-content-between ">
                      <div class="flex-1">
                          <span class="p-input-icon-left">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text"  #textInput
                                     (input)="dt.filterGlobal(textInput.value, 'contains')"
                                     placeholder="{{'aaAdminScreen.SearchNamebyname' | translate}}"/>
                          </span>
                      </div>

                      <div class="flex-4 flex flex-row flex-wrap justify-content-center gap-3" style="gap: 0.5rem">
                          <div class="flex align-items-center justify-content-center">
                              <button pButton type="button" label="{{'button.Addnew' | translate}}" icon="pi pi-plus"
                              (click)="onCreateMM()"
                                      style="width: auto;"></button>
                          </div>
                      </div>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <!-- <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th> -->
                      <th pSortableColumn="accountantId">
                          <div class="flex justify-content-between align-items-center">
                              {{'aaAdminScreen.ID' | translate}}
                              <p-sortIcon field="accountantId"></p-sortIcon>
                              <p-columnFilter type="numeric" field="accountantId" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>
                      <th pSortableColumn="firstName">
                          <div class="flex justify-content-between align-items-center">
                            {{'aaAdminScreen.FullName' | translate}}
                              <p-sortIcon field="firstName"></p-sortIcon>
                              <p-columnFilter type="text" field="firstName" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>
                      <!-- <th pSortableColumn="lastName">
                          <div class="flex justify-content-between align-items-center">
                            LastName
                              <p-sortIcon field="lastName"></p-sortIcon>
                              <p-columnFilter type="text" field="lastName" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th> -->
                      <th pSortableColumn="gender">
                          <div class="flex justify-content-between align-items-center">
                            {{'aaAdminScreen.Gender' | translate}}
                              <p-sortIcon field="gender"></p-sortIcon>
                              <p-columnFilter type="text" field="gender" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>
                      <th pSortableColumn="email">
                        <div class="flex justify-content-between align-items-center">
                          {{'aaAdminScreen.Email' | translate}}
                            <p-sortIcon field="email"></p-sortIcon>
                            <p-columnFilter type="text" field="email" display="menu"
                                            class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="phoneNumber">
                      <div class="flex justify-content-between align-items-center">
                        {{'aaAdminScreen.PhoneNumber' | translate}}
                          <p-sortIcon field="phoneNumber"></p-sortIcon>
                          <p-columnFilter type="text" field="phoneNumber" display="menu"
                                          class="ml-auto"></p-columnFilter>
                      </div>
                  </th>
                      <th pSortableColumn="birthDate">
                          <div class="flex justify-content-between align-items-center">
                              {{'aaAdminScreen.DOB' | translate}}
                              <p-sortIcon field="birthDate"></p-sortIcon>
                              <p-columnFilter type="text" field="birthDate" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>
                      <!-- <th pSortableColumn="isOnline">
                          <div class="flex justify-content-between align-items-center">
                            Online
                              <p-sortIcon field="isOnline"></p-sortIcon>
                              <p-columnFilter type="numeric" field="isOnline" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th> -->
                      <!-- <th>
                          <div class="flex justify-content-between align-items-center">
                              Images
                          </div>
                      </th> -->
                      <th>
                        <div class="flex justify-content-between align-items-center">
                          {{'aaAdminScreen.Status' | translate}}
                        </div>
                    </th>
                      <th style="min-width: 8rem">
                          <div
                               class="flex justify-content-between align-items-center">
                              {{'aaAdminScreen.Action' | translate}}
                          </div>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-user>
                  <tr class="p-selectable-row">
                      <!-- <td>
                          <p-tableCheckbox [value]="post"></p-tableCheckbox>
                      </td> -->
                      <td>
                          <span class="p-column-title">{{'aaAdminScreen.ID' | translate}}</span>
                          <span class="post-id">{{user.accountantId}}</span>
                      </td>
                      <td>
                          <span class="p-column-title">{{'aaAdminScreen.FullName' | translate}}</span>
                          {{user.firstName}} {{user.lastName}}
                      </td>
                      <!-- <td >
                          <span class="p-column-title">LastName</span>
                          {{user.lastName}}
                      </td> -->
                      <td>
                          <span class="p-column-title">{{'aaAdminScreen.Gender' | translate}}</span>
                          <span class="post-content" >{{user.gender}}</span>
                      </td>
                      <td>
                        <span class="p-column-title">{{'aaAdminScreen.Email' | translate}}</span>
                        <span class="post-content" >{{user.email}}</span>
                       </td>
                       <td>
                        <span class="p-column-title">{{'aaAdminScreen.PhoneNumber' | translate}}</span>
                        <span class="post-content" >{{user.phoneNumber}}</span>
                    </td>
                      <td >
                          <span class="p-column-title">{{'aaAdminScreen.DOB' | translate}}</span>
                          {{user.birthDate| date:'dd/MM/yyyy'}}
                      </td>
                      <!-- <td >
                        <span class="p-column-title">Online</span>
                        <div *ngIf="user.isOnline" style="color:chartreuse;">
                          Online
                        </div>
                        <div *ngIf="!user.isOnline"  style="color:darkgray;">
                          Offline
                        </div>
                    </td> -->

                      <td >
                        <span class="p-column-title">{{'aaAdminScreen.Status' | translate}}</span>
                        <div *ngIf="user.isBanned" style="color:red;">
                          {{'aaAdminScreen.Closed' | translate}}
                        </div>
                        <div *ngIf="!user.isBanned"  style="color:chartreuse;">
                          {{'aaAdminScreen.Active' | translate}}
                        </div>
                    </td>
                      <td style="text-align: center">
                          <div class="flex justify-content-center flex-wrap" style="gap: 0.5rem">
                              <div class="flex align-items-center justify-content-center">
                                  <button pButton pRipple [icon]="user.isBanned ? 'pi pi-lock-open' : 'pi pi-ban'"
                                  (click)="BanModerator(user,$event)"
                                          class="p-button-rounded p-mr-2"></button>
                              </div>
                              <!-- <div class="flex align-items-center justify-content-center">
                                <button pButton pRipple icon="pi pi-pencil"
                                (click)="UpdateModerator(user)"
                                        class="p-button-rounded p-mr-2"></button>
                            </div> -->
                          </div>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="8">{{'aaAdminScreen.emptymessage' | translate}}</td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>

<p-dialog [header]="headerDialog" [(visible)]="displayDialogAdd"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [maximizable]="true"

          >
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="card">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <b>{{'aaAdminScreen.Accountantinformation' | translate}}</b>
                    </div>
                </p-divider>
                <div class="grid">
                  <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                      <span class="p-input-icon-left p-float-label" style="width: 100%">
                          <input type="text" step="5000" min="0"  class="w-full" [(ngModel)]="menuM.firstName"
                                  pInputText
                                  />
                          <label>{{'aaAdminScreen.FirstName' | translate}}*</label>
                      </span>
                  </div>
                  <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                    <span class="p-input-icon-left p-float-label">
                      <input type="text" step="5000" min="0"  class="w-full" [(ngModel)]="menuM.lastName"
                      pInputText
                      />
                        <label>{{'aaAdminScreen.LastName' | translate}}*</label>
                    </span>

                </div>
                <div class="col-12 mb-2 ">
                  <span class="p-input-icon-left p-float-label" style="width: 100%">
                      <input type="text" step="5000" min="0"  class="w-full" [(ngModel)]="menuM.phoneNumber"
                              pInputText
                              />
                      <label>{{'aaAdminScreen.Phone' | translate}}*</label>
                  </span>
              </div>
                <div class="col-12 mb-2 ">
                  <span class="p-input-icon-left p-float-label" style="width: 100%">
                      <input type="email" step="5000" min="0"  class="w-full" [(ngModel)]="menuM.email"
                              pInputText
                              />
                      <label>{{'aaAdminScreen.Email' | translate}}*</label>
                  </span>
              </div>

              <div class="col-12 mb-2 ">
                <span class="p-input-icon-left p-float-label" style="width: 100%">
                    <input type="password" step="5000" min="0"  class="w-full" [(ngModel)]="menuM.password"
                            pInputText
                            />
                    <label>{{'aaAdminScreen.Password' | translate}}*</label>
                </span>
            </div>
            <div class="col-12 mb-2 ">
              <span class="p-input-icon-left p-float-label">
                <input type="password" step="5000" min="0"  class="w-full" [(ngModel)]="menuM.confirmpassword"
                pInputText
                />
                  <label>{{'aaAdminScreen.CofirmPassword' | translate}}*</label>
              </span>

          </div>
          <div class="col-12 mb-2 lg:col-6 mb-lg-0">
            <label>{{'aaAdminScreen.DOB' | translate}}*</label>
            <!-- <span class="p-input-icon-left p-float-label">
             <p-calendar class="w-full"  [(ngModel)]="menuM.birthDate" dateFormat="dd/mm/yy"></p-calendar>
                <label>Dob*</label>
            </span> -->

            <span style="width: 100%">
              <input type="date"  class="w-full" [(ngModel)]="menuM.birthDate"
                      pInputText
                      />

            </span>


        </div>
        <div class="col-12 mb-2 lg:col-6 mb-lg-0">
          <span  style="display: flex;">
            <label>{{'aaAdminScreen.Gender' | translate}}*</label>
            <div  class="col-3" style="display: flex; align-items: center;">
              <input type="radio"
                     class="w-full"
                     [(ngModel)]="menuM.gender"
                     name="gender"
                     value="male"
                     id="genderMale" />
              <label for="genderMale" style="margin-left: 10px;">{{'aaAdminScreen.Male' | translate}}</label>
            </div>
            <div class="col-3" style="display: flex; align-items: center;">
              <input type="radio"
                     class="w-full"
                     [(ngModel)]="menuM.gender"
                     name="gender"
                     value="female"
                     id="genderFemale" />
              <label for="genderFemale" style="margin-left: 10px;">{{'aaAdminScreen.Female' | translate}}</label>
            </div>


          </span>

      </div>

                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center flex-wrap" style="text-align: center">
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="{{'button.save' | translate}}" icon="pi pi-save"
                        (click)="onSaveMM()"
                        style="width: 100%;"></button>
            </div>
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="{{'button.cancel' | translate}}" icon="pi pi-times"
                        (click)="onCancelMM()" class="p-button-danger"
                        style="width: 100%;"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>


<p-toast [baseZIndex]="99999" key="notify"></p-toast>

<p-confirmPopup></p-confirmPopup>

<p-confirmDialog key="uhideFood" header="Hide/UnHide Post" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<cmis-loading></cmis-loading>
