<div class="grid table-demo" >
    <div class="col-12">
        <div class="card">
            <div class="top">
                <i class="pi pi-volume-up" style="font-size: 2rem"></i>
                <div class="top-content">
                    <h3 class="notify-title">{{notification.title}}</h3>
                    <p class="create-date">{{notification.createDate}}</p>
                </div>
            </div>
            <div class="content">
                {{notification.content}}
            </div>
            <div class="flex justify-content-center align-items-stretch"
                style="gap: 0.5rem"
                *ngIf="notification.type != 'System'"
                >
                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple (click)="onAccept()" 
                        class="p-button-primary p-mr-2 p-button-raised"
                    >
                        Accept
                    </button>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple (click)="onDeny()"
                    class="p-button-danger p-button-raised"
                    >
                        Deny
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>

    


<p-toast [baseZIndex]="99999" key="notify"></p-toast>