<div class="grid table-demo" >
    <div class="col-12">
        <div class="card">
            <div class="top">
                <i class="pi pi-volume-up" style="font-size: 2rem"></i>
                <div class="top-content">
                    <h3 class="title">839238u3293hdajksdsaijdmnaw</h3>
                    <p class="create-date">2023-11-08 12:22:18</p>
                </div>
            </div>
            <div class="content">
                ufiohsaifushafisuhdfiusdffsefsfesfs
                ufiohsaifushafisuhdfiusdffsefsfesfs
                ufiohsaifushafisuhdfiusdffsefsfesfs
                ufiohsaifushafisuhdfiusdffsefsfesfs
                ufiohsaifushafisuhdfiusdffsefsfesfs
                
            </div>
        </div>
    </div>
</div>
