<div class="grid table-demo">
    <div class="col-12">
        <div class="card">
            <h5>Post Management</h5>

            <p-table #dt [value]="lstPost" dataKey="id"
                     styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                     [showCurrentPageReport]="true"
                     [paginator]="lstPost.length > 5" [filterDelay]="0" [rowsPerPageOptions]="[5,10,25,50]"
                     currentPageReportTemplate="Total: {totalRecords} posts"
                     [globalFilterFields]="['postContent']" responsiveLayout="scroll"
                     [loading]="loading"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row align-items-center flex-wrap justify-content-between ">
                        <div class="flex-1">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"  #textInput 
                                       (input)="dt.filterGlobal(textInput.value, 'contains')"
                                       placeholder="Search Post by content"/>
                            </span>
                        </div>

                        <!-- <div class="flex-4 flex flex-row flex-wrap justify-content-center gap-3" style="gap: 0.5rem">
                            <div class="flex align-items-center justify-content-center">
                                <button pButton type="button" label="Add new" icon="pi pi-plus"
                                        (click)="onCreatePost()"
                                        style="width: auto;"></button>
                            </div>
                        </div> -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="postId">
                            <div class="flex justify-content-between align-items-center">
                                ID
                                <p-sortIcon field="postId"></p-sortIcon>
                                <p-columnFilter type="numeric" field="postId" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="postContent">
                            <div class="flex justify-content-between align-items-center">
                                Post Content
                                <p-sortIcon field="postContent"></p-sortIcon>
                                <p-columnFilter type="text" field="postContent" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="createdDate">
                            <div class="flex justify-content-between align-items-center">
                                Created Date
                                <p-sortIcon field="createdDate"></p-sortIcon>
                                <p-columnFilter type="text" field="createdDate" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Images
                            </div>
                        </th>
                        <th pSortableColumn="status">
                            <div class="flex justify-content-between align-items-center">
                                Status
                                <p-sortIcon field="status"></p-sortIcon>
                                <p-columnFilter type="text" field="status" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div 
                                 class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-post>
                    <tr class="p-selectable-row">
                        <!-- <td>
                            <p-tableCheckbox [value]="post"></p-tableCheckbox>
                        </td> -->
                        <td>
                            <span class="p-column-title">ID</span>
                            <span class="post-id">{{post.postId}}</span>
                        </td>
                        <td >
                            <span class="p-column-title">Post Content</span>
                            <p class="post-content" (click)="viewContentDetail(post)">{{post.postContent}}</p>
                        </td>
                        <td>
                            <span class="p-column-title">Created Date</span>
                            {{post.createdDate}}
                        </td>
                        <td>
                            <span class="p-column-title">Image</span>
                            <ng-container *ngIf="post.imagesBase64.length !== 0; else noneImage" >
                                <button pButton pRipple icon="pi pi-images"
                                        (click)="onDisplayImagesDialog(post, $event)"
                                        class="p-button-rounded p-button-text p-button-raised"></button>
                            </ng-container>
                            <ng-template #noneImage ><span class="no-image">No Image</span></ng-template>
                        </td>
                        <td>
                            <span class="p-column-title">Status</span>
                            <p-tag [value]="post.status" [severity]="getSeverity(post.status)"></p-tag>
                        </td>
                        <td style="text-align: center">
                            <div class="flex justify-content-center flex-wrap" style="gap: 0.5rem">
                                <!-- <div class="flex align-items-center justify-content-center">
                                    <button pButton pRipple icon="pi pi-pencil"
                                            (click)="onUpdatePost(post)"
                                            class="p-button-rounded p-mr-2"></button>
                                </div> -->
                                <ng-container>
                                    <div *ngIf="post.status === 'Display' || post.status === 'NotApproved' || post.status === 'Hidden' else statusBan" class="flex align-items-center justify-content-center">
                                        <button pButton pRipple icon="pi pi-ban"
                                                (click)="onBanPost(post, $event)"
                                                class="p-button-rounded p-button-danger"></button>
                                    </div>
                                    <ng-template #statusBan>
                                        <div class="flex align-items-center justify-content-center">
                                            <button pButton pRipple icon="pi pi-ban"
                                                    (click)="onUnbanPost(post, $event)"
                                                    class="p-button-rounded p-button-danger"></button>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No post yet.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [header]="headerDialog" [(visible)]="displayDialogEditAddPost"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [maximizable]="true"
          (onHide)="onHideDialogEditAdd()"
          >
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="card">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <b>Post information</b>
                    </div>
                </p-divider>
                <div class="grid">
                    <ng-template [ngIf]="postModel.postId > 0">
                        <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                            <span class="p-input-icon-left p-float-label" style="width: 100%">
                                <input type="text" class="w-full" [(ngModel)]="postModel.postId"
                                       [disabled]="true" pInputText/>
                                <label>ID*</label>
                            </span>
                        </div>
                    </ng-template>
                    <div class="col-12 mb-2 lg:col-12 mb-lg-0">
                        <span class="p-input-icon-left p-float-label" style="width: 100%" >
                            <textarea class="w-full" rows="10" cols="60" 
                                pInputTextarea 
                                maxlength="1500"
                                [(ngModel)]="postModel.postContent"
                                [class.ng-invalid] = "!inputValidation.isPostContentValid"
                                [class.ng-dirty] = "!inputValidation.isPostContentValid"    
                            ></textarea>
                            <label>Post Content*</label>
                        </span>
                        <small [style.display]="inputValidation.isPostContentValid ? 'none !important' : 'block !important'" 
                            id="username2-help" class="p-error block">{{inputValidation.postContentMessage}}</small>
                    </div>
                    <div class="col-12 mb-2 lg:col-12 mb-lg-0">
                        <label>Images</label>
					    <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <!-- <p-fileUpload [multiple]="true" accept="image/*" maxFileSize="1000000" showUploadButton="false" style="width: 50%">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="postModel.images.length">
                                    </ul>
                                </ng-template>
                            </p-fileUpload> -->
                                <p-fileUpload class=" w-full" 
                                    [files]="uploadedFiles"
                                    [customUpload]="true"
                                    (onSelect)="handleFileSelection($event)" 
                                    (onRemove)="handleFileRemoval($event)"
                                    (onClear)="handleAllFilesClear($event)"
                                    [multiple]="true" accept="image/*" [maxFileSize]="1000000" 
                                    [showUploadButton]="false" >
                                    <ng-template pTemplate="content">
                                        <!-- <ul *ngIf="uploadedFiles.length > 0">
                                            <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
                                        </ul> -->
                                    </ng-template>
                                </p-fileUpload>
                            
                            
					    </span>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <ng-template pTemplate="footer">
        <div class="flex justify-content-center flex-wrap" style="text-align: center">
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="Save" icon="pi pi-save"
                        (click)="onSavePost()"
                        style="width: 100%;"></button>
            </div>
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="Cancel" icon="pi pi-times"
                        (click)="onCancelPost()" class="p-button-danger"
                        style="width: 100%;"></button>
            </div>
        </div>
    </ng-template> -->
</p-dialog>
<p-dialog header="View Post Content" [(visible)]="visibleContentDialog" [style]="{width: '50vw'}" [maximizable]="true">
    <p class="dialog-content-detail">
        {{contentDialog}}
    </p>
</p-dialog>

<p-dialog header="Image List" [(visible)]="visibleImageDialog" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <p-table [value]="postImageDialog.imagesBase64" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="imageId">ID<p-sortIcon field="imageId"></p-sortIcon></th>
                <th>Image</th>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-postImage>
            <tr >
                <td>{{postImage.imageId}}</td>
                <td><p-image src="data:image/gif;base64,{{postImage.imageBase64}}" [preview]="true"
                    [alt]="postImage.imageId" class="dialogimages_image w-10rem shadow-2"
                    ></p-image></td>
                <td>{{postImage.name}}</td>
                <td>{{postImage.size}} KB</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>

<p-confirmPopup></p-confirmPopup>

<p-confirmDialog key="uhidePost" header="Hide/UnHide Post" icon="pi pi-exclamation-triangle"></p-confirmDialog>
