<p-dialog [(visible)]="isVisibleOthersEditProfileDialog" [style]="{ width: '450px' }"
    header="{{'profileScreen.Profiledetails' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="profileInfo">
        <div class="formgrid grid">
            <div class="field col">
                <label for="lastname">{{'profileScreen.Lastname' | translate}} <span
                        style="color: red;">*</span></label>
                <input type="text" pInputText id="lastname" [(ngModel)]="profile.lastName" required
                    [class.ng-invalid]="!editProfileValidation.isValidLastName"
                    [class.ng-dirty]="!editProfileValidation.isValidLastName" />
                <small [style.display]="editProfileValidation.isValidLastName ? 'none !important' : 'block !important'"
                    class="p-error block">{{editProfileValidation.LastNameValidationMessage}}</small>
            </div>
            <div class="field col">
                <label for="firstname">{{'profileScreen.Firstname' | translate}} <span
                        style="color: red;">*</span></label>
                <input type="text" pInputText id="firstname" [(ngModel)]="profile.firstName" required
                    [class.ng-invalid]="!editProfileValidation.isValidFirstName"
                    [class.ng-dirty]="!editProfileValidation.isValidFirstName" />
                <small [style.display]="editProfileValidation.isValidFirstName ? 'none !important' : 'block !important'"
                    class="p-error block">{{editProfileValidation.FirstNameValidationMessage}}</small>
            </div>
        </div>
        <div class="field">
            <label class="mb-3" for="birthDate">{{'profileScreen.Birthdate' | translate}}</label>
            <input type="date" pInputText id="birthDate" [(ngModel)]="profile.birthDate"
                [class.ng-invalid]="!editProfileValidation.isValidBirthDate"
                [class.ng-dirty]="!editProfileValidation.isValidBirthDate" />
            <small [style.display]="editProfileValidation.isValidBirthDate ? 'none !important' : 'block !important'"
                class="p-error block">{{editProfileValidation.BirthDateValidationMessage}}</small>
        </div>
        <div class="field">
            <label class="mb-3">{{'profileScreen.Gender' | translate}}</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="male" name="male" value="male" [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="male">{{'profileScreen.Male' | translate}}</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="female" name="female" value="female"
                        [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="female">{{'profileScreen.Female' | translate}}</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="other" name="other" value="other"
                        [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="other">{{'profileScreen.Other' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="phonenumber">{{'profileScreen.Phonenumber' | translate}} <span
                    style="color: red;">*</span></label>
            <input type="text" pInputText id="phonenumber" [(ngModel)]="profile.phoneNumber" required
                [class.ng-invalid]="!editProfileValidation.isValidPhoneNumber"
                [class.ng-dirty]="!editProfileValidation.isValidPhoneNumber" />
            <small [style.display]="editProfileValidation.isValidPhoneNumber ? 'none !important' : 'block !important'"
                class="p-error block">{{editProfileValidation.PhoneNumberValidationMessage}}</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'button.cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="this.isVisibleOthersEditProfileDialog = false"></button>
        <button pButton pRipple label="{{'button.save' | translate}}" icon="pi pi-check"
            (click)="editProfile()"></button>
    </ng-template>
</p-dialog>

<p-dialog #sellerEditProfileDialog [(visible)]="isVisibleSellerEditProfileDialog" [style]="{ width: '450px' }"
    header="{{'profileScreen.Profiledetails' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="sellerProfileInfo">
        <!-- <div class="formgrid grid">
            <div class="field col">
                <label for="lastname">Last name <span style="color: red;">*</span></label>
                <input type="text" pInputText id="lastname" [(ngModel)]="profile.lastName" required
                    [class.ng-invalid]="!editProfileValidation.isValidLastName"
                    [class.ng-dirty]="!editProfileValidation.isValidLastName" />
                <small [style.display]="editProfileValidation.isValidLastName ? 'none !important' : 'block !important'"
                    class="p-error block">{{editProfileValidation.LastNameValidationMessage}}</small>
            </div>
            <div class="field col">
                <label for="firstname">First name <span style="color: red;">*</span></label>
                <input type="text" pInputText id="firstname" [(ngModel)]="profile.firstName" required
                    [class.ng-invalid]="!editProfileValidation.isValidFirstName"
                    [class.ng-dirty]="!editProfileValidation.isValidFirstName" />
                <small [style.display]="editProfileValidation.isValidFirstName ? 'none !important' : 'block !important'"
                    class="p-error block">{{editProfileValidation.FirstNameValidationMessage}}</small>
            </div>
        </div> -->
        <!-- <div class="formgrid grid"> -->
        <!-- <div class="field">
            <label class="mb-3" for="birthDate">Birth date</label>
            <input type="date" pInputText id="birthDate" [(ngModel)]="profile.birthDate" />
        </div> -->
        <!-- </div> -->

        <!-- <div class="field">
            <label class="mb-3">Gender</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="male" name="male" value="male" [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="male">Male</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="female" name="female" value="female"
                        [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="female">Female</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="other" name="other" value="other"
                        [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="other">Other</label>
                </div>
            </div>
        </div> -->

        <div class="field">
            <label for="phonenumber">{{'profileScreen.Phonenumber' | translate}} <span
                    style="color: red;">*</span></label>
            <input type="text" pInputText id="phonenumber" [(ngModel)]="profile.phoneNumber" required
                [class.ng-invalid]="!editProfileValidation.isValidPhoneNumber"
                [class.ng-dirty]="!editProfileValidation.isValidPhoneNumber" />
            <small [style.display]="editProfileValidation.isValidPhoneNumber ? 'none !important' : 'block !important'"
                class="p-error block">{{editProfileValidation.PhoneNumberValidationMessage}}</small>
        </div>

        <div class="field">
            <label for="shopname">{{'profileScreen.Shopname' | translate}} <span style="color: red;">*</span></label>
            <input type="text" pInputText id="shopname" [(ngModel)]="profile.shopName" required
                [class.ng-invalid]="!editProfileValidation.isValidShopName"
                [class.ng-dirty]="!editProfileValidation.isValidShopName" />
            <small [style.display]="editProfileValidation.isValidShopName ? 'none !important' : 'block !important'"
                class="p-error block">{{editProfileValidation.ShopNameValidationMessage}}</small>
        </div>
        <div class="field">
            <label for="shopaddress">{{'profileScreen.Shopaddress' | translate}} <span
                    style="color: red;">*</span></label>
            <textarea class="w-full" rows="5" cols="60" pInputTextarea maxlength="200" id="shopaddress"
                [(ngModel)]="profile.shopAddress" required
                [class.ng-invalid]="!editProfileValidation.isValidShopAddress"
                [class.ng-dirty]="!editProfileValidation.isValidShopAddress">
            </textarea>
            <small [style.display]="editProfileValidation.isValidShopAddress ? 'none !important' : 'block !important'"
                class="p-error block">{{editProfileValidation.ShopAddressValidationMessage}}</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'button.cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="this.isVisibleSellerEditProfileDialog = false"></button>
        <button pButton pRipple label="{{'button.save' | translate}}" icon="pi pi-check"
            (click)="editProfile()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isVisibleChangePasswordModal" [style]="{ width: '450px' }"
    header="{{'profileScreen.Changeyourpassword' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="ChangePassword">
        <!-- <div class="formgrid grid"> -->
        <div class="field">
            <label for="newpassword">{{'profileScreen.Newpassword' | translate}} <span
                    style="color: red;">*</span></label>
            <input type="password" pInputText id="newpassword" [(ngModel)]="profile.newPassword" required
                [class.ng-invalid]="!changePasswordValidation.isValidPassword"
                [class.ng-dirty]="!changePasswordValidation.isValidPassword" (keyup)="validateChangePasswordInput()" />
            <small [style.display]="changePasswordValidation.isValidPassword ? 'none !important' : 'block !important'"
                class="p-error block">{{changePasswordValidation.PasswordValidationMessage}}</small>
        </div>
        <div class="field">
            <label for="confirmnewpassword">{{'profileScreen.Confirmnewpassword' | translate}} <span
                    style="color: red;">*</span></label>
            <input type="password" pInputText id="confirmnewpassword" [(ngModel)]="profile.confirmNewPassword" required
                [class.ng-invalid]="!changePasswordValidation.isValidConfirmPassword"
                [class.ng-dirty]="!changePasswordValidation.isValidConfirmPassword"
                (keyup)="validateChangePasswordInput()" />
            <small
                [style.display]="changePasswordValidation.isValidConfirmPassword ? 'none !important' : 'block !important'"
                class="p-error block">{{changePasswordValidation.ConfirmPasswordValidationMessage}}</small>
        </div>
        <!-- </div> -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'button.cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="this.isVisibleChangePasswordModal = false"></button>
        <button pButton pRipple label="{{'button.save' | translate}}" icon="pi pi-check"
            (click)="changePassword()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isVisibleVerifyYourselfModal" [style]="{ width: '450px' }"
    header="{{'profileScreen.Verifyyouridentity' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="VerifyIdentity">
        <!-- <div class="formgrid grid"> -->
        <div class="field">
            <label for="oldpassword">{{'profileScreen.Enteryouraccountpassword' | translate}} <span
                    style="color: red;">*</span></label>
            <input type="password" pInputText id="oldpassword" [(ngModel)]="profile.oldPassword" required
                [class.ng-invalid]="!verifyIdentityValidation.isValidPassword"
                [class.ng-dirty]="!verifyIdentityValidation.isValidPassword" />
            <small [style.display]="verifyIdentityValidation.isValidPassword ? 'none !important' : 'block !important'"
                class="p-error block">{{verifyIdentityValidation.PasswordValidationMessage}}
            </small>
        </div>
        <!-- </div> -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'button.cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="this.isVisibleVerifyYourselfModal = false"></button>
        <button pButton pRipple label="{{'button.Continue' | translate}}" (click)="verifyIdentity();"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isVisibleVerifyPhoneNumberModal" [style]="{ width: '450px' }"
    header="{{'profileScreen.VerifyYourPhonenumber' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="VerifyPhonenumber">
        <!-- <div class="formgrid grid"> -->
        <div class="field">
            <label for="otpHayGiDay">{{'profileScreen.OTP' | translate}}: <span style="color: red;">*</span></label>
            <input type="number" pInputText id="otpHayGiDay" placeholder="Enter Your OTP" maxlength="4"
                [(ngModel)]="verifyOtp" />
            <small style="font-style: italic;">{{'profileScreen.Notice' | translate}}</small>
        </div>
        <!-- </div> -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'button.cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="this.isVisibleVerifyPhoneNumberModal = false"></button>
        <button pButton pRipple label="{{'button.Submit' | translate}}" (click)="verifyPhonenumber();"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isVisibleEditLicenseDialog" [style]="{ width: '700px' }"
    header="{{'profileScreen.Edityourlicenceimage' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="EditLicense">
        <div class="col-12 mb-2 lg:col-12 mb-lg-0">
            <p-table [value]="licenseImages" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="ID">{{'profileScreen.ID' | translate}}<p-sortIcon field="ID"></p-sortIcon>
                        </th>
                        <th>{{'profileScreen.Image' | translate}}</th>
                        <th>{{'profileScreen.Name' | translate}}</th>
                        <th>{{'profileScreen.Size' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-licenseImage>
                    <tr>
                        <td>{{licenseImage.imageLicenseId}}</td>
                        <td><p-image width="200" height="165" src="data:image/gif;base64,{{licenseImage.imageBase64}}"
                                [preview]="true" [alt]="licenseImage.imageLicenseId"
                                class="dialogimages_image w-10rem shadow-2"></p-image></td>
                        <td>{{licenseImage.name}}</td>
                        <td>{{licenseImage.size}} KB</td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">{{'profileScreen.emptymessage' | translate}}</td>
                    </tr>
                </ng-template>
            </p-table>

            <hr>

            <label>{{'profileScreen.EditLicenseImageSection' | translate}} <span style="color: red;">*</span></label>
            <span class="p-input-icon-left p-float-label" style="width: 100%">
                <!-- <p-fileUpload [multiple]="true" accept="image/*" maxFileSize="1000000" showUploadButton="false" style="width: 50%">
                    <ng-template pTemplate="content">
                        <ul *ngIf="foodModel.images.length">
                        </ul>
                    </ng-template>
                </p-fileUpload> -->
                <p-fileUpload class=" w-full" #fileUploader [files]="uploadedFiles" [customUpload]="true"
                    (onSelect)="handleLicenseFileSelection($event)" (onRemove)="handleFileRemoval($event)"
                    (onClear)="handleAllFilesClear($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000"
                    [showUploadButton]="false">
                    <ng-template pTemplate="content">
                        <!-- <ul *ngIf="uploadedFiles.length > 0">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
                        </ul> -->
                    </ng-template>
                </p-fileUpload>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'button.cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="this.isVisibleEditLicenseDialog = false"></button>
        <button pButton pRipple label="{{'button.save' | translate}}" (click)="editLicense();"></button>
    </ng-template>
</p-dialog>

<p-dialog header="{{'profileScreen.Listlicenseimages' | translate}}" [(visible)]="visibleLicenseImageDialog"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false"
    [maximizable]="true">
    <p-table [value]="licenseImages" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="ID">{{'profileScreen.ID' | translate}}<p-sortIcon field="ID"></p-sortIcon></th>
                <th>{{'profileScreen.Image' | translate}}</th>
                <th>{{'profileScreen.Name' | translate}}</th>
                <th>{{'profileScreen.Size' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-licenseImage>
            <tr>
                <td>{{licenseImage.imageLicenseId}}</td>
                <td><p-image src="data:image/gif;base64,{{licenseImage.imageBase64}}" [preview]="true"
                        [alt]="licenseImage.imageLicenseId" class="dialogimages_image w-10rem shadow-2"></p-image></td>
                <td>{{licenseImage.name}}</td>
                <td>{{licenseImage.size}} KB</td>

            </tr>
        </ng-template>
    </p-table>
</p-dialog>
<p-dialog [(visible)]="isVisibleShipperEditIdDialog" [style]="{ width: '700px' }"
    header="{{'profileScreen.Edityourlicenceimage' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="EditLicense">
        <div class="col-12 mb-2 lg:col-12 mb-lg-0">
          <table>
            <tbody>
              <tr>


                <th>Image Font ID Card: </th>
                <td><p-image src="data:image/gif;base64,{{profile.idcardFrontImage}}" [preview]="true"
                  class="dialogimages_image w-30rem shadow-15"
                  ></p-image></td>

              </tr>
              <tr>
                <th>Image Back ID Card: </th>
                <td><p-image src="data:image/gif;base64,{{profile.idcardBackImage}}" [preview]="true"
                  class="dialogimages_image w-30rem shadow-15"
                  ></p-image></td>
              </tr>
            </tbody>
           </table>

            <hr>

            <label>{{'profileScreen.EditLicenseImageSection' | translate}} <span style="color: red;">*</span></label>
            <span class="p-input-icon-left p-float-label" style="width: 100%">
                <!-- <p-fileUpload [multiple]="true" accept="image/*" maxFileSize="1000000" showUploadButton="false" style="width: 50%">
                    <ng-template pTemplate="content">
                        <ul *ngIf="foodModel.images.length">
                        </ul>
                    </ng-template>
                </p-fileUpload> -->
                <label for="gender" class="block text-900 font-medium mb-2">ID Card*</label>
                <input type="text" class="w-full"  [(ngModel)]="this.profile.idcardNumber"
                pInputText/>
                        <label>Id Card Number*</label>
                <div  class="row">
                  <div class="col-md-6">
                    <div class="flex align-items-center">
                      <p-fileUpload class="w-full"
                                    #fileUploader1
                                    [files]="uploadedFilesShippper"
                                    [customUpload]="true"
                                    (onSelect)="handleFileSelection1($event)"
                                    (onRemove)="handleFileRemoval1($event)"
                                    (onClear)="handleAllFilesClear1($event)"
                                    [multiple]="false"
                                    accept="image/*" [maxFileSize]="1000000"
                                    [showUploadButton]="false">
                        <ng-template pTemplate="content">
                          <!-- Nội dung tùy chỉnh (nếu cần) -->
                        </ng-template>
                      </p-fileUpload>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <label for="gender" class="block text-900 font-medium mb-2">ID Card Back*</label>
                  </div>
                  <div class="col-md-6">
                    <div class="flex align-items-center">
                      <p-fileUpload class="w-full"
                                    #fileUploader2
                                    [files]="uploadedFilesShippper2"
                                    [customUpload]="true"
                                    (onSelect)="handleFileSelection2($event)"
                                    (onRemove)="handleFileRemoval2($event)"
                                    (onClear)="handleAllFilesClear2($event)"
                                    [multiple]="false"
                                    accept="image/*" [maxFileSize]="1000000"
                                    [showUploadButton]="false">
                        <ng-template pTemplate="content">
                          <!-- Nội dung tùy chỉnh (nếu cần) -->
                        </ng-template>
                      </p-fileUpload>
                    </div>
                  </div>
                </div>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'button.cancel' | translate}}" icon="pi pi-times" class="p-button-text"
            (click)="this.isVisibleEditLicenseDialog = false"></button>
        <button pButton pRipple label="{{'button.save' | translate}}" (click)="editIdCard();"></button>
    </ng-template>
</p-dialog>


<!--<p-dialog header="Edit profile" [(visible)]="visible" [modal]="true" [style]="{ width: '500px' }" [draggable]="false"
    [resizable]="false">
    <hr>
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-12">
            <div style="display: flex;">
                <h5 style="width: 50%;">First name: </h5>
            --><!-- Data binding:  Có 2 loại là property binding và attribute binding. Dùng để bind data của file ts vào property/attributes của DOM(Document object model) của template (vd: Thẻ <input/>). Syntax: [propertyName]="expression". -->
<!-- Two way binding: <input type="text" [(ngModel)]="tên biến" />. Viết đầy đủ: <input type="text" [ngModel]="tên biến" (ngModelChange)="tên biến = $event"/>. Tên biến ở file ts-->
<!-- <input type="text" style="width: 50%;" [(ngModel)]="profile.firstName">
            </div>
            <hr>
            <div style="display: flex;">
                <h5 style="width: 50%;">Last name: </h5>
                <input type="text" style="width: 50%;" [(ngModel)]="profile.lastName">
            </div>
            <hr>
            <div style="display: flex;">
                <h5 style="width: 50%;">Gender: </h5>
                <input type="text" style="width: 50%;" [(ngModel)]="profile.gender">
            </div>
            <hr>
            <div style="display: flex;">
                <h5 style="width: 50%;">Birth date: </h5>
                <input type="datetime-local" style="width: 50%;" [(ngModel)]="profile.birthDate">
            </div>
            <hr>

            <p-button (click)="editProfile()">Save</p-button>
        </div>
    </div>
</p-dialog> -->


<div class="page-content">
    <div class="card sidebar" *ngIf="role == 'CU'">

        <app-menu-myaccount></app-menu-myaccount>

        <!-- <button pButton pRipple class="p-button-info p-mr-2 p-button-outlined" style="width: 100%;">Profile</button><hr>
        <button pButton pRipple class="p-button-info p-mr-2 p-button-outlined" style="width: 100%;">MyOrder</button> -->
    </div>

    <div class="card main-body">
        <h2 style="margin-bottom: 3%;">{{'profileScreen.Myprofile' | translate}}</h2>
        <!-- <hr> -->
        <div class="grid grid-nogutter">
            <div class="col-5 md:col-5">
                <div class="card" style="width: 97%; text-align: center;">
                    <!-- <h5>Avatar</h5> -->
                    <img src="{{!isLoggedIn || profileImage.imageBase64 == undefined ? '../../../../../assets/image/user.png' : 'data:image/gif;base64,' + profileImage.imageBase64}}"
                        width="150" height="150" style="border-radius: 50%;" />
                    <br><br>
                    <!-- <p-button >import img</p-button> -->
                    <p-fileUpload [files]="uploadedFiles" mode="basic"
                        [chooseLabel]="profileImage.imageBase64 == undefined ? addUpBtn : edtUpBtn" name="demo[]"
                        [showUploadButton]="false" [customUpload]="true" accept="image/*" [maxFileSize]="1000000"
                        (onSelect)="handleFileSelection($event);" [auto]="true"></p-fileUpload>
                    <!-- <br><br> -->
                </div>


                <!-- <div style="margin-top: 3%;"></div> -->

                <!-- <div class="card" style="width: 97%;"> -->
                <!-- <div>More</div> -->
                <div *ngIf="role == 'SE' && profileDisplay.status != 1">
                    <p-button [text]="true" (onClick)="openEditLicenseDialog();">{{'profileScreen.Editlicenceimage' |
                        translate}}</p-button>
                    <!-- <br> -->
                </div>
                <div *ngIf="role == 'SH' && profileDisplay.status != 1">
                  <p-button [text]="true" (onClick)="openEditIdcardDialog();">{{'profileScreen.Editlicenceimage' |
                      translate}}</p-button>
                  <!-- <br> -->
              </div>
                <div>
                    <p-button *ngIf="profileDisplay.confirmedEmail" (click)="openVerifyIdentityModal();"
                        [text]="true">{{'profileScreen.Changepassword' | translate}}</p-button>
                </div>
                <!-- </div> -->

            </div>

            <div class="col-7 md:col-7">
                <div class="card">
                    <!-- <div *ngIf="role != 'SE'"> -->
                    <div style="display: flex;">
                        <p class="field-title">{{'profileScreen.ID' | translate}}: </p>
                        <p class="field-info">{{profileDisplay.userId}}</p>
                    </div>
                    <hr>
                    <!-- </div> -->
                    <div *ngIf="role != 'SE'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.Lastname' | translate}}: </p>
                            <p class="field-info">{{profileDisplay.lastName}}</p>
                        </div>
                        <hr>
                    </div>
                    <div *ngIf="role != 'SE'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.Firstname' | translate}}: </p>
                            <p class="field-info">{{profileDisplay.firstName}}</p>
                            <!-- Interpolation: Thường được dùng để hiển thị dữ liệu từ file ts lên template. Syntax: {{ expression }} -->
                        </div>
                        <hr>
                    </div>
                    <div *ngIf="role != 'SE'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.Gender' | translate}}: </p>
                            <p class="field-info">{{profileDisplay.gender == undefined ?
                                None1
                                : profileDisplay.gender}}</p>
                        </div>
                        <hr>
                    </div>
                    <div *ngIf="role != 'SE'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.Birthdate' | translate}}: </p>
                            <p class="field-info">{{profileDisplay.birthDate == undefined ?
                                None2
                                : profileDisplay.birthDate}}</p>
                        </div>
                        <hr>
                    </div>
                    <div style="display: flex;">
                        <p class="field-title">{{'profileScreen.Email' | translate}}: </p>
                        <!-- <div class="field-info" *ngIf="profileDisplay.email != undefined else RegisterEmail"> -->
                        <div class="field-info">
                            {{profileDisplay.email}}
                            <!-- <div>
                                <a style="color: #6366F1;" class="edit-email-link" href="#"
                                    onClick="event.preventDefault();" (click)="doSomething();">Edit email</a>
                            </div> -->

                            <div *ngIf="!profileDisplay.confirmedEmail && role == 'CU' ||
                                !profileDisplay.confirmedEmail && role == 'SE' ||
                                !profileDisplay.confirmedEmail && role == 'SH'">
                                <a class="verify-email-link"
                                    (click)="confirm(profileDisplay.email);">{{'profileScreen.Verifyemail' |
                                    translate}}</a>
                            </div>
                            <div *ngIf="profileDisplay.confirmedEmail && role == 'CU'
                                || profileDisplay.confirmedEmail && role == 'SE'
                                || profileDisplay.confirmedEmail && role == 'SH'">
                                <p style="color: rgb(23, 170, 23);">{{'profileScreen.Emailhasbeenverified' | translate}}
                                </p>
                            </div>
                        </div>
                        <!-- <ng-template #RegisterEmail>
                            <p class="field-info"><p-button [text]="true">Add an email</p-button></p>
                        </ng-template> -->
                    </div>
                    <hr>
                    <div style="display: flex;">
                        <p class="field-title">{{'profileScreen.Phonenumber' | translate}}: </p>
                        <!-- <p class="field-info" *ngIf="profileDisplay.phoneNumber != undefined else RegisterPhoneNumber"> -->
                        <div class="field-info">
                            {{profileDisplay.phoneNumber == undefined ?
                            None3
                            : profileDisplay.phoneNumber }}
                            <!-- <p-button [text]="true" (onClick)="verifyPhonenumber();">verify phonenumber</p-button> -->
                            <div *ngIf="role == 'CU' || role == 'SE' || role == 'SH'">
                                <div *ngIf="!profileDisplay.isPhoneVerified">
                                    <div>
                                        <a style="color: #6366F1;" class="edit-phonenumber-link" href="#"
                                            onClick="event.preventDefault();"
                                            (click)="openVerifyPhonenumberModal(profileDisplay.phoneNumber,profileDisplay.userId);">{{'profileScreen.VerifiedPhoneNumber'
                                            | translate}}</a>
                                    </div>
                                    <div>
                                        <p style="color: red;">{{'profileScreen.Notverified' | translate}}</p>
                                    </div>
                                </div>
                                <div *ngIf="profileDisplay.isPhoneVerified">
                                    <p style="color: rgb(23, 170, 23);">{{'profileScreen.Phonenumberhasbeenverified' |
                                        translate}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- <ng-template #RegisterPhoneNumber>
                            <p class="field-info"><p-button [text]="true" (onclick)="doSomething();">Add a
                                    phonenumber</p-button></p>
                        </ng-template> -->

                        <!-- <a style="width: 50%;">Add a phone number</a> -->
                    </div>
                    <hr>
                    <!-- <div style="display: flex;">
                        <p style="width: 50%;">Walletbalance: </p>
                        <p style="width: 50%;">{{profileDisplay.walletBalance == null ? "0": profileDisplay.walletBalance}}
                        </p>
                    </div> -->
                    <!-- <hr> -->

                    <div *ngIf="role == 'SE'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.Shopname' | translate}}: </p>
                            <p class="field-info">{{profileDisplay.shopName == undefined ?
                                None4
                                : profileDisplay.shopName}} </p>
                        </div>
                        <hr>
                    </div>
                    <div *ngIf="role == 'SE'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.Shopaddress' | translate}}: </p>
                            <p class="field-info">{{profileDisplay.shopAddress == undefined ?
                                None5
                                : profileDisplay.shopAddress}} </p>
                        </div>
                        <hr>
                    </div>
                    <div *ngIf="role == 'SH'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.Manageby' | translate}}: </p>
                            <p class="field-info">{{profileDisplay.manageBy == undefined ?
                                None6
                                :profileDisplay.manageBy}} </p>
                        </div>
                        <hr>
                    </div>
                    <div *ngIf="role == 'SE' || role == 'SH'">
                        <div style="display: flex;">
                            <p class="field-title">{{'profileScreen.VerifiedStatus' | translate}}: </p>
                            <!-- <p class="field-info" *ngIf="profileDisplay.phoneNumber != undefined else RegisterPhoneNumber"> -->
                            <p class="field-info">
                                <span *ngIf="profileDisplay.status == 0" style="color: grey;">
                                    {{'profileScreen.PendingVerify' | translate}}
                                </span>
                                <span>
                                    <i *ngIf="profileDisplay.status == 1" class="pi pi-verified"
                                        style="color: green; font-size: large;"></i>
                                </span>
                                <span *ngIf="profileDisplay.status == 2" style="color: red;">
                                    {{'profileScreen.Rejected' | translate}}
                                </span>
                            </p>
                        </div>
                        <hr>
                    </div>
                    <!-- <div *ngIf="role == 'SE'">
                        <hr>
                        <div style="display: flex;">
                            <p class="field-title">Business License: </p>
                            <p class="field-info"> -->
                    <!-- <ng-container *ngIf="profileDisplay.imagesBase64.length !== 0; else noneImage" >
                                    <button pButton pRipple icon="pi pi-images"
                                            (click)="onDisplayImagesDialog(food, $event)"
                                            class="p-button-rounded p-button-text p-button-raised"></button>
                                </ng-container>
                                <ng-template #noneImage ><span class="no-image">No Image</span></ng-template> -->
                    <!-- </p>
                        </div>
                    </div> -->

                    <a class="btn-edit-profile" (click)="openSellerEditProfileDiaglog();" href="javascript:void(0);"
                        *ngIf="role == 'SE' else openOthersEditProfileDialogBtn">...<i class="pi pi-pencil"></i>
                        {{'profileScreen.Edit' | translate}}</a>
                    <ng-template #openOthersEditProfileDialogBtn>
                        <a class="btn-edit-profile" (click)="openOthersEditProfileDiaglog();"
                            href="javascript:void(0);">...<i class="pi pi-pencil"></i> {{'profileScreen.Edit' |
                            translate}}</a>
                    </ng-template>
                    <!-- &nbsp; -->
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>
<cmis-loading></cmis-loading>
