<p-dialog header="{{'foodDetailScreen.Reportingthefood' | translate}}: {{fooddetail.name}}" [(visible)]="isVisibleFoodReportModal" [modal]="true"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '500px' }" [draggable]="false" [resizable]="false"
    [responsive]="true">
    <!-- <br> -->
    <div class="card">
        <div class="align-items-center" style="padding-bottom: 5px;">
            <!-- <input type="text" value="{{fooddetail.foodId}}" [(ngModel)]="foodReport.foodId" disabled /> -->
            <!-- <hr> -->
            <div style="padding-bottom: 5px; font-style: italic;">
                {{'foodDetailScreen.reasons' | translate}}:
            </div>
            <div style="padding-bottom: 5px;">
                <p-checkbox name="reportContent" (onChange)="enableDisableFoodReportButtonSubmit();"
                    value="Đồ ăn thực tế không đúng với mô tả" [(ngModel)]="foodReport.reportContents"
                    inputId="reportContent1"></p-checkbox>
                <label for="reportContent1" class="ml-2">{{'foodDetailScreen.reason1' | translate}}</label>
            </div>
            <div style="padding-bottom: 5px;">
                <p-checkbox name="reportContent" (onChange)="enableDisableFoodReportButtonSubmit();"
                    value="Hình ảnh đồ ăn không giống với thực tế nhận được" [(ngModel)]="foodReport.reportContents"
                    inputId="reportContent2"></p-checkbox>
                <label for="reportContent2" class="ml-2">{{'foodDetailScreen.reason2' | translate}}</label>
            </div>
            <div style="padding-bottom: 5px;">
                <p-checkbox name="reportContent" (onChange)="enableDisableFoodReportButtonSubmit();"
                    value="Đồ ăn không đảm bảo chất lượng" [(ngModel)]="foodReport.reportContents"
                    inputId="reportContent3"></p-checkbox>
                <label for="reportContent3" class="ml-2">{{'foodDetailScreen.reason3' | translate}}</label>
            </div>
        </div>
        <br>
        <div style="padding-bottom: 5px;">
            <p-checkbox name="reportContent" (onChange)="enableDisableFoodReportTextArea($event);" value="Other"
                inputId="reportContentOther"></p-checkbox>
            <label for="reportContentOther" class="ml-2">{{'foodDetailScreen.Other' | translate}}</label>
        </div>
        <span class="">
            <textarea (change)="addValueToReportContentList();" [disabled]="isDisabledFoodReportTextArea" class="w-full"
                id="float-input" rows="5" cols="50" [(ngModel)]="foodReport.reportContent" placeholder="{{'foodDetailScreen.Content' | translate}}"
                pInputTextarea></textarea>
            <!-- <label for="float-input">Lý do khác</label> -->
        </span>
    </div>
    <strong>{{'foodDetailScreen.Note' | translate}}</strong>
    <br>
    <br>
    <p-button [disabled]="isDisabledFoodReportBtnSubmit" (click)="submitReport()">{{'button.save' | translate}}</p-button>
</p-dialog>

<div class="grid">
    <div class="col-12">
        <!-- <app-breadcrumb></app-breadcrumb> -->
    </div>
    <div class="col-12">
        <div class="card">
            <div class="grid" style="max-width: 100%;">
                <div class="col-12 lg:col-7 food-overview_images">
                    <p-galleria [value]="foodImages" [responsiveOptions]="galleriaResponsiveOptions"
                        [containerStyle]="{'max-width': '100%', 'margin':'auto'}" [circular]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="'data:image/png;base64,' + item.imageBase64"
                                style="max-width: 100%; display: block; max-height: 100%;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-item>
                            <div class="grid nogutter justify-center">
                                <img [src]="'data:image/png;base64,' + item.imageBase64"
                                    style=" max-width: 50px; display: block; max-height: 30%;" />
                            </div>
                        </ng-template>
                    </p-galleria>
                </div>
                <!-- <div class="col-1">
                    <p-divider layout="vertical">
                    </p-divider>
                </div> -->
                <div class="col-12 lg:col-5 food-infor">
                    <div *ngIf="hasAlreadyReported == true" style="text-align: right;">
                        {{'foodDetailScreen.Reported' | translate}}
                    </div>
                    <div *ngIf="isLoggedIn == true && hasAlreadyReported == false" style="text-align: right;">
                        <p-button [text]="true" (click)="openFoodReportDialog();">
                            <i class="pi pi-flag fs-large"></i>&nbsp;{{'foodDetailScreen.Report' | translate}}
                        </p-button>
                    </div>
                    <div class="food-div_name">
                        <h2 >{{fooddetail.name}}</h2>
                    </div>
                    <p-rating [ngModel]="fooddetail.averageStar" [readonly]="true" [cancel]="false"></p-rating>

                    <div class="category-div">
                        <h3 class="label">{{'foodDetailScreen.Category' | translate}}</h3>
                        <p class="line-height-3 m-0">{{fooddetail.categoryName}}</p>
                    </div>


                    <div class="price-div">
                        <h3 class="label">{{'foodDetailScreen.Price' | translate}}</h3>
                        <p> {{fooddetail.unitPrice | currency:'VND'}}</p>
                    </div>

                    <div class="numbers-div_order">
                        <h3 class="label">{{'foodDetailScreen.NumberOrders' | translate}}</h3>
                        <p> {{fooddetail.numberOrdered}}</p>
                    </div>

                    <div class="number-div_input">
                        <h3 class="label">{{'foodDetailScreen.Numbers' | translate}}</h3>
                        <p-inputNumber [(ngModel)]="amount" [showButtons]="true" buttonLayout="horizontal"
                            inputId="horizontal" spinnerMode="horizontal" [step]="1"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="1" [max]="100"
                            [(ngModel)]="amount"></p-inputNumber>
                    </div>
                    <div class="addCart">
                        <p-button label="{{'button.AddtoCart' | translate}}" class="addCart_btn" icon="pi pi-shopping-cart"
                        (onClick)="onAddToCart(fooddetail.foodId)"></p-button>
                    </div>
                </div>

                <div class="col-12 food-div_description">
                    <h4 class="line-height-3 m-0">{{'foodDetailScreen.Description' | translate}}</h4>
                    <p class="food-description" [innerHTML]="fooddetail.description">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h1>{{'foodDetailScreen.Similarfood' | translate}}</h1>
            <p-carousel [value]="similarFood" [numVisible]="3" [numScroll]="3" [circular]="false"
                [responsiveOptions]="">
                <ng-template let-product pTemplate="item">
                    <div class="border-round m-2 text-center p-2 product-content" style="border: 1px solid var(--surface-d)">
                        <div class="my-5 product-top">
                            <img [src]="'data:image/png;base64,' + product.foodImages[0].imageBase64" [alt]="product.name" (click)="onFoodDetail(product.foodId)"
                                class="shadow-4" />
                        </div>
                        <div class="product-bottom">
                            <p-rating [ngModel]="product.averageStar" [readonly]="true" [cancel]="false"></p-rating>
                            <div class="product-description">{{'foodDetailScreen.Ordered' | translate}}: {{product.numberOrdered}}</div>
                            <h5 class="mb-1 product-name" (click)="onFoodDetail(product.foodId)">{{product.name}}</h5>
                            <h6 class="mt-0 mb-3">{{product.unitPrice | currency : "VND" }}</h6>
                            <div class="my-5">
                                <button pButton pRipple icon="pi pi-search" class="mr-2 p-button-rounded" (click)="onFoodDetail(product.foodId)"></button>
                                <button pButton pRipple icon="pi pi-shopping-cart" class="mr-2 p-button-rounded" (click)="onAddToCart(product.foodId)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h1>{{'foodDetailScreen.Review' | translate}}</h1>
            <p-tabView orientation="left" (onChange)="onTabChange($event)">
              <p-tabPanel header="{{'foodDetailScreen.All' | translate}}({{ allCount }})" class="line-height-3 m-0">
                <div class="flex-auto">
                    <div *ngFor="let item of displayFeedback" class="comment-thread">
                        <!-- Comment 1 start -->
                        <div class="comment" id="comment-1">
                            <a href="#" class="comment-border-link">
                                <span class="sr-only">{{'foodDetailScreen.Jumptocomment1' | translate}}</span>
                            </a>
                            <div style="margin-bottom: 10px;">
                                <div class="comment-heading" style="margin-bottom: 10px;">
                                    <div class="comment-info">
                                        <a href="#" class="comment-author">{{item.customerName}}</a>
                                        <!-- <p-button [icon]="true ? 'pi pi-heart-fill' : 'pi pi-heart'" [rounded]="true" [text]="true" severity="help"></p-button> -->
                                        <p class="m-0">
                                            {{item.likeCount}} {{'foodDetailScreen.Like' | translate}} &bull; {{item.displayDate}}
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <!-- <div *ngIf="item.imagesFeedBack.length > 0"
                                        class="grid nogutter justify-center">
                                        <img *ngFor="let image of item.imagesFeedBack"
                                            src="data:image/gif;base64,{{image.imageBase64}}"
                                            style=" max-width: 150px; display: block; max-height: 80%;" />
                                    </div> -->
                                    <div *ngIf="item.imagesFeedBack.length > 0" class="">
                                      <img src="data:image/gif;base64,{{item.imagesFeedBack[0].imageBase64}}"
                                          style=" max-width: 150px; display: block; max-height: 80%;" />
                                          <ng-container *ngIf="item.imagesFeedBack.length !== 0; else noneImage" >
                                            <button pButton pRipple label="more"
                                                    (click)="onDisplayImagesDialog(item.imagesFeedBack, $event)"
                                                    class="p-button-rounded p-button-text p-button-raised"></button>
                                        </ng-container>
                                        <ng-template #noneImage ></ng-template>
                                  </div>

                                    <p>
                                        {{item.feedbackMessage}}
                                    </p>
                                    <button pButton pRipple  [icon]="item.isLiked ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
                                        (click)="onLikeReview(item.feedbackId)"></button>
                                </div>
                            </div>



                            <div *ngFor="let replies of item.listReply" class="replies">
                                <!-- Comment 2 start -->
                                <details class="comment" id="comment-2">
                                    <a  href="#" class="comment-border-link">
                                        <span class="sr-only">{{'foodDetailScreen.Jumptocomment2' | translate}}</span>
                                    </a>
                                    <summary>
                                        <div class="comment-heading">
                                            <div class="comment-info">
                                                <a href="#" class="comment-author">{{replies.userName}}</a>
                                                <p class="m-0">
                                                    {{replies.createdDate}}
                                                </p>
                                            </div>
                                        </div>
                                    </summary>

                                    <div class="comment-body">
                                        <p>
                                            {{replies.replyMessage}}
                                        </p>
                                    </div>
                                </details>
                                <!-- Comment 2 end -->
                            </div>
                        </div>
                        <!-- Comment 1 end -->
                    </div>
                    <p-paginator (onPageChange)="onPageChange($event, 5)" [first]="first" [rows]="rows"
                        [totalRecords]="displayFeedback.length" [rowsPerPageOptions]="[10, 20, 30]">
                    </p-paginator>
                </div>
            </p-tabPanel>
            <p-tabPanel header="5 {{'foodDetailScreen.star' | translate}}({{ namCount }})" class="line-height-3 m-0">
              <div class="flex-auto">
                  <div *ngFor="let item of displayFeedback" class="comment-thread">
                      <!-- Comment 1 start -->
                      <div class="comment" id="comment-1">
                          <a  class="comment-border-link">
                              <span class="sr-only">{{'foodDetailScreen.Jumptocomment1' | translate}}</span>
                          </a>
                          <div style="margin-bottom: 10px;">
                              <div class="comment-heading" style="margin-bottom: 10px;">
                                  <div class="comment-info">
                                      <a href="#" class="comment-author">{{item.customerName}}</a>
                                      <!-- <p-button [icon]="true ? 'pi pi-heart-fill' : 'pi pi-heart'" [rounded]="true" [text]="true" severity="help"></p-button> -->
                                      <p class="m-0">
                                          {{item.likeCount}} {{'foodDetailScreen.Like' | translate}} &bull; {{item.displayDate}}
                                      </p>
                                  </div>
                              </div>
                              <div class="comment-body">
                                  <!-- <div *ngIf="item.imagesFeedBack.length > 0"
                                      class="grid nogutter justify-center">
                                      <img *ngFor="let image of item.imagesFeedBack"
                                          src="data:image/gif;base64,{{image.imageBase64}}"
                                          style=" max-width: 150px; display: block; max-height: 80%;" />
                                  </div> -->
                                  <div *ngIf="item.imagesFeedBack.length > 0" class="">
                                    <img src="data:image/gif;base64,{{item.imagesFeedBack[0].imageBase64}}"
                                        style=" max-width: 150px; display: block; max-height: 80%;" />
                                        <ng-container *ngIf="item.imagesFeedBack.length !== 0; else noneImage" >
                                          <button pButton pRipple label="more"
                                                  (click)="onDisplayImagesDialog(item.imagesFeedBack, $event)"
                                                  class="p-button-rounded p-button-text p-button-raised"></button>
                                      </ng-container>
                                      <ng-template #noneImage ></ng-template>
                                </div>

                                  <p>
                                      {{item.feedbackMessage}}
                                  </p>
                                  <button pButton pRipple  [icon]="item.isLiked ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
                                      (click)="onLikeReview(item.feedbackId)"></button>
                              </div>
                          </div>



                          <div *ngFor="let replies of item.listReply" class="replies">
                              <!-- Comment 2 start -->
                              <details class="comment" id="comment-2">
                                  <a href="#" class="comment-border-link">
                                      <span class="sr-only">{{'foodDetailScreen.Jumptocomment2' | translate}}</span>
                                  </a>
                                  <summary>
                                      <div class="comment-heading">
                                          <div class="comment-info">
                                              <a href="#" class="comment-author">{{replies.userName}}</a>
                                              <p class="m-0">
                                                  {{replies.createdDate}}
                                              </p>
                                          </div>
                                      </div>
                                  </summary>

                                  <div class="comment-body">
                                      <p>
                                          {{replies.replyMessage}}
                                      </p>
                                  </div>
                              </details>
                              <!-- Comment 2 end -->
                          </div>
                      </div>
                      <!-- Comment 1 end -->
                  </div>
                  <p-paginator (onPageChange)="onPageChange($event, 5)" [first]="first" [rows]="rows"
                      [totalRecords]="displayFeedback.length" [rowsPerPageOptions]="[10, 20, 30]">
                  </p-paginator>
              </div>
          </p-tabPanel>
                <p-tabPanel header="4 {{'foodDetailScreen.star' | translate}}({{ bonCount }})" class="line-height-3 m-0">
                    <div class="flex-auto">
                        <div *ngFor="let item of displayFeedback" class="comment-thread">
                            <!-- Comment 1 start -->
                            <details class="comment" id="comment-1">
                                <a href="#" class="comment-border-link">
                                    <span class="sr-only">{{'foodDetailScreen.Jumptocomment1' | translate}}</span>
                                </a>
                                <summary style="margin-bottom: 10px;">
                                    <div class="comment-heading" style="margin-bottom: 10px;">
                                        <div class="comment-info">
                                            <a href="#" class="comment-author">{{item.customerName}}</a>
                                            <!-- <p-button [icon]="true ? 'pi pi-heart-fill' : 'pi pi-heart'" [rounded]="true" [text]="true" severity="help"></p-button> -->
                                            <p class="m-0">
                                                {{item.likeCount}} {{'foodDetailScreen.points' | translate}} &bull; {{item.displayDate}}
                                            </p>
                                        </div>
                                    </div>
                                </summary>

                                <div class="comment-body">
                                  <div *ngIf="item.imagesFeedBack.length > 0" class="">
                                    <img src="data:image/gif;base64,{{item.imagesFeedBack[0].imageBase64}}"
                                        style=" max-width: 150px; display: block; max-height: 80%;" />
                                        <ng-container *ngIf="item.imagesFeedBack.length !== 0; else noneImage" >
                                          <button pButton pRipple label="more"
                                                  (click)="onDisplayImagesDialog(item.imagesFeedBack, $event)"
                                                  class="p-button-rounded p-button-text p-button-raised"></button>
                                      </ng-container>
                                      <ng-template #noneImage ></ng-template>
                                </div>

                                  <p>
                                      {{item.feedbackMessage}}
                                  </p>
                                  <button pButton pRipple  [icon]="item.isLiked ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
                                      (click)="onLikeReview(item.feedbackId)"></button>
                              </div>

                                <div *ngFor="let replies of item.listReply" class="replies">
                                    <!-- Comment 2 start -->
                                    <details class="comment" id="comment-2">
                                        <a href="#" class="comment-border-link">
                                            <span class="sr-only">{{'foodDetailScreen.Jumptocomment2' | translate}}</span>
                                        </a>
                                        <summary>
                                            <div class="comment-heading">
                                                <div class="comment-info">
                                                    <a href="#" class="comment-author">{{replies.userName}}</a>
                                                    <p class="m-0">
                                                        {{replies.createDate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </summary>

                                        <div class="comment-body">
                                            <p>
                                                {{replies.replyMessage}}
                                            </p>
                                            <!-- Reply form end -->
                                        </div>
                                    </details>
                                    <!-- Comment 2 end -->
                                </div>
                            </details>
                            <!-- Comment 1 end -->
                        </div>
                        <p-paginator (onPageChange)="onPageChange($event, 4)" [first]="first" [rows]="rows"
                            [totalRecords]="displayFeedback.length" [rowsPerPageOptions]="[10, 20, 30]">
                        </p-paginator>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="3 {{'foodDetailScreen.star' | translate}}({{ baCount }})" class="line-height-3 m-0">
                    <div class="flex-auto">
                        <div *ngFor="let item of displayFeedback" class="comment-thread">
                            <!-- Comment 1 start -->
                            <details class="comment" id="comment-1">
                                <a href="#" class="comment-border-link">
                                    <span class="sr-only">{{'foodDetailScreen.Jumptocomment1' | translate}}</span>
                                </a>
                                <summary style="margin-bottom: 10px;">
                                    <div class="comment-heading" style="margin-bottom: 10px;">
                                        <div class="comment-info">
                                            <a href="#" class="comment-author">{{item.customerName}}</a>
                                            <!-- <p-button [icon]="true ? 'pi pi-heart-fill' : 'pi pi-heart'" [rounded]="true" [text]="true" severity="help"></p-button> -->
                                            <p class="m-0">
                                                {{item.likeCount}} {{'foodDetailScreen.points' | translate}} &bull; {{item.displayDate}}
                                            </p>
                                        </div>
                                    </div>
                                </summary>

                                <div class="comment-body">
                                  <div *ngIf="item.imagesFeedBack.length > 0" class="">
                                    <img src="data:image/gif;base64,{{item.imagesFeedBack[0].imageBase64}}"
                                        style=" max-width: 150px; display: block; max-height: 80%;" />
                                        <ng-container *ngIf="item.imagesFeedBack.length !== 0; else noneImage" >
                                          <button pButton pRipple label="more"
                                                  (click)="onDisplayImagesDialog(item.imagesFeedBack, $event)"
                                                  class="p-button-rounded p-button-text p-button-raised"></button>
                                      </ng-container>
                                      <ng-template #noneImage ></ng-template>
                                </div>

                                  <p>
                                      {{item.feedbackMessage}}
                                  </p>
                                  <button pButton pRipple  [icon]="item.isLiked ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
                                      (click)="onLikeReview(item.feedbackId)"></button>
                              </div>

                                <div *ngFor="let replies of item.listReply" class="replies">
                                    <!-- Comment 2 start -->
                                    <details class="comment" id="comment-2">
                                        <a href="#" class="comment-border-link">
                                            <span class="sr-only">{{'foodDetailScreen.Jumptocomment2' | translate}}</span>
                                        </a>
                                        <summary>
                                            <div class="comment-heading">
                                                <div class="comment-info">
                                                    <a href="#" class="comment-author">{{replies.userName}}</a>
                                                    <p class="m-0">
                                                        {{replies.createDate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </summary>

                                        <div class="comment-body">
                                            <p>
                                                {{replies.replyMessage}}
                                            </p>
                                        </div>
                                    </details>
                                    <!-- Comment 2 end -->
                                </div>
                            </details>
                            <!-- Comment 1 end -->
                        </div>
                        <p-paginator (onPageChange)="onPageChange($event, 3)" [first]="first" [rows]="rows"
                            [totalRecords]="displayFeedback.length" [rowsPerPageOptions]="[10, 20, 30]">
                        </p-paginator>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="2 {{'foodDetailScreen.star' | translate}}({{ haiCount }})" class="line-height-3 m-0">
                    <div class="flex-auto">
                        <div *ngFor="let item of displayFeedback" class="comment-thread">
                            <!-- Comment 1 start -->
                            <details class="comment" id="comment-1">
                                <a href="#" class="comment-border-link">
                                    <span class="sr-only">{{'foodDetailScreen.Jumptocomment1' | translate}}</span>
                                </a>
                                <summary style="margin-bottom: 10px;">
                                    <div class="comment-heading" style="margin-bottom: 10px;">
                                        <div class="comment-info">
                                            <a href="#" class="comment-author">{{item.customerName}}</a>
                                            <!-- <p-button [icon]="true ? 'pi pi-heart-fill' : 'pi pi-heart'" [rounded]="true" [text]="true" severity="help"></p-button> -->
                                            <p class="m-0">
                                                {{item.likeCount}} {{'foodDetailScreen.points' | translate}} &bull; {{item.displayDate}}
                                            </p>
                                        </div>
                                    </div>
                                </summary>

                                <div class="comment-body">
                                  <div *ngIf="item.imagesFeedBack.length > 0" class="">
                                    <img src="data:image/gif;base64,{{item.imagesFeedBack[0].imageBase64}}"
                                        style=" max-width: 150px; display: block; max-height: 80%;" />
                                        <ng-container *ngIf="item.imagesFeedBack.length !== 0; else noneImage" >
                                          <button pButton pRipple label="more"
                                                  (click)="onDisplayImagesDialog(item.imagesFeedBack, $event)"
                                                  class="p-button-rounded p-button-text p-button-raised"></button>
                                      </ng-container>
                                      <ng-template #noneImage ></ng-template>
                                </div>

                                  <p>
                                      {{item.feedbackMessage}}
                                  </p>
                                  <button pButton pRipple  [icon]="item.isLiked ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
                                      (click)="onLikeReview(item.feedbackId)"></button>
                              </div>

                                <div *ngFor="let replies of item.listReply" class="replies">
                                    <!-- Comment 2 start -->
                                    <details class="comment" id="comment-2">
                                        <a href="#" class="comment-border-link">
                                            <span class="sr-only">{{'foodDetailScreen.Jumptocomment2' | translate}}</span>
                                        </a>
                                        <summary>
                                            <div class="comment-heading">
                                                <div class="comment-info">
                                                    <a href="#" class="comment-author">{{replies.userName}}</a>
                                                    <p class="m-0">
                                                        {{replies.createDate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </summary>

                                        <div class="comment-body">
                                            <p>
                                                {{replies.replyMessage}}
                                            </p>
                                        </div>
                                    </details>
                                    <!-- Comment 2 end -->
                                </div>
                            </details>
                            <!-- Comment 1 end -->
                        </div>
                        <p-paginator (onPageChange)="onPageChange($event, 2)" [first]="first" [rows]="rows"
                            [totalRecords]="displayFeedback.length" [rowsPerPageOptions]="[10, 20, 30]">
                        </p-paginator>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="1 {{'foodDetailScreen.star' | translate}}({{ motCount }})" class="line-height-3 m-0">
                    <div class="flex-auto">
                        <div *ngFor="let item of displayFeedback" class="comment-thread">
                            <!-- Comment 1 start -->
                            <details class="comment" id="comment-1">
                                <a href="#comment-1" class="comment-border-link">
                                    <span class="sr-only">{{'foodDetailScreen.Jumptocomment1' | translate}}</span>
                                </a>
                                <summary style="margin-bottom: 10px;">
                                    <div class="comment-heading" style="margin-bottom: 10px;">
                                        <div class="comment-info">
                                            <a href="#" class="comment-author">{{item.customerName}}</a>
                                            <!-- <p-button [icon]="true ? 'pi pi-heart-fill' : 'pi pi-heart'" [rounded]="true" [text]="true" severity="help"></p-button> -->
                                            <p class="m-0">
                                                {{item.likeCount}} {{'foodDetailScreen.points' | translate}} &bull; {{item.displayDate}}
                                            </p>
                                        </div>
                                    </div>
                                </summary>

                                <div class="comment-body">
                                  <div *ngIf="item.imagesFeedBack.length > 0" class="">
                                    <img src="data:image/gif;base64,{{item.imagesFeedBack[0].imageBase64}}"
                                        style=" max-width: 150px; display: block; max-height: 80%;" />
                                        <ng-container *ngIf="item.imagesFeedBack.length !== 0; else noneImage" >
                                          <button pButton pRipple label="more"
                                                  (click)="onDisplayImagesDialog(item.imagesFeedBack, $event)"
                                                  class="p-button-rounded p-button-text p-button-raised"></button>
                                      </ng-container>
                                      <ng-template #noneImage ></ng-template>
                                </div>

                                  <p>
                                      {{item.feedbackMessage}}
                                  </p>
                                  <button pButton pRipple  [icon]="item.isLiked ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
                                      (click)="onLikeReview(item.feedbackId)"></button>
                              </div>
                                <div *ngFor="let replies of item.listReply" class="replies">
                                    <!-- Comment 2 start -->
                                    <details class="comment" id="comment-2">
                                        <a href="#" class="comment-border-link">
                                            <span class="sr-only">{{'foodDetailScreen.Jumptocomment2' | translate}}</span>
                                        </a>
                                        <summary>
                                            <div class="comment-heading">
                                                <div class="comment-info">
                                                    <a href="#" class="comment-author">{{replies.userName}}</a>
                                                    <p class="m-0">
                                                        {{replies.createDate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </summary>

                                        <div class="comment-body">
                                            <p>
                                                {{replies.replyMessage}}
                                            </p>
                                        </div>
                                    </details>
                                    <!-- Comment 2 end -->
                                </div>
                            </details>
                            <!-- Comment 1 end -->
                        </div>
                        <p-paginator (onPageChange)="onPageChange($event, 1)" [first]="first" [rows]="rows"
                            [totalRecords]="displayFeedback.length" [rowsPerPageOptions]="[10, 20, 30]">
                        </p-paginator>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
<p-dialog header=""
    [(visible)]="visibleImageDialog"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    [modal]="true"
    >
    <p-table [value]="ImageDialog" [paginator]="true" [rows]="5" responsiveLayout="scroll">

        <ng-template pTemplate="body" let-image>
            <tr >

                <td><p-image
                  src="data:image/gif;base64,{{image.imageBase64}}"
                  [preview]="true"
                  [alt]="image.imageId"
                  class="dialogimages_image w-10rem shadow-2"

                ></p-image>
                </td>


            </tr>
        </ng-template>
    </p-table>
</p-dialog>
<p-toast [baseZIndex]="99999" key="notify"></p-toast>
