<p-dialog [(visible)]="isVisibleEditProfileDialog" [style]="{ width: '450px' }" header="Profile details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="profileInfo">
        <div class="formgrid grid">
            <div class="field col">
                <label for="lastname">Lastname</label>
                <input type="text" pInputText id="lastname" [(ngModel)]="profile.lastName" required />
            </div>
            <div class="field col">
                <label for="firstname">Firstname</label>
                <input type="text" pInputText id="firstname" [(ngModel)]="profile.firstName" required />
            </div>
        </div>
        <div class="field">
            <label class="mb-3" for="birthDate">BirthDate</label>
            <input type="date" pInputText id="birthDate" [(ngModel)]="profile.birthDate" />
        </div>
        <div class="field">
            <label class="mb-3">Gender</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="male" name="male" value="male" [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="male">Male</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="female" name="female" value="female"
                        [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="female">Female</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton inputId="other" name="other" value="other"
                        [(ngModel)]="profile.gender"></p-radioButton>
                    <label for="other">Other</label>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="editProfile()"></button>
    </ng-template>
</p-dialog>

<div class="profilePageContent">
    <div class="card profile-main-body">
        <h2>Manage profile</h2>
        <hr>
        <div class="grid grid-nogutter">
            <div class="col-5 md:col-5" style="margin-left: 3%;">
                <!-- <h5>Avatar</h5> -->
                <img src="{{!isLoggedIn || profileImage.imageBase64 == undefined ? '../../../../../assets/image/user.png' : 'data:image/gif;base64,' + profileImage.imageBase64}}"
                    width="150" height="150" style="border-radius: 50%;" />
                <br><br>
                <!-- <p-button >import img</p-button> -->
                <p-fileUpload [files]="uploadedFiles" mode="basic"
                    [chooseLabel]="profileImage.imageBase64 == undefined ? 'Add profile image':'Edit profile image'"
                    name="demo[]" [showUploadButton]="false" [customUpload]="true" accept="image/*"
                    [maxFileSize]="1000000" (onSelect)="handleFileSelection($event);" [auto]="true"></p-fileUpload>

                <!-- <p-button (onClick)="showUploadedFiles();">Show files uploaded</p-button> -->
            </div>
            <div class="col-6 md:col-6">
                <div style="display: flex;">
                    <p class="field-title">Lastname: </p>
                    <p class="field-info">{{profileDisplay.lastName}}</p>
                </div>
                <hr>
                <div style="display: flex;">
                    <p class="field-title">Firstname: </p>
                    <p class="field-info">{{profileDisplay.firstName}}</p>
                    <!-- Interpolation: Thường được dùng để hiển thị dữ liệu từ file ts lên template. Syntax: {{ expression }} -->
                </div>
                <hr>
                <div style="display: flex;">
                    <p class="field-title">Gender: </p>
                    <p class="field-info">{{profileDisplay.gender}}</p>
                </div>
                <hr>
                <div style="display: flex;">
                    <p class="field-title">BirthDate: </p>
                    <p class="field-info">{{profileDisplay.birthDate}}</p>
                </div>
                <hr>
                <div style="display: flex;">
                    <p class="field-title">Email: </p>
                    <div class="field-info" *ngIf="profileDisplay.email != undefined else RegisterEmail">
                        {{profileDisplay.email}} <i *ngIf="profileDisplay.isVerified" class="pi pi-verified"
                            style="color: green;"></i>
                        <div>
                            <a style="color: #6366F1;" class="edit-email-link" href="#"
                                onClick="event.preventDefault();" (click)="doSomething();">Edit email</a>
                        </div>
                        <div>
                            <a style="color: #6366F1;" class="verify-email-link" href="#"
                                onClick="event.preventDefault();" (click)="doSomething();">Verify email</a>
                        </div>

                    </div>
                    <ng-template #RegisterEmail>
                        <p class="field-info"><p-button [text]="true">Add an email</p-button></p>
                    </ng-template>
                </div>
                <hr>
                <div style="display: flex;">
                    <p class="field-title">Phonenumber: </p>
                    <p class="field-info" *ngIf="profileDisplay.phoneNumber != undefined else RegisterPhoneNumber">
                        {{profileDisplay.phoneNumber}}<p-button [text]="true" (onClick)="editPhoneNumber();">Edit
                            phonenumber</p-button></p>
                    <ng-template #RegisterPhoneNumber>
                        <p class="field-info"><p-button [text]="true" (onclick)="doSomething();">Add a
                                phonenumber</p-button></p>
                    </ng-template>

                    <!-- <a style="width: 50%;">Add a phone number</a> -->
                </div>
                <hr>
                <!-- <div style="display: flex;">
                    <p style="width: 50%;">Walletbalance: </p>
                    <p style="width: 50%;">{{profileDisplay.walletBalance == null ? "0": profileDisplay.walletBalance}}
                    </p>
                </div> -->
                <!-- <hr> -->
                <p-button (click)="openEditProfileDiaglog();">Edit</p-button>
            </div>
        </div>
    </div>
</div>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>