<div class="grid table-demo">
    <div class="col-12">
        <div class="card">
            <h5>{{'adminMenuManagementScreen.FoodManagement' | translate}}</h5>

            <p-table #dt [value]="lstFood" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [paginator]="lstFood.length > 5" [filterDelay]="0"
                [rowsPerPageOptions]="[5,10,25,50]"
                currentPageReportTemplate="{{'adminMenuManagementScreen.Total' | translate}}: {totalRecords} {{'adminMenuManagementScreen.food' | translate}}"
                [globalFilterFields]="['name']" responsiveLayout="scroll" [loading]="loading">
                <ng-template pTemplate="caption">
                    <div class="flex flex-row align-items-center flex-wrap justify-content-between ">
                        <div class="flex-1">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #textInput
                                    (input)="dt.filterGlobal(textInput.value, 'contains')"
                                    placeholder="{{'adminMenuManagementScreen.SearchFoodbyname' | translate}}" />
                            </span>
                        </div>

                        <!-- <div class="flex-4 flex flex-row flex-wrap justify-content-center gap-3" style="gap: 0.5rem">
                            <div class="flex align-items-center justify-content-center">
                                <button pButton type="button" label="Add new" icon="pi pi-plus" (click)="onCreateFood()"
                                    style="width: auto;"></button>
                            </div>
                        </div> -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="foodId">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.ID' | translate}}
                                <p-sortIcon field="foodId"></p-sortIcon>
                                <p-columnFilter type="numeric" field="foodId" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="sellerId">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.SellerID' | translate}}
                                <p-sortIcon field="sellerId"></p-sortIcon>
                                <p-columnFilter type="text" field="sellerId" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <!-- <th pSortableColumn="sellerEmail">
                            <div class="flex justify-content-between align-items-center">
                                Email
                                <p-sortIcon field="sellerEmail"></p-sortIcon>
                                <p-columnFilter type="text" field="sellerEmail" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th> -->
                        <th pSortableColumn="categoryName">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.categoryname' | translate}}
                                <p-sortIcon field="categoryName"></p-sortIcon>
                                <p-columnFilter type="text" field="categoryName" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="name">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.foodname' | translate}}
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter type="text" field="name" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="description">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.fooddescription' | translate}}
                                <p-sortIcon field="description"></p-sortIcon>
                                <p-columnFilter type="text" field="description" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="unitPrice">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.unitprice' | translate}}
                                <p-sortIcon field="unitPrice"></p-sortIcon>
                                <p-columnFilter type="text" field="unitPrice" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="rating">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.rating' | translate}}
                                <p-sortIcon field="rating"></p-sortIcon>
                                <p-columnFilter type="numeric" field="rating" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="createdDate">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.CreatedDate' | translate}}
                                <p-sortIcon field="createdDate"></p-sortIcon>
                                <p-columnFilter type="date" field="createdDate" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.Images' | translate}}
                            </div>
                        </th>
                        <th pSortableColumn="status">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.Status' | translate}}
                                <p-sortIcon field="status"></p-sortIcon>
                                <p-columnFilter type="text" field="status" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="reportedTimes">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.approvedReportedTimes' | translate}}
                                <p-sortIcon field="reportedTimes"></p-sortIcon>
                                <p-columnFilter type="text" field="reportedTimes" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <!-- <th pSortableColumn="banBy">
                            <div class="flex justify-content-between align-items-center">
                                BanBy
                                <p-sortIcon field="banBy"></p-sortIcon>
                                <p-columnFilter type="text" field="banBy" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th> -->
                        <!-- <th pSortableColumn="banDate">
                            <div class="flex justify-content-between align-items-center">
                                BanDate
                                <p-sortIcon field="banDate"></p-sortIcon>
                                <p-columnFilter type="text" field="banDate" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </div>
                        </th> -->
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                {{'adminMenuManagementScreen.Action' | translate}}
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-food>
                    <tr class="p-selectable-row">
                        <!-- <td>
                            <p-tableCheckbox [value]="post"></p-tableCheckbox>
                        </td> -->
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.ID' | translate}}</span>
                            <span class="">{{food.foodId}}</span>
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.SellerID' | translate}}</span>
                            <span class="sellerId" (click)="viewContentDetail(food.sellerEmail)">
                                {{food.sellerId}}
                            </span>
                        </td>
                        <!-- <td>
                            <span class="p-column-title">SellerEmail</span>
                            {{food.sellerEmail}}
                        </td> -->
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.categoryname' | translate}}</span>
                            {{food.categoryName}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.foodname' | translate}}</span>
                            {{food.name}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.fooddescription' | translate}}</span>
                            <span class="food-content"
                                (click)="viewContentDetail(food.description)">{{food.description}}
                            </span>
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.unitprice' | translate}}</span>
                            {{food.unitPrice}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.rating' | translate}}</span>
                            <p-rating [ngModel]="food.rating" [readonly]="true" [cancel]="false"></p-rating>

                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.CreatedDate' | translate}}</span>
                            {{food.createdDate}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.Images' | translate}}</span>
                            <ng-container *ngIf="food.imagesBase64.length !== 0; else noneImage">
                                <button pButton pRipple icon="pi pi-images"
                                    (click)="onDisplayImagesDialog(food, $event)"
                                    class="p-button-rounded p-button-text p-button-raised"></button>
                            </ng-container>
                            <ng-template #noneImage><span class="no-image">No Image</span></ng-template>
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.Status' | translate}}</span>
                            <p-tag [value]="food.status" [severity]="getSeverity(food.status)"></p-tag>
                        </td>
                        <td>
                            <span class="p-column-title">{{'adminMenuManagementScreen.approvedReportedTimes' | translate}}</span>
                            {{food.reportedTimes}}
                        </td>
                        <!-- <td>
                            <span class="p-column-title">BanBy</span>
                            {{food.banBy}}
                        </td> -->
                        <!-- <td>
                            <span class="p-column-title">BanDate</span>
                            {{food.banDate}}
                        </td> -->
                        <td>
                            <div class="" style="gap: 0.5rem">
                                <!-- <div class="flex align-items-center justify-content-center">
                                    <button pButton pRipple icon="pi pi-pencil" (click)="onUpdateFood(food)"
                                        class="p-button-rounded p-mr-2"></button>
                                </div> -->
                                <div *ngIf="food.status === 'NotApproved'" class="" style="margin-bottom: 5px;">
                                    <button pButton pRipple icon="pi pi-check-circle"
                                        (click)="onDisplayFood(food, $event)"
                                        class="p-button-rounded p-button-info"></button>
                                </div>
                                <div *ngIf="food.status === 'Display'
                                        || food.status === 'Hidden'
                                        || food.status === 'NotApproved'" class="">
                                    <button pButton pRipple icon="pi pi-ban" (click)="onOpenBanNoteDialog(food)"
                                        class="p-button-rounded p-button-danger"></button>
                                </div>
                                <ng-container *ngIf="food.status !== 'NotApproved'">
                                    <!-- <div *ngIf="food.reportedTimes >= 3 "> -->
                                    <div style="margin-bottom: 5px;"
                                        *ngIf="food.status === 'Ban' && food.banBy === userId" class="">
                                        <button pButton pRipple icon="pi pi-circle" (click)="onUnbanFood(food, $event)"
                                            class="p-button-rounded p-button-success"></button>
                                    </div>
                                    <!-- <ng-template #statusBannable> -->

                                    <div *ngIf="food.status === 'Ban'" class="">
                                        <button pButton pRipple (click)="onOpenBanDetailDialog(food)"
                                            class="p-button-rounded p-button-info">{{'adminMenuManagementScreen.Bandetail'
                                            | translate}}</button>
                                    </div>
                                    <!-- </ng-template> -->
                                    <!-- </div> -->
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">{{'adminMenuManagementScreen.emptymessage' | translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog header="{{'adminMenuManagementScreen.Bandetail' | translate}}" [(visible)]="visibleBanDetailDialog"
    [style]="{width: '50vw'}" [maximizable]="true" [modal]="true">
    <!-- <p class="dialog-content-detail">
        {{contentDialog.reportContent}}
    </p> -->
    <table class="table-ban-detail">
        <tbody>
            <tr>
                <th>{{'adminMenuManagementScreen.Bandate' | translate}}: </th>
                <td>
                    {{banDetail.banDate}}
                </td>
            </tr>
            <tr>
                <th>{{'adminMenuManagementScreen.Banby' | translate}}: </th>
                <td>
                    {{banDetail.banBy}}
                </td>
            </tr>
            <tr>
                <th>{{'adminMenuManagementScreen.Bannote' | translate}}: </th>
                <td>
                    {{banDetail.banNote}}
                </td>
            </tr>
        </tbody>
    </table>
</p-dialog>

<p-dialog header="{{'adminPostManagementScreen.Bannote' | translate}}" [(visible)]="visibleBanNoteDialog" [modal]="true"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '500px' }" [draggable]="false" [resizable]="false"
    [responsive]="true">
    <div class="card">
        <span class="p-float-label">
            <textarea class="w-full" id="float-input" rows="5" cols="40" [(ngModel)]="foodModel.banNote" pInputTextarea
                required [class.ng-invalid]="!banUnbanInputValidation.isBanNoteValid"
                [class.ng-dirty]="!banUnbanInputValidation.isBanNoteValid"></textarea>
            <small [style.display]="banUnbanInputValidation.isBanNoteValid ? 'none !important' : 'block !important'"
                class="p-error block">{{banUnbanInputValidation.banNoteMessage}}
            </small>
            <label *ngIf="foodModel.status == 'Ban'"
                for="float-input">{{'adminPostManagementScreen.Enternoteforunbanning' | translate}}</label>
            <label *ngIf="foodModel.status != 'Ban'" for="float-input">{{'adminPostManagementScreen.Enternoteforbanning'
                | translate}}</label>
        </span>
    </div>

    <div style="display: flex;">
        <p-button *ngIf="foodModel.status == 'Ban'"
            (click)="banUnbanFood(foodModel, false)">{{'adminPostManagementScreen.Unban' |
            translate}}</p-button>&nbsp;&nbsp;&nbsp;&nbsp;
        <p-button *ngIf="foodModel.status != 'Ban'"
            (click)="banUnbanFood(foodModel, true)">{{'adminPostManagementScreen.Ban' |
            translate}}</p-button>&nbsp;&nbsp;&nbsp;&nbsp;
        <p-button [text]="true" (onClick)="visibleBanNoteDialog = false">{{'adminPostManagementScreen.Cancel' |
            translate}}</p-button>
    </div>
</p-dialog>

<p-dialog header="{{'adminMenuManagementScreen.Viewdetail' | translate}}" [(visible)]="visibleDescriptionDialog"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [maximizable]="true">
    <p class="dialog-content-detail">
        {{contentDialog}}
    </p>
</p-dialog>


<p-dialog header="{{'adminMenuManagementScreen.ImageList' | translate}}" [(visible)]="visibleImageDialog"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false"
    [maximizable]="true">
    <p-table [value]="foodImageDialog.imagesBase64" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="ID">{{'adminMenuManagementScreen.ID' | translate}}<p-sortIcon
                        field="ID"></p-sortIcon></th>
                <th>{{'adminMenuManagementScreen.Image' | translate}}</th>
                <th>{{'adminMenuManagementScreen.Name' | translate}}</th>
                <th>{{'adminMenuManagementScreen.Size' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-foodImage>
            <tr>
                <td>{{foodImage.imageId}}</td>
                <td><p-image src="data:image/gif;base64,{{foodImage.imageBase64}}" [preview]="true"
                        [alt]="foodImage.imageId" class="dialogimages_image w-10rem shadow-2"></p-image></td>
                <td>{{foodImage.name}}</td>
                <td>{{foodImage.size}} KB</td>

            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>

<p-confirmPopup></p-confirmPopup>

<p-confirmDialog key="uhideFood" header="Hide/UnHide Post" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<cmis-loading></cmis-loading>