<div class="grid">
	<div class="col-12 md:col-6 mx-auto">
		<div class="card p-fluid">
			<h5>Checkout: {{totalPrice}}</h5>           
            <div class="field">
                <label htmlFor="address">Address</label>
				<div>
                    <label>
                      <input name="address" type="radio" [(ngModel)]="selectedOption" [value]="'default'"> Profile Default Address
                    </label>
                  </div>
                  
                  <div>
                    <label>
                      <input name="address" type="radio" [(ngModel)]="selectedOption" [value]="'custom'"> Custom Address:
                    </label>
                    <input type="text" [(ngModel)]="customAddress" *ngIf="selectedOption === 'custom'" />
                  </div>
			</div>
            <div class="field">
				<label htmlFor="name1">Phone number:</label>
				<input required  [(ngModel)]="phone" pInputText id="Phone" type="text" />
			</div>
			<div class="field">
				<label htmlFor="name1">Note</label>
				<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="note"></textarea>
			</div>
			<div class="field">
                <label htmlFor="address">Payment method</label>
				<div>
                    <label>
                      <input name="payment" type="radio" [(ngModel)]="paymentOptions" [value]="'cod'"> COD
                    </label>
                  </div>
                  
                  <div>
                    <label>
                      <input name="payment" type="radio" [(ngModel)]="paymentOptions" [value]="'wallet'"> Wallet
                    </label>
                  </div>
			</div>
		</div>
        <button pButton pRipple label="Order" (click)="onCreateOrder()"></button>
	</div>
</div>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>