<div class="grid">
  <div class="col-12 md:col-8 mx-auto">
    <div class="grid p-fluid">
      <div class="col-12 md:col-12">
          <div class="card">
              <p-divider align="left" type="solid">
                  <div class="inline-flex align-items-center">
                    <b>{{'checkOutScreen.OrderInformation' | translate}}</b>
                    
                  </div>
              </p-divider>
              <div class="grid">
                <p-table
                  styleClass="p-datatable-orders"
                  [value]="listShop"
                  dataKey="shopId"
                  [tableStyle]="{ 'width': '100%' }"
                  [rows]="10"
                  [paginator]="true"
                  [filterDelay]="0"
                  [rowsPerPageOptions]="[5, 10, 25, 50]"
                  responsiveLayout="scroll"
                >
                  <ng-template pTemplate="header">
                    <tr class="tr-th_background-color">
                      <th style="width: 5rem"></th>
                      <th pSortableColumn="totalPrice">
                        {{'checkOutScreen.ShopName' | translate}} <p-sortIcon field="totalPrice"></p-sortIcon>
                      </th>
                      <th pSortableColumn="totalPrice">
                        {{'checkOutScreen.TotalPrice' | translate}} <p-sortIcon field="totalPrice"></p-sortIcon>
                      </th>
                      <th pSortableColumn="voucher">
                        {{'checkOutScreen.Voucher' | translate}} <p-sortIcon field="voucher"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-order let-expanded="expanded">
                    <tr>
                      <td>
                        <button
                          type="button"
                          pButton
                          pRipple
                          [pRowToggler]="order"
                          class="p-button-text p-button-rounded p-button-plain"
                          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        ></button>
                      </td>
                      <td (click)="onShopDetail(order.shopId)" class="shop-name">{{order.shopName}}</td>
                      <td class="totalPrice_shop">
                        {{order.totalPrice | currency : "VND"}}
                        <span class="voucherPrice_shop" *ngIf="order.voucherPrice != 0">- {{order.voucherPrice | currency : "VND"}}</span>
                      </td>
                      <td>
                        <div class="col-12 mb-2 lg:col-12 mb-lg-0">
                            <span class="p-input-icon-left p-float-label" style="width: 100%">
                                <input type="text" 
                                        class="w-full" 
                                        [(ngModel)]="order.voucher" 
                                        pInputText
                                        (input)="checkVoucher($event, order.shopId)"
                                        />
                                <label>{{'checkOutScreen.Voucher1' | translate}}</label>
                            </span>
                        </div>
                      </td>
                      
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="rowexpansion" let-order>
                    <tr>
                      <td colspan="4">
                        <div class="p-3 div-expand">
                          <p-dataView [value]="order.foodCheckouts" >
                            <ng-template pTemplate="listItem" let-food>
                              <div class="food-item">
                                <div class="food-image">
                                  <img (click)="onFoodDetail(food.foodId)"
                                    src="data:image/gif;base64,{{
                                      food.foodImage
                                    }}"
                                    [alt]="food.foodName"
                                    class="shadow-4 image-food_expand"
                                  />
                                </div>
                                <div class="food-infor">
                                  <div class="food-infor_left">
                                    <h3 (click)="onFoodDetail(food.foodId)" class="food-infor_name">{{ food.foodName }}</h3>
                                    <!-- <p class="food-infor_cate">{{ food.unitPrice }}</p> -->
                                  </div>
                                  <div class="food-infor_right">
                                    <p class="food-infor_price">{{ food.unitPrice | currency : "VND"}}</p>
                                    <p class="food-infor_quantity">x {{ food.amount }}</p>
                                    <p class="food-infor_total">{{ food.totalPrice | currency : "VND"}}</p>
                                  </div>
                                </div>
                              </div>
                              
                            </ng-template>
                          </p-dataView>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <p-fieldset legend="Overview Information" [toggleable]="false">
                  <div class="grid">
                      <div class="col-12 mb-2 lg:col-3 mb-lg-0 flex flex-column gap-2rem">
                          <span>{{'checkOutScreen.Address' | translate}}</span>
                          <p-checkbox [binary]="true" label="{{'checkOutScreen.Different' | translate}}" [(ngModel)]="isDifferentAddress"></p-checkbox>
                      </div>
                      
                      <div class="col-12 mb-2 lg:col-9 mb-lg-0" >
                        <ng-container *ngIf="isDifferentAddress;else addressDefault">
                          <!-- <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <input type="text" 
                                    class="w-full" 
                                    [(ngModel)]="address"
                                    pInputText
                                    />
                            <label>Address*</label>
                          </span> -->
                        <app-address-selector
                          (provinceOutput)="proviceOutput($event)"
                          (districtOutput)="districtOutput($event)"
                          (wardOutput)="wardOutput($event)"
                          (addressOutput)="addressOutput($event)"
                        ></app-address-selector>
                        </ng-container>
                        
                        <ng-template  #addressDefault>
                          <span class="p-input-icon-left p-float-label">
                            <p-dropdown [options]="address" [(ngModel)]="defaultAddress"
                                        [showClear]="true"
                                        [autoDisplayFirst]="false"
                                        optionLabel="addressInfo"
                                        ></p-dropdown>
                            <label>{{'checkOutScreen.Address' | translate}}*</label>
                          </span>
                      </ng-template>
                      </div>
                      
                      
                  </div>
                  <div class="grid">
                    <div class="col-12 mb-2 lg:col-3 mb-lg-0">
                        {{'checkOutScreen.Phone' | translate}}
                    </div>
                    <div class="col-12 mb-2 lg:col-9 mb-lg-0">
                      <span class="p-input-icon-left p-float-label" style="width: 100%">
                        <input type="text" 
                                class="w-full" 
                                [(ngModel)]="phone"
                                pInputText=
                                />
                        <label>{{'checkOutScreen.Phone' | translate}}*</label>
                      </span>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="col-12 mb-2 lg:col-3 mb-lg-0">
                        {{'checkOutScreen.PaymentMethod' | translate}}
                    </div>
                    <div class="col-5 mb-2 lg:col-5 mb-lg-0" style="text-align: end;">
                      <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="payment" value="cod" [(ngModel)]="paymentOptions" inputId="ingredient1"></p-radioButton>
                            <label for="ingredient1" class="ml-2">{{'checkOutScreen.COD' | translate}}</label>
                        </div>
                        
                        <div class="flex align-items-center">
                            <p-radioButton name="payment" value="wallet" [(ngModel)]="paymentOptions" inputId="ingredient2"></p-radioButton>
                            <label for="ingredient2" class="ml-2">{{'checkOutScreen.Wallet' | translate}}</label>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="paymentOptions === 'wallet'" class="col-7 mb-2 lg:col-4 mb-lg-0" style="text-align: end;">
                      <div class="flex flex-wrap gap-3 align-items-center">
                        <span>{{'checkOutScreen.Wallet' | translate}}: </span>
                        <span>{{balance | currency : 'VND'}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="grid">
                    <div class="col-12 mb-2 lg:col-12 mb-lg-0">
                      <span class="p-input-icon-left p-float-label" style="width: 100%">
                        <input type="text" 
                                class="w-full" 
                                [(ngModel)]="note"
                                pInputText=
                                />
                        <label>{{'checkOutScreen.Note' | translate}}</label>
                    </span>
                    </div>
                  </div>

                  <div class="grid">
                    <div class="col-12 mb-2 lg:col-3 mb-lg-0">
                        {{'checkOutScreen.TotalPriceOrder' | translate}} 
                    </div>
                    <div class="col-12 mb-2 lg:col-9 mb-lg-0 total-price-order_all" style="text-align: end;">
                      {{totalPrice | currency : "VND"}}
                      <span *ngIf="haveVoucher">- {{totalPriceVoucher | currency : "VND"}}</span>
                    <br>
                    <div *ngIf="haveVoucher">
                      {{totalPrice - totalPriceVoucher | currency : "VND"}}
                    </div>                   
                    </div>
                  </div>
                  
              </p-fieldset>

              <div class="grid col-12" style="text-align: center">
                <button pButton type="button" label="{{'button.Checkout' | translate}}" icon="pi pi-save"
                            class="checkout-btn" (click)="onCreateOrder()"></button>
              </div>
          </div>

      </div>
    </div>
    
    <p-dialog
    header="Order Notification"
    [(visible)]="displaySuccess"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    [modal]="true"
    (onHide)="onClose()"
  >
    <div class="grid p-fluid">
      <div class="col-12 md:col-12">
        <div class="card">
          <div style="align-items: center; justify-content: center;" class="grid">
            <h1 style="color: green;">{{'checkOutScreen.OrderSuccess' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div
        class="flex justify-content-center flex-wrap"
        style="text-align: center"
      >
        <div
          class="flex align-items-center justify-content-center"
          style="text-align: center"
        >
          <button
            pButton
            type="button"
            label="{{'button.GotoOrderManagementpage' | translate}}"
            icon="pi pi-shopping-bag"
            (click)="onClose()"
            style="width: 100%"
          ></button>
        </div>
        <!-- <div
          class="flex align-items-center justify-content-center"
          style="text-align: center"
        >
          <button
            pButton
            type="button"
            label="Cancel"
            icon="pi pi-times"
            (click)="onCancelCancel()"
            class="p-button-danger"
            style="width: 100%"
          ></button>
        </div> -->
      </div>
    </ng-template>
  </p-dialog>
</div>


<p-toast [baseZIndex]="99999" key="notify"></p-toast>