<div class="grid table-demo">
  <div class="col-12">
      <div class="card">
          <h5>{{'shipAdminScreen.ShipperManagement' | translate}}</h5>

          <p-table #dt [value]="listShipper" dataKey="id"
                   styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                   [showCurrentPageReport]="true"
                   [paginator]="listShipper.length > 5" [filterDelay]="0" [rowsPerPageOptions]="[5,10,25,50]"
                   currentPageReportTemplate="Total: {totalRecords} foods"
                   [globalFilterFields]="['shipperName']" responsiveLayout="scroll"

          >
              <ng-template pTemplate="caption">
                  <div class="flex flex-row align-items-center flex-wrap justify-content-between ">
                      <div class="flex-1">
                          <span class="p-input-icon-left">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text"  #textInput
                                     (input)="dt.filterGlobal(textInput.value, 'contains')"
                                     placeholder="{{'shipAdminScreen.SearchNamebyname' | translate}}"/>
                          </span>
                      </div>

                      <!-- <div class="flex-4 flex flex-row flex-wrap justify-content-center gap-3" style="gap: 0.5rem">
                          <div class="flex align-items-center justify-content-center">
                              <button pButton type="button" label="Add new" icon="pi pi-plus"

                                      style="width: auto;"></button>
                          </div>
                      </div> -->
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <!-- <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th> -->
                      <th pSortableColumn="customerId">
                          <div class="flex justify-content-between align-items-center">
                              ID
                              <p-sortIcon field="shipperId"></p-sortIcon>
                              <p-columnFilter type="numeric" field="shipperId" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>

                      <th pSortableColumn="shipperName">
                          <div class="flex justify-content-between align-items-center">
                            {{'shipAdminScreen.FullName' | translate}}
                              <p-sortIcon field="lastName"></p-sortIcon>
                              <p-columnFilter type="text" field="shipperName" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>
                      <th pSortableColumn="email">
                        <div class="flex justify-content-between align-items-center">
                          Email
                            <p-sortIcon field="email"></p-sortIcon>
                            <p-columnFilter type="text" field="email" display="menu"
                                            class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="email">
                      <div class="flex justify-content-between align-items-center">
                        {{'shipAdminScreen.PhoneNumber' | translate}}
                          <p-sortIcon field="email"></p-sortIcon>
                          <p-columnFilter type="text" field="email" display="menu"
                                          class="ml-auto"></p-columnFilter>
                      </div>
                  </th>
                      <th pSortableColumn="gender">
                          <div class="flex justify-content-between align-items-center">
                             {{'shipAdminScreen.Gender' | translate}}
                              <p-sortIcon field="gender"></p-sortIcon>
                              <p-columnFilter type="text" field="gender" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>
                      <th pSortableColumn="birthDate">
                          <div class="flex justify-content-between align-items-center">
                               {{'shipAdminScreen.DOB' | translate}}
                              <p-sortIcon field="birthDate"></p-sortIcon>
                              <p-columnFilter type="text" field="birthDate" display="menu"
                                              class="ml-auto"></p-columnFilter>
                          </div>
                      </th>

                      <th pSortableColumn="isVerified">
                        <div class="flex justify-content-between align-items-center">
                            {{'shipAdminScreen.Verification' | translate}}
                            <p-sortIcon field="isVerified"></p-sortIcon>
                            <p-columnFilter type="numeric" field="isVerified" display="menu"
                                            class="ml-auto"></p-columnFilter>
                        </div>
                    </th>

                      <th>
                          <div class="flex justify-content-between align-items-center">
                                {{'shipAdminScreen.Images' | translate}}
                          </div>
                      </th>
                      <th>
                        <div class="flex justify-content-between align-items-center">
                              {{'shipAdminScreen.ImagesIdCard' | translate}}
                        </div>
                    </th>
                      <th pSortableColumn="confirmedEmail">
                        <div class="flex justify-content-between align-items-center">
                            {{'shipAdminScreen.ConfirmedEmail' | translate}}
                            <p-sortIcon field="confirmedEmail"></p-sortIcon>
                            <p-columnFilter type="numeric" field="confirmedEmail" display="menu"
                                            class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                      <th style="min-width: 8rem">
                          <div
                               class="flex justify-content-between align-items-center">
                                {{'shipAdminScreen.Action' | translate}}
                          </div>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-user>
                  <tr class="p-selectable-row">
                      <!-- <td>
                          <p-tableCheckbox [value]="post"></p-tableCheckbox>
                      </td> -->
                      <td>
                          <span class="p-column-title">ID</span>
                          <span class="post-id">{{user.shipperId}}</span>
                      </td>
                      <td >
                          <span class="p-column-title">FullName</span>
                          {{user.shipperName}}
                      </td>
                      <td >
                        <span class="p-column-title">Email</span>
                        {{user.email}}
                    </td>
                    <td >
                      <span class="p-column-title">PhoneNumber</span>
                      {{user.phoneNumber}}
                  </td>
                      <td>
                          <span class="p-column-title">Gender</span>
                          <span class="post-content" >{{user.gender}}</span>
                      </td>
                      <td >
                          <span class="p-column-title">BirthDate</span>
                          {{user.birthDate| date:'dd/MM/yyyy'}}
                      </td>
                      <td >
                        <span class="p-column-title">Verification</span>
                        <div *ngIf="user.status===1" style="color:chartreuse;">
                            {{'shipAdminScreen.Verified' | translate}}
                        </div>
                        <div *ngIf="user.status===2"  style="color:red;">
                           {{'shipAdminScreen.Recject' | translate}}
                        </div>
                        <div *ngIf="user.status===0"  style="color:rgb(79, 68, 68);">
                            {{'shipAdminScreen.Pending' | translate}}
                         </div>
                    </td>
                      <td>
                          <span class="p-column-title">Image</span>
                          <ng-container *ngIf="user.imagesBase64.length !== 0; else noneImage" >
                            <button pButton pRipple icon="pi pi-images"
                                    (click)="onDisplayImagesDialog(user, $event)"
                                    class="p-button-rounded p-button-text p-button-raised"></button>
                        </ng-container>
                          <ng-template #noneImage ><span class="no-image">{{'shipAdminScreen.NoImage' | translate}}</span></ng-template>
                      </td>
                      <td>
                        <span class="p-column-title">Image</span>
                        <ng-container *ngIf="user.imagesBase64Id1 !== null; else noneImage" >
                          <button pButton pRipple icon="pi pi-images"
                                  (click)="onDisplayImagesDialogId(user, $event)"
                                  class="p-button-rounded p-button-text p-button-raised"></button>
                      </ng-container>
                        <ng-template #noneImage ><span class="no-image"> {{'shipAdminScreen.NoImage' | translate}}</span></ng-template>
                    </td>
                      <td>
                        <span class="p-column-title">ConfirmEmail</span>
                        <div *ngIf="user.confirmedEmail===true"  style="color:chartreuse;">
                            {{'shipAdminScreen.Confirmed' | translate}}
                          </div>
                          <div *ngIf="user.confirmedEmail===false"  style="color:red;">
                      {{'shipAdminScreen.Notconfirmedyet' | translate}}
                          </div>

                    </td>
                      <!-- <td >
                        <span class="p-column-title">IsBanned</span>
                        <div *ngIf="user.isBanned" style="color:red;">
                         <span class="post-content" (click)="onHistoryBan(user.shipperId)">Ban</span>
                        </div>
                        <div *ngIf="!user.isBanned"  style="color:chartreuse;">
                          Not Ban
                        </div>
                    </td> -->
                      <td style="text-align: center">
                          <div class="flex justify-content-center flex-wrap" style="gap: 0.5rem">
                              <!-- <div class="flex align-items-center justify-content-center">
                                  <button pButton pRipple  [icon]="user.isBanned ? 'pi pi-lock-open' : 'pi pi-ban'"
                                  (click)="BanShipper(user)"
                                          class="p-button-rounded p-mr-2"></button>
                              </div> -->
                              <div class="flex align-items-center justify-content-center">
                                <button *ngIf="user.status != 1" pButton pRipple  label=" {{'shipAdminScreen.Verification' | translate}}"
                                (click)="ActiveShipper(user,1)"
                                        class="p-button-rounded p-mr-2"></button>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                              <button *ngIf="user.status != 1" pButton pRipple  label="  {{'shipAdminScreen.Recject' | translate}}"
                              (click)="RejectShipper(user,2)"
                                      class="p-button-rounded p-mr-2"></button>
                          </div>
                          <div class="flex align-items-center justify-content-center">
                            <button  pButton pRipple  label="  {{'shipAdminScreen.Detail' | translate}}"
                            (click)="Detail(user)"
                                    class="p-button-rounded p-mr-2"></button>
                        </div>
                          </div>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="8"> {{'shipAdminScreen.emptymessage' | translate}}.</td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>
<p-dialog [header]="headerDialog" [(visible)]="displayDialogNote"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [maximizable]="true"

          >
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="card">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <b>  {{'shipAdminScreen.Note' | translate}}*</b>
                    </div>
                </p-divider>
                <div class="grid">
                  <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                      <span class="p-input-icon-left p-float-label" style="width: 100%">
                          <input type="hidden" step="5000" min="0"  class="w-full" [(ngModel)]="activeshipper.shipperId"
                                  pInputText
                                  />

                      </span>
                  </div>

                <div class="col-12 mb-2 ">
                  <span class="p-input-icon-left p-float-label" style="width: 100%">
                    <textarea class="w-full" rows="10" cols="60"
                    pInputTextarea
                    [(ngModel)]="activeshipper.note"
                    (input)="checkSaveButtonStatus()"
                    ></textarea>
                      <label>  {{'shipAdminScreen.Note' | translate}}*</label>
                  </span>
              </div>







                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center flex-wrap" style="text-align: center">
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="  {{'button.save' | translate}}" icon="pi pi-save" [disabled]="isSaveButtonDisabled"
                        (click)="ActiveShipper1()"
                        style="width: 100%;"></button>
            </div>
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="  {{'button.cancel' | translate}}" icon="pi pi-times"
                        (click)="ActiveShipperCancel()" class="p-button-danger"
                        style="width: 100%;"></button>
            </div>

        </div>
    </ng-template>
</p-dialog>
<p-dialog header="List Ban History "
    [(visible)]="visiblebanHistoryDialog"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    >
    <p-table  [value]="listhistoryBan" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="banShipperId">ID<p-sortIcon field="banShipperId"></p-sortIcon></th>
                <th>Reason</th>
                <th>Create Date</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-history>
            <tr >
                <td>{{history.banShipperId}}</td>
                <td>{{history.reason}}</td>
                <td>{{history.createDate}}</td>

            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog header="{{headerDialog}}"
    [(visible)]="visibleImageDialog"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    >
    <p-table [value]="shipperImg.imagesBase64" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="ID">ID<p-sortIcon field="ID"></p-sortIcon></th>
                <th>  {{'shipAdminScreen.Image' | translate}}</th>
                <th>  {{'shipAdminScreen.Name' | translate}}</th>
                <th>  {{'shipAdminScreen.Size' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-image>
            <tr >
                <td>{{image.imageId}}</td>
                <td><p-image src="data:image/gif;base64,{{image.imageBase64}}" [preview]="true"
                    [alt]="image.imageId" class="dialogimages_image w-10rem shadow-2"
                    ></p-image></td>
                <td>{{image.name}}</td>
                <td>{{image.size}} KB</td>

            </tr>
        </ng-template>
    </p-table>
</p-dialog>
<p-toast [baseZIndex]="99999" key="notify"></p-toast>
<p-dialog header="{{'sellerAdminScreen.DetailSeller' | translate}}" [(visible)]="visibleContentDialog" [style]="{width: '50vw'}" [maximizable]="true"
  [modal]="true">
  <!-- <p class="dialog-content-detail">
      {{contentDialog.reportContent}}
  </p> -->
  <table class="table-report-detail">
      <tbody>
        <tr>
          <th>ID : </th>
          <td>
              {{shipperDetail.shipperId}}
          </td>
      </tr>
          <tr>
              <th>{{'shipAdminScreen.FullName' | translate}}: </th>
              <td>
                  {{shipperDetail.shipperName}}
              </td>
          </tr>
          <tr>
              <th>  {{'shipAdminScreen.ConfirmedPhoneNumber' | translate}}: </th>
              <td>
                <div *ngIf="shipperDetail.isPhoneVerified===true"  style="color:chartreuse;">
                    {{'shipAdminScreen.Confirmed' | translate}}
                  </div>
                  <div *ngIf="shipperDetail.isPhoneVerified===false"  style="color:red;">
                    {{'shipAdminScreen.Notconfirmedyet' | translate}}
                  </div>

              </td>
          </tr>
          <tr>
              <th>  {{'shipAdminScreen.PhoneNumber' | translate}}: </th>
              <td>
                  {{shipperDetail.phoneNumber}}
              </td>
          </tr>
          <tr>
            <th>  {{'shipAdminScreen.DOB' | translate}}:</th>
            <td>
                {{shipperDetail.birthDate|date:'dd/MM/yyyy'}}
            </td>
          </tr>
          <tr>
              <th>  {{'shipAdminScreen.Verification' | translate}}: </th>
              <td>

                 <div *ngIf="shipperDetail.status===1"  style="color:chartreuse;">
                   {{'shipAdminScreen.Verified' | translate}}
                 </div>
                 <div *ngIf="shipperDetail.status===2"  style="color:red;">
                 	  {{'shipAdminScreen.Reject' | translate}}
                 </div>
                 <div *ngIf="shipperDetail.status===0"  style="color:rgb(103, 96, 96);">
                           {{'shipAdminScreen.Pending' | translate}}
                </div>
              </td>
          </tr>
          <tr>
            <th>  {{'shipAdminScreen.ConfirmedEmail' | translate}}: </th>
            <td>

               <div *ngIf="shipperDetail.confirmedEmail===true"  style="color:chartreuse;">
                  {{'shipAdminScreen.Confirmed' | translate}}
               </div>
               <div *ngIf="shipperDetail.confirmedEmail===false"  style="color:red;">
                 {{'shipAdminScreen.Notconfirmedyet' | translate}}
               </div>
            </td>
        </tr>
        <tr>
          <th>  {{'shipAdminScreen.Note' | translate}}: </th>
          <td>
           {{shipperDetail.note}}

          </td>
      </tr>
      <tr>
        <th>  {{'shipAdminScreen.CreateDate' | translate}}: </th>
        <td>
         {{shipperDetail.createDate|date:'dd/MM/yyyy'}}

        </td>
    </tr>


          <tr>
            <th> {{'shipAdminScreen.Images' | translate}}: </th>
            <td >


                <ng-container *ngIf="shipperDetail.imagesBase64 && shipperDetail.imagesBase64.length !== 0; else noneImage1" >
                  <button pButton pRipple icon="pi pi-images"
                        (click)="onDisplayImagesDialog(shipperDetail, $event)"
                        class="p-button-rounded p-button-text p-button-raised"></button>
                </ng-container>
                <ng-template #noneImage1 ><span class="no-image">{{'shipAdminScreen.NoImage' | translate}}</span></ng-template>

            </td>

        </tr>
        <tr>
          <th>{{'shipAdminScreen.ImagesIdCard' | translate}}: </th>
          <td >


            <ng-container *ngIf="shipperDetail.imageBase64Id1 !== null; else noneImage" >
                <button pButton pRipple icon="pi pi-images"
                      (click)="onDisplayImagesDialogId(shipperDetail, $event)"
                      class="p-button-rounded p-button-text p-button-raised"></button>
              </ng-container>
              <ng-template #noneImage ><span class="no-image">{{'shipAdminScreen.NoImage' | translate}}</span></ng-template>

          </td>

      </tr>
      </tbody>
  </table>
</p-dialog>
<p-dialog header="{{headerDialog}}"
    [(visible)]="visibleImageDialogId"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '30vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    >
       <table>
        <tbody>
          <tr>
            <th> {{'shipAdminScreen.IdCard' | translate}}: </th>
            <td>{{shipperImg.idcardNumber}}</td>
          </tr>
          <tr>


            <th>{{'shipAdminScreen.FontIDCard' | translate}}: </th>
            <td><p-image src="data:image/gif;base64,{{shipperImg.imageBase64Id1}}" [preview]="true"
              class="dialogimages_image w-30rem shadow-15"
              ></p-image></td>

          </tr>
          <tr>
            <th>{{'shipAdminScreen.BackIDCard' | translate}}: </th>
            <td><p-image src="data:image/gif;base64,{{shipperImg.imageBase64Id2}}" [preview]="true"
              class="dialogimages_image w-30rem shadow-15"
              ></p-image></td>
          </tr>
        </tbody>
       </table>




</p-dialog>
<p-confirmPopup></p-confirmPopup>

<p-confirmDialog key="uhideFood" header="Hide/UnHide Post" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<cmis-loading></cmis-loading>
