<div class="card">
    <h5>Cart Detail</h5>
    <p-table [value]="items" [paginator]="true" [rows]="10" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">FoodId <p-sortIcon field="foodId"></p-sortIcon></th>
                <th>Image</th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="unitPrice">Price <p-sortIcon field="unitPrice"></p-sortIcon></th>
                <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                <th pSortableColumn="totalPrice">TotalPrice <p-sortIcon field="totalPrice"></p-sortIcon></th>
                <th><input type="checkbox" [checked]="isSelectAll" (change)="onSelectAll($event)"/></th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td style="width: 10%; min-width: 7rem;">{{product.foodId}}</td>
                <td style="width: 15%; min-width: 5rem;">
                    <img [src]="'data:image/png;base64,' + product.foodImages" class="shadow-4" alt="{{product.name}}" width="50">
                </td>
                <td style="width: 18%; min-width: 7rem; word-break: break-word;">{{product.name}}</td>
                <td style="width: 18%; min-width: 8rem;">{{product.unitPrice | currency:'VND'}}</td>
                <td style="width: 10%; min-width: 8rem;">
                    <!-- <p-inputNumber mode="decimal" [showButtons]="true" [min]="1" [max]="100" [(ngModel)]="product.amount" (ngModelChange)="onChangeAmount(product.foodId, product.amount)">
                    </p-inputNumber> -->
                    <p-inputNumber [(ngModel)]="product.amount" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                    decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="1" [max]="100" [(ngModel)]="product.amount" (ngModelChange)="onChangeAmount(product.foodId, product.amount)"></p-inputNumber>
                </td>
                <td style="width: 18%; min-width: 8rem;">{{product.totalPrice | currency:'VND'}}</td>
                <td style="width: 10%;">
                    <!-- <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button> -->
                    <input type="checkbox" [checked]="product.selected" (change)="onSelectFood(product.foodId, product.amount)"/>
                </td>
                <td style="width: 10%;">
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded" (click)="onDeleteCartItem(product.foodId)"></button>
                </td>
            </tr>
        </ng-template>      
    </p-table>
    <h5>Total price: {{totalprice | currency:'VND'}}</h5>
    <button pButton pRipple label="Checkout" (click)="onCheckOut()"></button>
</div>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>