<style>
.container{
    display: flex; 
    justify-content: space-evenly;
    /* width: 15em; */
}
.newsfeed{
    overflow: auto; 
    height: 150em;
    width: 65em;
}

@media only screen and (max-width: 1500px) {
  .container {
    width: 900px;
  }
}
</style>

<div class="container">
    <div class="newsfeed">
        <div class="card">
            <div class="post-content">This is post number 1</div>
            <div class="post-images">
                <img src="../../../../../assets/image/Logo2.png" />
                <img src="../../../../../assets/image/Logo2.png" />
            </div>
            
        </div>

        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>

        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>

        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>
        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>
        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>
        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>
        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>
        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>
        <div class="card">
            <div>This is post number 1</div>
            <img src="../../../../../assets/image/Logo2.png" />
        </div>
    </div>
    <div>
        <div class="card">
            <div class="card">
                <img src="../../../../../assets/image/Logo2.png" width="50" /> &nbsp;
                <span>
                    Shop 1
                </span>
            </div>
        </div>
    </div>
</div>