<p-dialog header="{{'shopDetailScreen.ReportingtheShop' | translate}}" [(visible)]="isVisiblePostReportModal" [modal]="true"
  [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '500px' }" [draggable]="false" [resizable]="false"
  [responsive]="true">
  <div class="card">
    <div class="align-items-center" style="padding-bottom: 5px;">
      <div style="padding-bottom: 5px; font-style: italic;">
        {{'shopDetailScreen.reasons' | translate}}
      </div>
      <div style="padding-bottom: 5px;">
        <p-checkbox name="reportContent" (onChange)="enableDisableReportButtonSubmit();"
          value="Người bán có đăng sản phẩm cấm" [(ngModel)]="sellerReport.reportContents"
          inputId="reportContent1"></p-checkbox>
        <label for="reportContent1" class="ml-2">{{'shopDetailScreen.reason1' | translate}}</label>
      </div>
      <div style="padding-bottom: 5px;">
        <p-checkbox name="reportContent" (onChange)="enableDisableReportButtonSubmit();"
          value="Người dùng có dấu hiệu lừa đảo" [(ngModel)]="sellerReport.reportContents"
          inputId="reportContent2"></p-checkbox>
        <label for="reportContent2" class="ml-2">{{'shopDetailScreen.reason2' | translate}}</label>
      </div>
      <div style="padding-bottom: 5px;">
        <p-checkbox name="reportContent" (onChange)="enableDisableReportButtonSubmit();" value="Vi pham quyền riêng tư"
          [(ngModel)]="sellerReport.reportContents" inputId="reportContent3"></p-checkbox>
        <label for="reportContent3" class="ml-2">{{'shopDetailScreen.reason3' | translate}}</label>
      </div>
    </div>
    <br>
    <div style="padding-bottom: 5px;">
      <p-checkbox name="reportContent" (onChange)="enableDisableReportTextArea($event);" value="Other"
        inputId="reportContentOther"></p-checkbox>
      <label for="reportContentOther" class="ml-2">{{'shopDetailScreen.Other' | translate}}</label>
    </div>
    <span class="">
      <textarea (change)="addValueToReportContentList();" [disabled]="isDisabledPostReportTextArea" class="w-full"
        id="float-input" rows="5" cols="50" [(ngModel)]="sellerReport.reportContent" placeholder="{{'shopDetailScreen.Content' | translate}}"
        pInputTextarea></textarea>
    </span>
    <div class="col-12 mb-2 lg:col-12 mb-lg-0">
      <label>{{'shopDetailScreen.Images' | translate}}</label>
      <span class="p-input-icon-left p-float-label" style="width: 100%">
        <!-- <p-fileUpload [multiple]="true" accept="image/*" maxFileSize="25000000 " showUploadButton="false" style="width: 50%">
              <ng-template pTemplate="content">
                  <ul *ngIf="foodModel.images.length">
                  </ul>
              </ng-template>
          </p-fileUpload> -->
        <p-fileUpload class=" w-full" #fileUploader [files]="uploadedFiles" [customUpload]="true"
          (onSelect)="handleFileSelection($event)" (onRemove)="handleFileRemoval($event)"
          (onClear)="handleAllFilesClear($event)" [multiple]="true" accept="image/*" [maxFileSize]="25000000"
          [showUploadButton]="false">
          <ng-template pTemplate="content">
            <!-- <ul *ngIf="uploadedFiles.length > 0">
                      <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
                  </ul> -->
          </ng-template>
        </p-fileUpload>


      </span>


    </div>
  </div>

  <strong>{{'shopDetailScreen.Note' | translate}}</strong>
  <br>
  <br>
  <p-button [disabled]="isDisabledPostReportBtnSubmit" (click)="submitReport()">{{'button.save' | translate}}</p-button>
</p-dialog>

<div class="col-12 shopdetail-list">
  <div class="card">
    <div id="profile-d">
      <div id="profile-pic">
        <img  *ngIf="shopInfor.avatar != null; else noImg1" src="data:image/png;base64,{{shopInfor.avatar}}">
        <ng-template #noImg1>
          <img src="assets/image/user.png" alt="" class="rounded-circle img-person">
                  </ng-template>
      </div>
      <div class="shop-infor">
        <div class="shop_average-star shop-infor_child">
          <i class="pi pi-chart-line"></i>
          <p-rating [ngModel]="shopInfor.averageStar" [readonly]="true" [cancel]="false"></p-rating>
        </div>
        <div class="shop_phone shop-infor_child">
          <i class="pi pi-shopping-cart"></i>
          <a class="shop_phone-value">{{ shopInfor.numberOrdered }} {{'shopDetailScreen.Ordered' | translate}}</a>
        </div>
        <div class="shop_phone shop-infor_child">
          <i class="pi pi-phone"></i>
          <a class="shop_phone-value" href="tel:{{ shopInfor.phoneNumber }}">{{ shopInfor.phoneNumber }}</a>
        </div>
        <div class="shop_phone shop-infor_child">
          <i class="pi pi-at"></i>
          <a class="shop_phone-value">{{ shopInfor.email }}</a>
        </div>
        <div class="shop_createdDate shop-infor_child">
          <i class="pi pi-gift"></i><span class="shop_createdDate-value">{{shopInfor.createDate}}</span>
        </div>
        <div class="shop_online shop-infor_child" *ngFor="let item of (presence.onlineUserscus$ | async)">
          <ng-container *ngIf="shopInfor.email===item.email;">
            <i class="pi pi-circle-fill" style="color: green"></i>
            <span class="shop_createdDate-value">{{'shopDetailScreen.Online' | translate}}</span>
          </ng-container>
        </div>
        <div class="shop_online shop-infor_child" *ngFor="let item of (presence.offlineUserscus$ | async)">
          <ng-container *ngIf="shopInfor.email===item.email;">
            <i class="pi pi-circle-fill" style="color: red"></i>
            <span class="shop_createdDate-value">{{'shopDetailScreen.Offline' | translate}}</span>
          </ng-container>
        </div>
        <div class="shop-infor-name shop-infor_child">
          <h3 id="shop-name">{{shopInfor.shopName}}</h3>
        </div>
      </div>

    </div>

    <div>
      <h5 id="u-address" (click)="onOpenMap()">{{shopInfor.shopAddress}} <i class="pi pi-map-marker" (click)="onOpenMap()"></i></h5>
    </div>
  </div>
</div>
<div class="col-12 voucher-list" *ngIf="vouchers && vouchers.length > 0">
  <div class="card">
    <!-- [circular]="true" [autoplayInterval]="3000" -->
    <p-carousel [value]="vouchers" [numVisible]="3" [numScroll]="3"  [responsiveOptions]="responsiveOptions" >
      <ng-template let-voucher pTemplate="item">
          <div class="border-1 surface-border border-round m-2 text-center px-3 carousel-div_cus">
            <div class="flex flex-row align-items-center ">
              <div class="flex flex-column voucher-content" style="flex-grow: 1; text-align: left;">
                <p class="fs-small voucher-attr">
                  <span class="voucher-content_lb">Voucher: </span>
                  {{voucher.code}}
                  </p>
                <p class="fs-small voucher-attr">
                  <span class="voucher-content_lb">Discount: </span>
                  {{voucher.discountAmount | currency : "VND"}} 
                  </p>
                <p class="fs-small voucher-attr">
                  <span class="voucher-content_lb">Minimum Order: </span>
                  {{voucher.minimumOrderValue | currency : "VND"}} 
                </p>
                <p class="fs-small voucher-attr">
                  <span class="voucher-content_lb">From : </span>
                  {{voucher.effectiveDate | date:'dd-MM-yyyy HH:mm:ss' }}
                </p>
                <p class="fs-small voucher-attr">
                  <span class="voucher-content_lb">To : </span>
                  {{voucher.expireDate | date:'dd-MM-yyyy HH:mm:ss' }} 
                </p>
              </div>
              <div class="copy_btn">
                <button
                        pButton
                        pRipple
                        class="p-button-primary"
                        (click)="onCopyToClipboard(voucher.code)"
                      >
                      Copy
                      </button>
              </div>
            </div>
          </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<div class="col-12 shopdetail-list">
  <div class="card">
    <h5>{{'shopDetailScreen.Menu' | translate}}</h5>
    <p-dataView #dv [value]="foods" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
      [sortOrder]="sortOrder" layout="grid">
      <ng-template pTemplate="header">
        <div class="grid">
          <div class="col-12 mb-2 lg:col-6 mb-lg-0">
            <span class="p-input-icon-left p-float-label" style="width: 100%">
              <p-dropdown [options]="sortOptions" [showClear]="false" [autoDisplayFirst]="false"
                (onChange)="onSortChange($event)" [style]="{'width': '100%'}"></p-dropdown>
              <label>{{'shopDetailScreen.SortByPrice' | translate}}</label>
            </span>
          </div>
          <div class="col-12 mb-2 lg:col-6 mb-lg-0">
            <span class="p-input-icon-left p-float-label" style="width: 100%">
              <i class="pi pi-search"></i>
              <input style="width: 100%" type="search" pInputText placeholder="{{'shopDetailScreen.EntertoSearch' | translate}}"
                (input)="onFilter(dv, $event)">
            </span>
          </div>
        </div>
        <div class="col-12 mb-2 lg:col-12 mb-lg-0 ml-auto">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
        <div *ngIf="isLoggedIn" class="report-btn">
          <!-- //  <i *ngIf="item.isReported;" class="pi pi-flag-fill" style="font-size: 1.5rem"></i> -->
          <!-- <ng-template #notReport> -->
          <i class="pi pi-flag" style="font-size: 1.5rem" (click)="openPostReportDialog(shopInfor.shopId)"></i>
          <!-- </ng-template> -->
        </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem">
        <div class="col-12">
          <div class="product-list-item">
            <img src="data:image/png;base64,{{product.foodImages[0].imageBase64}}" [alt]="product.name" />
            <div class="product-list-detail">
              <div class="product-name" (click)="onFoodDetail(product.foodId)">{{product.name}}</div>
              <div class="product-description">{{'shopDetailScreen.Ordered' | translate}}: {{product.numberOrdered}}</div>
              <p-rating [ngModel]="product.averageStar" [readonly]="true" [cancel]="false"></p-rating>
              <i class="pi pi-tag product-category-icon"></i><span
                class="product-category">{{product.categoryName}}</span>
            </div>
            <div class="product-list-action">
              <span class="product-price">{{product.unitPrice | currency:'VND'}}</span>
              <p-button icon="pi pi-shopping-cart" label="Add to Cart"
                (onClick)="onAddToCart(product.foodId)"></p-button>
              <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="gridItem">
        <div class="col-12 md:col-4">
          <div class="product-grid-item card">
            <div class="product-grid-item-top">
              <div>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="product-category">{{product.categoryName}}</span>
              </div>
              <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
            </div>
            <div class="product-grid-item-content">
              <img src="data:image/png;base64,{{product.foodImages[0].imageBase64}}" [alt]="product.name" />
              <div class="product-name" (click)="onFoodDetail(product.foodId)">{{product.name}}</div>
              <div class="product-description">{{'shopDetailScreen.Ordered' | translate}}: {{product.numberOrdered}}</div>
              <p-rating [ngModel]="product.averageStar" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="product-grid-item-bottom">
              <span class="product-price">{{product.unitPrice | currency:'VND'}}</span>
              <p-button icon="pi pi-shopping-cart" (onClick)="onAddToCart(product.foodId)"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
<p-dialog header="Map" [(visible)]="displayMap" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false" [maximizable]="true" [modal]="true">
  <div id="map" style="height: 500px;"></div>
</p-dialog>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>
