<p-dialog header="Reporting the Shop" [(visible)]="isVisiblePostReportModal" [modal]="true"
  [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '500px' }" [draggable]="false" [resizable]="false"
  [responsive]="true">
  <div class="card">
    <div class="align-items-center" style="padding-bottom: 5px;">
      <div style="padding-bottom: 5px; font-style: italic;">
        Các lý do:
      </div>
      <div style="padding-bottom: 5px;">
        <p-checkbox name="reportContent" (onChange)="enableDisableReportButtonSubmit();"
          value="Người bán có đăng sản phẩm cấm" [(ngModel)]="sellerReport.reportContents"
          inputId="reportContent1"></p-checkbox>
        <label for="reportContent1" class="ml-2">Người bán có đăng sản phẩm cấm</label>
      </div>
      <div style="padding-bottom: 5px;">
        <p-checkbox name="reportContent" (onChange)="enableDisableReportButtonSubmit();"
          value="Người dùng có dấu hiệu lừa đảo" [(ngModel)]="sellerReport.reportContents"
          inputId="reportContent2"></p-checkbox>
        <label for="reportContent2" class="ml-2">Người dùng có dấu hiệu lừa đảo</label>
      </div>
      <div style="padding-bottom: 5px;">
        <p-checkbox name="reportContent" (onChange)="enableDisableReportButtonSubmit();"
          value="Vi pham quyền riêng tư" [(ngModel)]="sellerReport.reportContents"
          inputId="reportContent3"></p-checkbox>
        <label for="reportContent3" class="ml-2">Vi pham quyền riêng tư</label>
      </div>
    </div>
    <br>
    <div style="padding-bottom: 5px;">
      <p-checkbox name="reportContent" (onChange)="enableDisableReportTextArea($event);" value="Other"
        inputId="reportContentOther"></p-checkbox>
      <label for="reportContentOther" class="ml-2">Khác</label>
    </div>
    <span class="">
      <textarea (change)="addValueToReportContentList();" [disabled]="isDisabledPostReportTextArea" class="w-full"
        id="float-input" rows="5" cols="50" [(ngModel)]="sellerReport.reportContent" placeholder="Điền lý do khác"
        pInputTextarea></textarea>
    </span>
    <div class="col-12 mb-2 lg:col-12 mb-lg-0">
      <label>Images</label>
<span class="p-input-icon-left p-float-label" style="width: 100%">
          <!-- <p-fileUpload [multiple]="true" accept="image/*" maxFileSize="1000000" showUploadButton="false" style="width: 50%">
              <ng-template pTemplate="content">
                  <ul *ngIf="foodModel.images.length">
                  </ul>
              </ng-template>
          </p-fileUpload> -->
          <p-fileUpload class=" w-full"
              #fileUploader
              [files]="uploadedFiles"
              [customUpload]="true"
              (onSelect)="handleFileSelection($event)"
              (onRemove)="handleFileRemoval($event)"
              (onClear)="handleAllFilesClear($event)"
              [multiple]="true" accept="image/*" [maxFileSize]="1000000"
              [showUploadButton]="false" >
              <ng-template pTemplate="content">
                  <!-- <ul *ngIf="uploadedFiles.length > 0">
                      <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
                  </ul> -->
              </ng-template>
          </p-fileUpload>


        </span>


  </div>
  </div>

  <strong>Lưu ý: Bạn sẽ không thể hủy sau khi đã tố cáo</strong>
  <br>
  <br>
  <p-button [disabled]="isDisabledPostReportBtnSubmit" (click)="submitReport()">Save</p-button>
</p-dialog>

<div class="col-12 shopdetail-list" >
    <div class="card">
            <div id="profile-d">
                <div id="profile-pic">
                    <img [src]="'data:image/png;base64,' + shopInfor.avatar">
                </div>
                <h3 id="u-name">{{shopInfor.shopName}}</h3>
                        
            </div>
            <h5 id="u-address">{{shopInfor.shopAddress}}</h5>  
    </div>
</div>
<div class="col-12 shopdetail-list" >
    <div class="card">
        <h5>Menu</h5>
        <p-dataView #dv [value]="foods" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
                <div class="grid">
                    <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                        <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <p-dropdown [options]="sortOptions" 
                                        [showClear]="false"
                                        [autoDisplayFirst]="false"
                                        (onChange)="onSortChange($event)"
                                        [style]="{'width': '100%'}"
                                        ></p-dropdown>
                            <label>Sort By Price</label>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                        <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <i class="pi pi-search"></i>
                            <input style="width: 100%" type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
                        </span>
                    </div>
                </div>
                <div class="col-12 mb-2 lg:col-12 mb-lg-0 ml-auto">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
                <div *ngIf="isLoggedIn" class="report-btn">
                  <!-- //  <i *ngIf="item.isReported;" class="pi pi-flag-fill" style="font-size: 1.5rem"></i> -->
                    <!-- <ng-template #notReport> -->
                      <i class="pi pi-flag" style="font-size: 1.5rem" (click)="openPostReportDialog(shopInfor.shopId)"></i>
                    <!-- </ng-template> -->
                  </div>
            </ng-template>
            <ng-template let-product pTemplate="listItem">
                <div class="col-12">
                    <div class="product-list-item">
                        <img [src]="'data:image/png;base64,' + product.foodImages[0].imageBase64" [alt]="product.name"/>
                        <div class="product-list-detail">
                            <div class="product-name" (click)="onFoodDetail(product.foodId)">{{product.name}}</div>
                            <div class="product-description">Ordered: {{product.numberOrdered}}</div>
                            <p-rating [ngModel]="product.averageStar" [readonly]="true" [cancel]="false"></p-rating>
                            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.categoryName}}</span>
                        </div>
                        <div class="product-list-action">
                            <span class="product-price">{{product.unitPrice | currency:'VND'}}</span>
                            <p-button icon="pi pi-shopping-cart" label="Add to Cart" (onClick)="onAddToCart(product.foodId)"></p-button>
                            <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
                <div class="col-12 md:col-4">
                    <div class="product-grid-item card">
                        <div class="product-grid-item-top">
                            <div>
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category">{{product.categoryName}}</span>
                            </div>
                            <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                        </div>
                        <div class="product-grid-item-content">
                            <img [src]="'data:image/png;base64,' + product.foodImages[0].imageBase64" [alt]="product.name"/>
                            <div class="product-name" (click)="onFoodDetail(product.foodId)">{{product.name}}</div>
                            <div class="product-description">Ordered: {{product.numberOrdered}}</div>
                            <p-rating [ngModel]="product.averageStar" [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                        <div class="product-grid-item-bottom">
                            <span class="product-price">${{product.unitPrice | currency:'VND'}}</span>
                            <p-button icon="pi pi-shopping-cart" (onClick)="onAddToCart(product.foodId)"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>
