:host ::ng-deep {
	#profile-d{
		display: flex;
		flex-wrap: wrap;
		align-items: end;
		

		#profile-pic{
			height: 20rem;
			width: 20rem;
			padding: 4px;
			

			img{
				border-radius: 50%;
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		#u-name{
			margin: 1rem 0 1rem 2rem;
		}
	}

	#u-address{
		margin: 1rem auto !important;
		text-align: center;
		font-weight: 400;

	}

	.custom-rating .ui-rating-star:not(.ui-rating-star-on):before {
		content: '\2605';
		position: absolute;
		width: 50%;
		overflow: hidden;
	}
	.p-dropdown {
		width: 14rem;
		font-weight: normal;
	}

	.product-name {
		font-size: 1.5rem;
		font-weight: 700;
		&:hover{
            cursor: pointer;
        }
	}

	.product-description {
		margin: 0 0 1rem 0;
	}

	.product-category-icon {
		vertical-align: middle;
		margin-right: .5rem;
	}

	.product-category {
		font-weight: 600;
		vertical-align: middle;
	}

	.product-list-item {
		display: flex;
		align-items: center;
		padding: 1rem;
		width: 100%;

		img {
			width: 150px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			margin-right: 2rem;
		}

		.product-list-detail {
			flex: 1 1 0;
		}

		.p-rating {
			margin: 0 0 .5rem 0;
		}

		.product-price {
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: .5rem;
			align-self: flex-end;
		}

		.product-list-action {
			display: flex;
			flex-direction: column;
		}

		.p-button {
			margin-bottom: .5rem;
		}
	}

	.shopdetail-list{
		width: 80%;
		margin: auto;
	}
	
	.p-grid{

		--columns: 3;
		.col-12{
			width: calc(100% / var(--columns));

			.product-grid-item {
				
				margin: .5em;
				border: 1px solid var(--surface-d);
				
				.product-grid-item-top,
				.product-grid-item-bottom {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				img {
					height: 20rem;
					width: 75%;
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
					margin: 2rem 0;
					object-fit: cover;
					flex-shrink: 1;
				}

				.product-grid-item-content {
					text-align: center;
				}

				.product-price {
					font-size: 1.5rem;
					font-weight: 600;
				}
			}
		}
	}

	.p-dataview-list{
		.p-dataview-content{
			.grid{
				display: block !important;

				div{
					width: 100%;
					.product-list-item{
						.product-list-action{
							align-items: end;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 1200.01px){
		.shopdetail-list{
			width: 100%;
			margin: auto;
		}

		#profile-d{
			flex-wrap: nowrap;
			flex-direction: column;
			align-items: start;

			#profile-pic{
				height: 10rem;
				width: 10rem;
				padding: 2px;
				
				#u-name{
					margin: 1rem;
				}
			}
		
			#u-address{
				text-align: center;
				margin: 0 !important;
			}
		}
		.p-grid{
	
			--columns: 2;

			.col-12{
				.product-grid-item {
					
	
					img {
						height: 17rem;
					}
				}
			}
		}
		
		p-rating{
			div{
				justify-content: center;
			}
		}
	}

	@media screen and (max-width: 960.01px){
		.p-grid{
	
			--columns: 1;

			.col-12{
				.product-grid-item {
					img {
						height: 15rem;
					}
				}
			}
		}
	}
}

.product-badge {
	border-radius: 2px;
	padding: .25em .5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .3px;

	&.status-instock {
		background: #C8E6C9;
		color: #256029;
	}

	&.status-outofstock {
		background: #FFCDD2;
		color: #C63737;
	}

	&.status-lowstock {
		background: #FEEDAF;
		color: #8A5340;
	}
}
#profile-banner-image {
  height: 360px;
  overflow: hidden;
  z-index: 1;
}



@media screen and (max-width: 576px) {
	:host ::ng-deep .product-list-item {
		flex-direction: column;
		align-items: center;

		img {
			width: 75%;
			margin: 2rem 0;
		}

		

		.product-list-detail {
			text-align: center;
		}

		.product-price {
			align-self: center;
		}

		.product-list-action {
			display: flex;
			flex-direction: column;
		}

		.product-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}

	
}

