<div class="col-12 shopdetail-list" >
    <div class="card">
        <h1>toi ten la duoc</h1>
        <div id="profile-banner-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="Banner image">
          </div>
          <div id="profile-d">
            <div id="profile-pic">
              <img src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg">
            </div>
            <h1 id="u-name">{{shopInfor.shopName}}</h1>
            <h5 id="u-address">{{shopInfor.shopAddress}}</h5>          
          </div>
    </div>
</div>
<div class="col-12 shopdetail-list" >
    <div class="card">
        <h5>Menu</h5>
        <p-dataView #dv [value]="foods" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                    <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"></p-dropdown>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
                    </span>	
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="listItem">
                <div class="col-12">
                    <div class="product-list-item">
                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg'" [alt]="product.name"/>
                        <div class="product-list-detail">
                            <div class="product-name" (click)="onFoodDetail(product.foodId)">{{product.name}}</div>
                            <div class="product-description">Ordered: {{product.numberOrdered}}</div>
                            <p-rating [ngModel]="product.averageStar" [readonly]="true" [cancel]="false"></p-rating>
                            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
                        </div>
                        <div class="product-list-action">
                            <span class="product-price">{{product.unitPrice | currency:'VND'}}</span>
                            <p-button icon="pi pi-shopping-cart" label="Add to Cart" (onClick)="onAddToCart(product.foodId)"></p-button>
                            <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
                <div class="col-12 md:col-4">
                    <div class="product-grid-item card">
                        <div class="product-grid-item-top">
                            <div>
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category">{{product.categoryName}}</span>
                            </div>
                            <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                        </div>
                        <div class="product-grid-item-content">
                            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg'" [alt]="product.name"/>
                            <div class="product-name" (click)="onFoodDetail(product.foodId)">{{product.name}}</div>
                            <div class="product-description">Ordered: {{product.numberOrdered}}</div>
                            <p-rating [ngModel]="product.averageStar" [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                        <div class="product-grid-item-bottom">
                            <span class="product-price">${{product.unitPrice | currency:'VND'}}</span>
                            <p-button icon="pi pi-shopping-cart" (onClick)="onAddToCart(product.foodId)"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>