:host ::ng-deep {
	

	.custom-rating .ui-rating-star:not(.ui-rating-star-on):before {
		content: '\2605';
		position: absolute;
		width: 50%;
		overflow: hidden;
	}
	.p-dropdown {
		width: 14rem;
		font-weight: normal;
	}

	.product-name {
		font-size: 1.5rem;
		font-weight: 700;
		&:hover{
            cursor: pointer;
        }
	}

	.product-category-icon {
		vertical-align: middle;
		margin-right: .5rem;
	}

	.product-category {
		font-weight: 600;
		vertical-align: middle;
	}

	.product-list-item {
		display: flex;
		align-items: center;
		padding: 1rem;
		width: 100%;

		img {
			width: 150px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			margin-right: 2rem;
		}

		.product-list-detail {
			flex: 1 1 0;
		}

		.p-rating {
			margin: 0 0 .5rem 0;
		}

		.product-price {
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: .5rem;
			align-self: flex-end;
		}

		.product-list-action {
			display: flex;
			flex-direction: column;
		}

		.p-button {
			margin-bottom: .5rem;
		}
	}

	.shopdetail-list{
		width: 80%;
		margin: auto;
	}

	.product-grid-item {
		margin: .5em;
		border: 1px solid var(--surface-d);
		transition: transform .3s ease-out;
		
		.product-grid-item-top,
		.product-grid-item-bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;

		}

		img {
			width: 75%;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		}

		.product-grid-item-top{
			flex-shrink: 0;
		}

		.product-grid-item-content {
			text-align: center;
			flex-grow: 1;
			.food-images{
				display: grid;
				grid-template-columns: 2fr 1fr;
				grid-template-rows: 4rem 4rem;
				grid-gap: 1rem;
				grid-template-areas: 
				"h1 h2"
				"h1 h3";
				padding: 1rem 0;

				.food-image:first-child {
					grid-area: h1;
				}

				.food-image{
					img{
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 7px;
					}
				}
			}
		}

		.product-grid-item-bottom{
			flex-shrink: 0;
		}

		.product-grid-item-bottom:hover{
			cursor: pointer;
		}

		

		.product-price {
			font-size: 1.5rem;
			font-weight: 600;
		}
	}

	.product-grid-item:hover{
		cursor: pointer;
		transform: translate(0, -5px);
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.p-carousel-items-container{
		--columns: 3;
		.p-carousel-item{
			width: calc(100% / var(--columns));

			.product-content{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				flex-grow: 1;
				transition: transform .3s ease-out;

				.product-top{
					
					/* card-bottom cố định -> grow để chiếm hết phần còn lại */
					flex-grow: 1;

					img{
						height: 8rem;
						width: 65%;
						object-fit: cover;
					}
				}

				.product-bottom{
					flex-shrink: 0; 
					.product-name{
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient:  vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						word-break: break-word; 
					}
				}
				&:hover{
					cursor: pointer;
					transform: translate(0, -5px);
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				}

			}
			
		}

		
	}

	.card-product_top{
		display: flex;
		padding: 0.5rem 0;

		.shop-avatar{
			padding: 0 0.8rem 0.8rem 0.8rem;

			img{
				height: 5rem;
				width: 3rem;
				border-radius: 10%;
				object-fit: cover;
				margin: 0;
			}
		}

		.shop-infor{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-left: 1rem;

			.shop-name{
				display:-webkit-box;
				margin-bottom: 0.5rem;
				-webkit-line-clamp:1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: break-word;
			}

			.p-icon {
				width: 0.8rem;
				height: 0.8rem;
			}

			.shop-address{
				display: flex;
				align-items: center;
				.shop-address_content{
					display:-webkit-box;
					-webkit-line-clamp:2 ;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-word;
				}
			}
		}
	}
	@media screen and (max-width: 900px) {

		.shopdetail-list{
			width: 100%;
			margin: auto;
		}
	}

	@media screen and (max-width: 768.01px) {

		.p-carousel-items-container{
			--columns: 2;
		}
		.p-dropdown {
			width: 100%;
		}

		.a-input_search{
			width: 100%;
		}

	}
}

.product-badge {
	border-radius: 2px;
	padding: .25em .5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .3px;

	&.status-instock {
		background: #C8E6C9;
		color: #256029;
	}

	&.status-outofstock {
		background: #FFCDD2;
		color: #C63737;
	}

	&.status-lowstock {
		background: #FEEDAF;
		color: #8A5340;
	}
}
#profile-banner-image {
  height: 360px;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 576px) {
	:host ::ng-deep .product-list-item {

		
		flex-direction: column;
		align-items: center;

		.p-carousel-items-container{
			--columns: 1;
		}

		img {
			width: 75%;
			margin: 2rem 0;
		}

		.product-list-detail {
			text-align: center;
		}

		.product-price {
			align-self: center;
		}

		.product-list-action {
			display: flex;
			flex-direction: column;
		}

		.product-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}
