<div class="layout-footer p-4 shadow-2">
    
    <div class="footer-content">
        <div class="footer-logo">
            <img id="app-logo" src="../../../assets/image/Logo2.png" alt="ultima-layout" style="height: 3.75rem"/>
        </div>
        <div class="footer-left">
            <h5 class>{{'footerScreen.Contactforcooperation' | translate}}</h5>
            <ul class="contact-items">
                <li class="contact-item">
                    <i class="pi pi-envelope" style="font-size: 0.9rem"></i>
                    <a href="mailto:{{ mail }}">{{ mail }}</a> 
                </li>
                <li class="contact-item">
                    <i class="pi pi-phone" style="font-size: 0.9rem"></i>
                    <a href="tel:{{ phone }}">{{ phone }}</a> 
                </li>
                <li class="contact-item">
                    <i class="pi pi-map-marker" style="font-size: 0.9rem"></i>
                    <p>{{address}}</p>
                </li>
            </ul>
        </div>
    
        <div class="footer-right">
            <h5>{{'footerScreen.Connectwithus' | translate}}</h5>
            <div class="social">
                <a class="pi pi-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=61553490747220"></a>
                <a class="pi pi-envelope mail" href="mailto:{{ mail }}"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        {{noCopyright}}
    </div>
</div>