<div id="{{user.email}}" class="p-panel p-component chat-box">
  <div class="p-panel-header">
    <div class="d-flex align-items-center chatbox-top">
        <div>
            <img src="assets/image/user.png" alt="" class="rounded-circle img-person">
        </div>
        <div class="flex-grow-1 ml-3">
            <a href="/" class="text-primary" style="text-decoration: none;">{{user.email}}</a>
            <div class="text-muted">1 minute ago</div>
        </div>
        <div class="d-flex align-items-center ml-auto">
            <button pButton [icon]="!isCollapsed ? 'pi pi-minus':'pi pi-plus'" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseChatBox" class="p-button-text"></button>
            <button pButton icon="pi pi-times" (click)="closeBoxChat()" class="p-button-text"></button>
        </div>
    </div>
  </div>

  <p-panel [collapsed]="isCollapsed" [style]="{'width':'87% !important', 'display': 'block'}">
    <div class="card-body">
      <ul #scrollMe [scrollTop]="scrollMe.scrollHeight" class="chat chat-frame" (scroll)="onScroll($event)" style="height: 350px;">
        <li class="pd-5" *ngFor="let message of (messageChatService.messageThread$ | async)">
          <div *ngIf="role==='CU'" [ngClass]=" message.senderType ? 'd-flex' : 'parent-sent' ">
            <div class="mr">
              <img class="rounded-circle small-img" src="assets/image/user.png" alt="">
            </div>
            <div placement="top" [ngClass]=" message.senderType ? 'message-body' : 'message-body message-send' " >
              <div>{{message.message}}</div>
            </div>
          </div>
          <div *ngIf="role==='SE'" [ngClass]=" !message.senderType ? 'd-flex' : 'parent-sent' ">
            <div class="mr">
              <img class="rounded-circle small-img" src="assets/image/user.png" alt="">
            </div>
            <div placement="top" [ngClass]=" !message.senderType ? 'message-body' : 'message-body message-send' " >
              <div>{{message.message}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="p-panel-footer">
      <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
        <div class="p-inputgroup">
          <input pInputText type="text" name="messageContent" [(ngModel)]="messageContent"
                  class="form-control input-sm" placeholder="Send a private message">
          <div class="p-inputgroup-append">
            <button pButton [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </p-panel>
</div>
