<div class="grid table-demo" >
    <div class="col-12">
        <div class="card">
            <h5>Notification Management</h5>

            <p-dataView [value]="lstNotification" [rows]="10" [paginator]="true">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between">
                        <button pButton type="button" label="Mark all notifications as read" 
                            (click)="onMarkAllRead()"
                            style="width: auto; background-color: #f17126"></button>
                    </div>
                </ng-template>
                <ng-template let-notify pTemplate="listItem" >
                    <!-- <div class="flex align-items-center p-3 w-full flex-wrap">
                        <div class="flex-1">
                            <h5 class="mb-2 text-base">{{ product.name }}</h5>
                            <span class="hidden md:inline-flex vertical-align-middle mr-2">{{ product.category }}</span>
                        </div>
                        <div class="flex flex-column align-items-end">
                            <h6 style="width:25px; height:14px;" class="mb-2">{{ product.price }}</h6>
                            <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                        </div>
                    </div> -->
                        <div class="flex flex-row align-items-center layout-notify-item">
                            <div class="flex flex-column" style="flex-grow: 1;">
                                <div
                                    class="flex align-items-center justify-content-between mb-1">
                                    <span class="fs-medium font-bold">{{notify.title}}</span>
                                    <small>{{notify.createDate}}</small>
                                </div>
                                <span class="fs-medium">{{notify.content}}</span>
                            </div>
                        </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>