<div class="layout-topbar shadow-4">
    <div class="layout-topbar-left">
        <a class="layout-topbar-logo" routerLink="/HFSBusiness">
            <img id="app-logo" src="../../../assets/image/Logo2.png" alt="ultima-layout"
                 style="height: 3.75rem">
        </a>

        <a class="layout-menu-button shadow-6" (click)="layoutService.onMenuButtonClick($event)" pRipple>
            <i class="pi pi-chevron-right"></i>
        </a>

        <a class="layout-topbar-mobile-button" (click)="layoutService.onTopbarMobileButtonClick($event)"
           pRipple>
            <i class="pi pi-ellipsis-v fs-large"></i>
        </a>
    </div>

    <div class="layout-topbar-right"
         [ngClass]="{'layout-topbar-mobile-active': layoutService.state.mobileTopbarActive}">
        <div class="layout-topbar-actions-left">
            <!-- <p-megaMenu [model]="model" styleClass="layout-megamenu"></p-megaMenu> -->
        </div>
        <div class="layout-topbar-actions-right">
            <ul class="layout-topbar-items">
                <li class="layout-topbar-item layout-search-item">
                    <a class="layout-topbar-action rounded-circle"
                       (click)="layoutService.onTopbarItemClick($event, 'search')" pRipple>
                        <i class="pi pi-search fs-large"></i>
                    </a>

                    <div class="layout-search-panel p-inputgroup"
                         [@topbarActionPanelAnimation]="'visible'" *ngIf="layoutService.state.search"
                         (@topbarActionPanelAnimation.done)="onSearchAnimationEnd($event)">
                        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                        <input #searchInput type="text" pInputText placeholder="Search"
                               (click)="layoutService.state.searchClick = true;"
                               (keydown)="layoutService.onSearchKeydown($event)">
                        <span class="p-inputgroup-addon">
                            <button pButton pRipple type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-text p-button-plain"
                                    (click)="layoutService.state.searchClick = false;"></button>
                        </span>
                    </div>
                </li>
                <app-notifications [layoutService]="layoutService"></app-notifications>
                <li class="layout-topbar-item shoppingcart">
                    <a class="layout-topbar-action rounded-circle"
                       (click)="layoutService.onTopbarItemClick($event, 'shoppingcart')" pRipple>
                        <span class="p-overlay-badge">
                            <i class="pi pi-shopping-cart fs-large"></i>
                            <span class="p-badge p-badge-warning p-badge-dot"></span>
                        </span>
                    </a>

                    <ul class="layout-topbar-action-panel shadow-6"
                        [@topbarActionPanelAnimation]="'visible'"
                        *ngIf="layoutService.state.activeTopbarItem === 'shoppingcart'">
                        
                        <li class="layout-topbar-action-item">
                            <div class="flex flex-row align-items-center">
                                <img src="../../../assets/demo/images/avatar/avatar-1.png"/>
                                <div class="flex flex-column"
                                     [ngClass]="{'ml-3': !layoutService.app.isRTL, 'mr-3': layoutService.app.isRTL}"
                                     style="flex-grow: 1;">
                                    <div
                                        class="flex align-items-center justify-content-between mb-1">
                                        <span class="fs-small font-bold">Jerome Bell</span>
                                        <small>42 mins ago</small>
                                    </div>
                                    <span class="fs-small">How to write content about your photographs?</span>
                                </div>
                            </div>
                        </li>
                        <li class="layout-topbar-action-item">
                            <div class="flex flex-row align-items-center">
                                <img src="../../../assets/demo/images/avatar/avatar-2.png"/>
                                <div class="flex flex-column"
                                     [ngClass]="{'ml-3': !layoutService.app.isRTL, 'mr-3': layoutService.app.isRTL}"
                                     style="flex-grow: 1;">
                                    <div
                                        class="flex align-items-center justify-content-between mb-1">
                                        <span class="fs-small font-bold">Cameron Williamson</span>
                                        <small>48 mins ago</small>
                                    </div>
                                    <span
                                        class="fs-small">Start a blog to reach your creative peak.</span>
                                </div>
                            </div>
                        </li>
                        <li class="layout-topbar-action-item">
                            <div class="flex flex-row align-items-center">
                                <img src="../../../assets/demo/images/avatar/avatar-3.png"/>
                                <div class="flex flex-column"
                                     [ngClass]="{'ml-3': !layoutService.app.isRTL, 'mr-3': layoutService.app.isRTL}"
                                     style="flex-grow: 1;">
                                    <div
                                        class="flex align-items-center justify-content-between mb-1">
                                        <span class="fs-small font-bold">Anna Miles</span>
                                        <small>1 day ago</small>
                                    </div>
                                    <span class="fs-small">Caring is the new marketing</span>
                                </div>
                            </div>
                        </li>
                        <li class="layout-topbar-action-item">
                            <div class="flex flex-row align-items-center">
                                <img src="../../../assets/demo/images/avatar/avatar-4.png"/>
                                <div class="flex flex-column"
                                     [ngClass]="{'ml-3': !layoutService.app.isRTL, 'mr-3': layoutService.app.isRTL}"
                                     style="flex-grow: 1;">
                                    <div
                                        class="flex align-items-center justify-content-between mb-1">
                                        <span class="fs-small font-bold">Arlene Mccoy</span>
                                        <small>4 day ago</small>
                                    </div>
                                    <span
                                        class="fs-small">Starting your traveling blog with Vasco.</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="layout-topbar-item">
                    <a class="layout-topbar-action flex flex-row justify-content-center align-items-center px-2 rounded-circle"
                       (click)="layoutService.onTopbarItemClick($event, 'profile')" pRipple>
                        <img src="../../../assets/demo/images/avatar/amyelsner.png" alt="avatar"
                             style="width: 32px; height: 32px;">
                    </a>

                    <ul class="layout-topbar-action-panel shadow-6"
                        [@topbarActionPanelAnimation]="'visible'"
                        *ngIf="layoutService.state.activeTopbarItem === 'profile'">
                        <li class="layout-topbar-action-item">
                            <a class="flex flex-row align-items-center" pRipple>
                                <i class="pi pi-cog"
                                   [ngClass]="{'mr-2': !layoutService.app.isRTL, 'ml-2': layoutService.app.isRTL}"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="layout-topbar-action-item">
                            <a class="flex flex-row align-items-center" pRipple>
                                <i class="pi pi-file-o"
                                   [ngClass]="{'mr-2': !layoutService.app.isRTL, 'ml-2': layoutService.app.isRTL}"></i>
                                <span>Terms of Usage</span>
                            </a>
                        </li>
                        <li class="layout-topbar-action-item">
                            <a class="flex flex-row align-items-center" pRipple>
                                <i class="pi pi-compass"
                                   [ngClass]="{'mr-2': !layoutService.app.isRTL, 'ml-2': layoutService.app.isRTL}"></i>
                                <span>Support</span>
                            </a>
                        </li>
                        <li class="layout-topbar-action-item">
                            <a class="flex flex-row align-items-center" (click)="logOut($event)"
                               pRipple>
                                <i class="pi pi-power-off"
                                   [ngClass]="{'mr-2': !layoutService.app.isRTL, 'ml-2': layoutService.app.isRTL}"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>
