:host ::ng-deep {
    .p-tabmenu-nav {
        display: flex;
        
        width: 100%;
        .p-tabmenuitem {
            flex: 1 ;
            text-align: center;
    
            a {
                justify-content: center;
                width: 100%;
            }
        }
    }

    .p-datatable-orders{
        margin-top: 1rem;
    }
}