

<div class="grid table-demo">
    <div class="col-12">
        <div class="card">
            <h2>{{'dashboadPostScreen.Systemstatistics' | translate}}</h2>
            <hr>
            <div class="statistic-type">{{'dashboadPostScreen.Alltime' | translate}}</div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalpostsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalPosts}}</span>
        
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalbannedpostsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalBannedPosts}}</span>
                        <!-- <div class="data-percent"
                            [class.text-green-500]="data.orderCountPercent > 0"
                            [class.text-red-500]="data.orderCountPercent < 0"
                        >
                            {{data.orderCountPercent}}%
                        </div> -->
                        <!-- <div class="data-percent">
                            999%
                        </div> -->
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalpostreportsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalPostReports}}</span>
                        <!-- <div class="data-percent"
                            [class.text-green-500]="data.orderCountPercent > 0"
                            [class.text-red-500]="data.orderCountPercent < 0"
                        >
                            {{data.orderCountPercent}}%
                        </div> -->
                        <!-- <div class="data-percent">
                            999%
                        </div> -->
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title"> {{'dashboadPostScreen.Totalpendingpost' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalPendingPostReports}}</span>
                        <!-- <div class="data-percent"
                            [class.text-green-500]="data.orderCountPercent > 0"
                            [class.text-red-500]="data.orderCountPercent < 0"
                        >
                            {{data.orderCountPercent}}%
                        </div> -->
                        <!-- <div class="data-percent">
                            999%
                        </div> -->
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalapprovedpostreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalApprovedPostReports}}</span>
                        <!-- <div class="data-percent"
                            [class.text-green-500]="data.orderCountPercent > 0"
                            [class.text-red-500]="data.orderCountPercent < 0"
                        >
                            {{data.orderCountPercent}}%
                        </div> -->
                        <div class="data-percent">
                            {{'dashboadPostScreen.Mydata' | translate}}: {{myStatistics.totalApprovedPostReports}}
                        </div>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalnotapprovedpostreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{allTimeStatistics.totalNotapprovedPostReports}}</span>
                        <!-- <div class="data-percent"
                            [class.text-green-500]="data.orderCountPercent > 0"
                            [class.text-red-500]="data.orderCountPercent < 0"
                        >
                            {{data.orderCountPercent}}%
                        </div> -->
                        <div class="data-percent">
                            {{'dashboadPostScreen.Mydata' | translate}}: {{myStatistics.totalNotapprovedPostReports}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <p-chart type="bar" [data]="data" [options]="options"></p-chart> -->

            <hr>
            <div class="statistic-type">{{'dashboadPostScreen.Fromdatetodate' | translate}}</div>
            <div class="col-12 md:col-12">
                <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                    <label style="margin-right: 1rem">{{'dashboadPostScreen.Datatime' | translate}}: </label>
                    <p-calendar [(ngModel)]="systemCalendarRangeDates" selectionMode="range" [readonlyInput]="true"
                        [maxDate]="currentDate" (onClose)="onCloseCalendar(1,$event)"></p-calendar>
                </div>
            </div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalpostsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalPosts}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalbannedpostsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalBannedPosts}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalpostreportsinthesystem' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalPostReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalpendingpostreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalPendingPostReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalapprovedpostreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalApprovedPostReports}}</span>
                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Totalnotapprovedpostreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{systemData.totalNotApprovedPostReports}}</span>
                    </div>
                </div>
            </div>
            <p-chart *ngIf="isDisplaySystemChart" type="line" [data]="systemData" [options]="options"></p-chart>

        </div>



        <div class="card">
            <h2>{{'dashboadPostScreen.Mystatistics' | translate}}</h2>
            <div class="col-12 md:col-12">
                <div class="col-12 mb-2 lg:col-4 mb-lg-0">
                    <label style="margin-right: 1rem">{{'dashboadPostScreen.Datatime' | translate}}: </label>
                    <p-calendar [(ngModel)]="myCalendarRangeDates" selectionMode="range" [readonlyInput]="true"
                        [maxDate]="currentDate" (onClose)="onCloseCalendar(2,$event)"></p-calendar>
                </div>
            </div>

            <div class="overview-list">
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Approvedpostreports' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{myData.totalApprovedPostReports}}</span>

                    </div>
                </div>
                <div class="overview-item">
                    <span>
                        <div class="title">{{'dashboadPostScreen.Notapprovedpost' | translate}}: </div>
                    </span>
                    <div class="data">
                        <span>{{myData.totalNotApprovedPostReports}}</span>

                    </div>
                </div>
            </div>

            <p-chart *ngIf="isDisplayMyChart" type="line" [data]="myData" [options]="options"></p-chart>
        </div>
    </div>

</div>
<cmis-loading></cmis-loading>