<div class="grid table-demo">
    <div class="col-12">
        <div class="card">
            <h5>{{'voucherScreen.voucherManagement' | translate}}</h5>

            <p-table #dt [value]="lstVoucher" dataKey="id"
                     styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                     [showCurrentPageReport]="true"
                     [paginator]="lstVoucher.length > 5" [filterDelay]="0" [rowsPerPageOptions]="[5,10,25,50]"
                     currentPageReportTemplate="{{'voucherScreen.total' | translate}}: {totalRecords} {{'voucherScreen.voucher' | translate}}"
                     [globalFilterFields]="['code']" responsiveLayout="scroll"
                     [loading]="loading"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row align-items-center flex-wrap justify-content-between ">
                        <div class="flex-1">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"  #textInput 
                                       (input)="dt.filterGlobal(textInput.value, 'contains')"
                                       placeholder="{{'voucherScreen.SearchVoucherbyname' | translate}}"/>
                            </span>
                        </div>

                        <div class="flex-4 flex flex-row flex-wrap justify-content-center gap-3" style="gap: 0.5rem">
                            <div class="flex align-items-center justify-content-center">
                                <button pButton type="button" label="{{'button.Addnew' | translate}}" icon="pi pi-plus"
                                    (click)="onCreateVoucher()"
                                        style="width: auto;"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code">
                            <div class="flex justify-content-between align-items-center">
                                <!-- {{'voucherScreen.code' | translate}}
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="code" display="menu"
                                                class="ml-auto"></p-columnFilter> -->
                                {{'label.No' | translate}}
                            </div>
                        </th>
                        <th pSortableColumn="discountAmount">
                            <div class="flex justify-content-between align-items-center">
                                {{'voucherScreen.discountAmount' | translate}}
                                <p-sortIcon field="discountAmount"></p-sortIcon>
                                <p-columnFilter type="text" field="discountAmount" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="minimumOrder">
                            <div class="flex justify-content-between align-items-center">
                                {{'voucherScreen.minimumOrder' | translate}}
                                <p-sortIcon field=" minimumOrder"></p-sortIcon>
                                <p-columnFilter type="text" field="minimumOrder" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="effectiveDate">
                            <div class="flex justify-content-between align-items-center">
                                {{'voucherScreen.effectiveDate' | translate}}
                                <p-sortIcon field="effectiveDate"></p-sortIcon>
                                <p-columnFilter type="numeric" field="effectiveDate" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        
                        <th pSortableColumn="expireDate">
                            <div class="flex justify-content-between align-items-center">
                                {{'voucherScreen.expireDate' | translate}}
                                <p-sortIcon field="expireDate"></p-sortIcon>
                                <p-columnFilter type="text" field="expireDate" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="expireDate">
                            <div class="flex justify-content-between align-items-center">
                                {{'voucherScreen.status' | translate}}
                                <p-sortIcon field="status"></p-sortIcon>
                                <p-columnFilter type="text" field="status" display="menu"
                                                class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div 
                                 class="flex justify-content-between align-items-center">
                                {{'voucherScreen.action' | translate}}
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-voucher let-rowIndex="rowIndex">
                    <tr class="p-selectable-row">
                        
                        <td>
                            <span class="p-column-title">{{'label.No' | translate}}</span>
                            <span class="post-id">{{rowIndex + 1}}</span>
                        </td>
                        <td>
                            <span class="p-column-title">{{'voucherScreen.discountAmount' | translate}}</span>
                            {{voucher.discountAmount}}
                        </td>
                        <td >
                            <span class="p-column-title">{{'voucherScreen.minimumOrder' | translate}}</span>
                            {{voucher.minimumOrderValue}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'voucherScreen.effectiveDate' | translate}}</span>
                            {{voucher.effectiveDate | date:'dd/MM/yyyy hh:mm a'}}
                        </td>
                        <td >
                            <span class="p-column-title">{{'voucherScreen.expireDate' | translate}}</span>
                            {{voucher.expireDate | date:'dd/MM/yyyy hh:mm a'}}
                        </td>
                        <td >
                            <span class="p-column-title">{{'voucherScreen.status' | translate}}</span>
                            <p-tag [value]="voucher.status" [severity]="getSeverity(voucher.status)"></p-tag>
                        </td>
                        
                        <td style="text-align: center">
                            <div class="flex justify-content-center flex-wrap" style="gap: 0.5rem">
                                <div class="flex align-items-center justify-content-center">
                                    <button pButton pRipple icon="pi pi-pencil"
                                            (click)="onUpdateVoucher(voucher)"
                                            class="p-button-rounded p-mr-2"></button>
                                </div>
                                
                                    <div *ngIf="voucher.status === 'Display'; else statusHide" class="flex align-items-center justify-content-center">
                                        <button pButton pRipple icon="pi pi-eye-slash"
                                                (click)="onHideVoucher(voucher, $event)"
                                                class="p-button-rounded p-button-danger"></button>
                                    </div>
                                    <ng-template #statusHide>
                                        <div class="flex align-items-center justify-content-center">
                                            <button pButton pRipple icon="pi pi-eye"
                                                    (click)="onDisplayVoucher(voucher, $event)"
                                                    class="p-button-rounded p-button-danger"></button>
                                        </div>
                                    </ng-template>
                                
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">{{'voucherScreen.emptymessage' | translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog [header]="headerDialog" [(visible)]="displayDialogEditAddVoucher"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [maximizable]="true"
          (onHide)="onHideDialogEditAdd()"
          >
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="card">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <b>{{'voucherScreen.Voucherinformation' | translate}}</b>
                    </div>
                </p-divider>
                <div class="grid">
                    
                    <ng-container >
                        <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                            <label>{{'voucherScreen.discountAmount' | translate}}*</label>
                            <span class="p-input-icon-left p-float-label" style="width: 100%">
                                <input type="text"  step="5000" min="0"  class="w-full" [(ngModel)] = "voucherModel.discountAmount"
                                  pInputText 
                                  />                                
                            </span>                           
                        </div>
                        
                        <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                            <label>{{'voucherScreen.minimumOrder' | translate}}*</label>
                            <span class="p-input-icon-left p-float-label" style="width: 100%">
                                <input type="text"  step="5000" min="0"  class="w-full" [(ngModel)] = "voucherModel.minimumOrderValue"
                                  pInputText
                                  />
                               
                            </span>
                            
                        </div>
                    </ng-container>
                    <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                        <label>{{'voucherScreen.effectiveDate' | translate}}*</label>
                        <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <input type="datetime-local"  step="5000" min="0"  class="w-full" [(ngModel)] = "voucherModel.effectiveDate"
                                  pInputText
                                  />
                                 
                        </span>
                        
                    </div>
                    <div class="col-12 mb-2 lg:col-6 mb-lg-0">
                        <label>{{'voucherScreen.expireDate' | translate}}*</label>
                        <span class="p-input-icon-left p-float-label" style="width: 100%">
                            <input type="datetime-local"  step="5000" min="0"  class="w-full" [(ngModel)] = "voucherModel.expireDate"
                                  pInputText
                                  />
                        </span>   
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center flex-wrap" style="text-align: center">
            <div  class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="{{'button.save' | translate}}" icon="pi pi-save"
                 (click)="onSaveVoucher()" style="width: 100%;"
               >
                </button>
            </div>
            <div class="flex align-items-center justify-content-center" style="text-align: center">
                <button pButton type="button" label="{{'button.cancel' | translate}}" icon="pi pi-times"
                        (click)="onCancelVoucher()"class="p-button-danger"
                        style="width: 100%;"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-toast [baseZIndex]="99999" key="notify"></p-toast>

<p-confirmPopup></p-confirmPopup>

<p-confirmDialog key="uhideFood" header="Hide/UnHide Post" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<cmis-loading></cmis-loading>